Repository LawnchairLauncher/lawnicons, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, icons, locale

Fix missing space in mail request file string
  app/src/main/res/values/strings.xml
Labels: locale

Extract previous release checker to python file
  app/assets/appfilter_previous.xml
  generate_previous_release.py
  svg-processor/build.gradle.kts
  svg-processor/src/main/kotlin/app/lawnchair/lawnicons/helper/AppfilterDiffCreator.kt
  svg-processor/src/main/kotlin/app/lawnchair/lawnicons/helper/Main.kt
Labels: none

Fix file path of `appfilter_diff.xml`
  svg-processor/src/main/kotlin/app/lawnchair/lawnicons/helper/AppfilterDiffCreator.kt
Labels: none

Address some issues mentioned in the pr
  app/assets/appfilter.xml
  svgs/55688.svg
  svgs/nekoatsume.svg
  svgs/nekoatsume2.svg
  svgs/purewriter.svg
  svgs/survivalcraft.svg
  svgs/survivalcraft2.svg
Labels: icons

svg name fix
  svgs/55688.svg
  svgs/_55688.svg
Labels: icons

Various fixes
  app/assets/appfilter.xml
  svgs/_55688.svg
  svgs/google_journal.svg
  svgs/journal.svg
  svgs/neko_atsume.svg
  svgs/neko_atsume_2.svg
  svgs/nekoatsume.svg
  svgs/nekoatsume2.svg
  svgs/pure_writer.svg
  svgs/purewriter.svg
  svgs/survivalcraft2.svg
  svgs/survivalcraft_2.svg
Labels: icons

+7 icon, +1 link (#3014)
  app/assets/appfilter.xml
  svgs/_55688.svg
  svgs/google_journal.svg
  svgs/neko_atsume.svg
  svgs/neko_atsume_2.svg
  svgs/pure_writer.svg
  svgs/survivalcraft.svg
  svgs/survivalcraft_2.svg
Labels: icons

Fixed icon issues
  svgs/bocflex.svg
  svgs/flashboard.svg
  svgs/hnbdigitalbanking.svg
  svgs/koko.svg
  svgs/sampathvishwa.svg
  svgs/smartpassbook.svg
Labels: icons

Shortened naming guidelines
  CONTRIBUTING.md
Labels: docs

Shortened naming guidelines (#3017)
  CONTRIBUTING.md
Labels: docs

.github/labeler.yml:

docs:
- changed-files:
  - any-glob-to-any-file:
    - "*.md"
    - .github/PULL_REQUEST_TEMPLATE/*.md
    - .github/pull_request_template.md
    - docs/**

icons:
- changed-files:
  - any-glob-to-any-file:
    - svgs/*
    - app/assets/appfilter.xml

code:
- any:
  - changed-files:
    - any-glob-to-any-file: ['app/**/*']
- all:
  - changed-files:
    - any-glob-to-any-file: ['!app/assets/appfilter.xml', '!app/src/main/res/*/strings.xml']

locale:
- changed-files:
  - any-glob-to-any-file:
    - app/src/main/res/*/strings.xml
