Repository LawnchairLauncher/lawnicons, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, icons, code

10 icons: Bitmask, Vampire Survivors, WiFiman
  app/assets/appfilter.xml
  svgs/bitmask.svg
  svgs/desmos_scientific_calculator.svg
  svgs/discover.svg
  svgs/hypatia.svg
  svgs/moises.svg
  svgs/nico_video.svg
  svgs/pnb_one.svg
  svgs/sms_import_export.svg
  svgs/vampire_survivors.svg
  svgs/wifiman.svg
Labels: icons, code

Revert "Update outcome check in workflow to use success()"
  .github/workflows/first_pr_interaction.yml
Labels: none

10 icons: Bitmask, Vampire Survivors, WiFiman (#1581)
  app/assets/appfilter.xml
  svgs/bitmask.svg
  svgs/desmos_scientific_calculator.svg
  svgs/discover.svg
  svgs/hypatia.svg
  svgs/moises.svg
  svgs/nico_video.svg
  svgs/pnb_one.svg
  svgs/sms_import_export.svg
  svgs/vampire_survivors.svg
  svgs/wifiman.svg
Labels: icons, code

add link for molly's unifiedpush variant
  app/assets/appfilter.xml
Labels: icons, code

Add unifilm.de
  app/assets/appfilter.xml
  svgs/unifilm-de.svg
Labels: icons, code

change filename to unifilm_de
  app/assets/appfilter.xml
  svgs/unifilm_de.svg
Labels: icons, code

add link for SimpleContacts Pro Fork
  app/assets/appfilter.xml
Labels: icons, code

Link Burger King PH
  app/assets/appfilter.xml
Labels: icons, code

Added other links for BK
  app/assets/appfilter.xml
Labels: icons, code

Style fix
  app/assets/appfilter.xml
Labels: icons, code

+19 links for Burger King (#1585)
  app/assets/appfilter.xml
Labels: icons, code

Move docs out of .github folder
  CODE_OF_CONDUCT.md
  LICENSE
  README.md
  docs/CONTRIBUTING.md
  docs/icontool_guide.md
  docs/images/contributing-image-3.png
  docs/images/contributing-image-4.png
  docs/images/creating-icons-1-artboard.png
  docs/images/creating-icons-2-foundation.png
  docs/images/creating-icons-3-balance.png
  docs/images/creating-icons-3-detail.png
  docs/images/creating-icons-4-outline.png
  docs/images/creating-icons-5-balance.png
Labels: none

Disable trim_trailing_whitespace for md files
  .editorconfig
Labels: none

Disable trim_trailing_whitespace for md files (#1586)
  .editorconfig
Labels: none

Move CONTRIBUTING.md out
  CONTRIBUTING.md
  README.md
Labels: none

Move docs out of .github folder (#1587)
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
  README.md
  docs/icontool_guide.md
  docs/images/contributing-image-3.png
  docs/images/contributing-image-4.png
  docs/images/creating-icons-1-artboard.png
  docs/images/creating-icons-2-foundation.png
  docs/images/creating-icons-3-balance.png
  docs/images/creating-icons-3-detail.png
  docs/images/creating-icons-4-outline.png
  docs/images/creating-icons-5-balance.png
Labels: none

Add 1 link for "FeedMe" app
  app/assets/appfilter.xml
Labels: icons, code

Added +1 link for "Airbnb"
  app/assets/appfilter.xml
Labels: icons, code

Fixing a link after #1587
  README.md
Labels: none

Fixing a link in the description (#1590)
  README.md
Labels: none

Updated Syntax
  app/assets/appfilter.xml
Labels: icons, code

Updated Syntax to pass Stylecheck
  app/assets/appfilter.xml
Labels: icons, code

Add C24
  app/assets/appfilter.xml
Labels: icons, code

Updated syntax & error
  app/assets/appfilter.xml
Labels: icons, code

+10 icons: EX Kernel Manager, Extirpater, VTLite
  app/assets/appfilter.xml
  svgs/andotp.svg
  svgs/clash_meta.svg
  svgs/compendium.svg
  svgs/converter_now.svg
  svgs/easter_eggs.svg
  svgs/ex_kernel_manager.svg
  svgs/extirpater.svg
  svgs/pizza_hut.svg
  svgs/sony_sketch.svg
  svgs/tenda_wifi.svg
  svgs/vtlite.svg
Labels: icons, code

Syntax Fix
  app/assets/appfilter.xml
Labels: icons, code

+10 icons: EX Kernel Manager, Extirpater, VTLite (#1592)
  app/assets/appfilter.xml
  svgs/andotp.svg
  svgs/clash_meta.svg
  svgs/compendium.svg
  svgs/converter_now.svg
  svgs/easter_eggs.svg
  svgs/ex_kernel_manager.svg
  svgs/extirpater.svg
  svgs/pizza_hut.svg
  svgs/sony_sketch.svg
  svgs/tenda_wifi.svg
  svgs/vtlite.svg
Labels: icons, code

Add 1 link for "FeedMe" app (#1588)
  app/assets/appfilter.xml
Labels: icons, code

Added +1 link for "Airbnb" (#1589)
  app/assets/appfilter.xml
Labels: icons, code

Add links (#1591)
  app/assets/appfilter.xml
Labels: icons, code

Added GPSTest to resolve merge conflict
  app/assets/appfilter.xml
Labels: icons, code

Added changes to current version of appfilter.xml to hopefully resolve merge conflict
  app/assets/appfilter.xml
Labels: icons, code

Add Polish Translation (#1580)
  app/src/main/res/values-pl/strings.xml
Labels: code

Link Molly's unified-push variant (#1582)
  app/assets/appfilter.xml
Labels: icons, code

Add link for Simple Contacts Pro SE (#1584)
  app/assets/appfilter.xml
Labels: icons, code

.github/labeler.yml:

docs:
  - .github/*.md
  - .github/ISSUE_TEMPLATE/*.md

icons:
  - svgs/*
  - app/assets/appfilter.xml

code:
  - app/**
