Repository LawnchairLauncher/lawnicons, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, icons, locale

.github/labeler.yml:

docs:
  - "*.md"
  - .github/PULL_REQUEST_TEMPLATE/*.md
  - .github/pull_request_template.md
  - docs/**

icons:
  - svgs/*
  - app/assets/appfilter.xml

code:
  - any: ['app/**/*']
    all: ['!app/assets/appfilter.xml', '!app/src/main/res/*/strings.xml']

locale:
  - app/src/main/res/*/strings.xml

replaced appfilter.xml with upstream and added links to icons
  app/assets/appfilter.xml
Labels: icons

spotlessApply task to fix formatting errors in appfilter.xml
  app/assets/appfilter.xml
Labels: icons

Set up Compose rules
  build.gradle.kts
Labels: none

Apply kotlinx-collections-immutable
  app/build.gradle.kts
Labels: none

Fix styles
  app/src/main/kotlin/app/lawnchair/lawnicons/model/IconInfoModel.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/repository/IconRepository.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/ContributorRow.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/ContributorRowPlaceholder.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/ExternalLinkRow.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/core/Card.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/core/LawniconsScaffold.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/core/SimpleListRow.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/core/SystemUi.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/core/TopAppBar.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/home/ClickableIcon.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/home/IconInfoPopup.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/home/IconPreview.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/home/IconPreviewGrid.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/home/PlaceholderSearchBar.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/home/SearchBar.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/destination/About.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/destination/Acknowledgement.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/destination/Acknowledgements.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/destination/Contributors.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/destination/Home.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/util/PreviewUtils.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/viewmodel/ContributorsViewModel.kt
Labels: none

Remove import
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/home/SearchBar.kt
Labels: none

+10 icons: Devialet Gemini, Monument Valley, TapTap
  app/assets/appfilter.xml
  svgs/devialet_gemini.svg
  svgs/device_policy.svg
  svgs/micopacks.svg
  svgs/monument_valley.svg
  svgs/paramount_plus.svg
  svgs/postcard_creator.svg
  svgs/samsung_battery_guardian.svg
  svgs/samsung_private_share.svg
  svgs/tap_tap.svg
  svgs/taptap.svg
  svgs/zerotier_fix.svg
Labels: icons

+10 icons: Devialet Gemini, Monument Valley, TapTap (#1651)
  app/assets/appfilter.xml
  svgs/devialet_gemini.svg
  svgs/device_policy.svg
  svgs/micopacks.svg
  svgs/monument_valley.svg
  svgs/paramount_plus.svg
  svgs/postcard_creator.svg
  svgs/samsung_battery_guardian.svg
  svgs/samsung_private_share.svg
  svgs/tap_tap.svg
  svgs/taptap.svg
  svgs/zerotier_fix.svg
Labels: icons

Adding Inianl and pyypl icons
  svgs/ininal.svg
  svgs/pyypl.svg
Labels: icons

Update appfilter.xml
  app/assets/appfilter.xml
Labels: icons

Updating the link to Lawnicons guidelines
  .github/PULL_REQUEST_TEMPLATE/icon_addition.md
Labels: docs

Updating the link to Lawnicons guidelines (#1653)
  .github/PULL_REQUEST_TEMPLATE/icon_addition.md
Labels: docs

add dingtalk
  app/assets/appfilter.xml
  svgs/dingtalk.svg
Labels: icons

Use mrmans0n Compose rules to check styles (#1650)
  app/build.gradle.kts
  app/src/main/kotlin/app/lawnchair/lawnicons/model/IconInfoModel.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/repository/IconRepository.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/ContributorRow.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/ContributorRowPlaceholder.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/ExternalLinkRow.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/core/Card.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/core/LawniconsScaffold.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/core/SimpleListRow.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/core/SystemUi.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/core/TopAppBar.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/home/ClickableIcon.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/home/IconInfoPopup.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/home/IconPreview.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/home/IconPreviewGrid.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/home/PlaceholderSearchBar.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/home/SearchBar.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/destination/About.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/destination/Acknowledgement.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/destination/Acknowledgements.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/destination/Contributors.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/destination/Home.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/util/PreviewUtils.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/viewmodel/ContributorsViewModel.kt
  build.gradle.kts
Labels: none

Use androidComponents
  app/build.gradle.kts
Labels: none

Add a task to copy
  app/build.gradle.kts
Labels: none

Rename
  app/build.gradle.kts
Labels: none

Fix
  app/build.gradle.kts
Labels: none

Style
  app/build.gradle.kts
Labels: none

Divide folders
  app/build.gradle.kts
Labels: none

Optimize artifacts copy task (#1655)
  app/build.gradle.kts
Labels: none

fix dingtalk
  app/assets/appfilter.xml
  svgs/dingtalk.svg
Labels: icons

add icon for DingTalk (#1654)
  app/assets/appfilter.xml
  svgs/dingtalk.svg
Labels: icons
