Repository LawnchairLauncher/lawnicons, pull requests merged in 2022-09, with the labels that each got.

#525 7 icons added
  app/src/main/res/drawable/allegro.xml
  app/src/main/res/drawable/anything_to_pip.xml
  app/src/main/res/drawable/dominos.xml
  app/src/main/res/drawable/riot_mobile.xml
  app/src/main/res/drawable/yuka.xml
  app/src/main/res/drawable/zalando.xml
  app/src/main/res/drawable/zara.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/allegro.svg
  svgs/anything_to_pip.svg
  svgs/dominos.svg
  svgs/riot_mobile.svg
  svgs/yuka.svg
  svgs/zalando.svg
  svgs/zara.svg
Labels: changes requested

#670 Modernize a bit
  .editorconfig
  .gitattributes
  .github/workflows/build_debug_apk.yml
  .github/workflows/build_release_apk.yml
  .gitignore
  app/.gitignore
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  build.gradle.kts
  buildSrc/.gitignore
  buildSrc/build.gradle.kts
  buildSrc/src/main/java/Versions.kt
  gradle.properties
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  settings.gradle.kts
Labels: enhancement

#657 Remove `ic_` prefix from all remaining icons
  app/src/main/res/drawable/brawl_stars.xml
  app/src/main/res/drawable/ic_brawl_stars.xml
  app/src/main/res/drawable/ic_vlc.xml
  app/src/main/res/drawable/vlc.xml
Labels: changes requested

#542 Brave icon replace + Add Beta and Nightly
  app/src/main/res/drawable/brave_beta_browser.xml
  app/src/main/res/drawable/brave_browser.xml
  app/src/main/res/drawable/brave_nightly_browser.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/brave_beta_browser.svg
  svgs/brave_browser.svg
  svgs/brave_nightly_browser.svg
Labels: changes requested

#658 Add Clipto, Xodo, Flud, QuickEdit
  app/src/main/res/drawable/clipto.xml
  app/src/main/res/drawable/flud.xml
  app/src/main/res/drawable/quickedit.xml
  app/src/main/res/drawable/xodo_pdf.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/clipto.svg
  svgs/flud.svg
  svgs/quickedit.svg
  svgs/xodo_pdf.svg
Labels: needs review

#673 Add Physics Wallah
  app/src/main/res/drawable/physics_wallah.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/physics_wallah.svg
Labels: changes requested

#685 Add YT Kids
  app/src/main/res/drawable/youtube_kids.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/youtube_kids.svg
Labels: changes requested

#669 Added 13 icons
  app/src/main/res/drawable/aliucord_installer.xml
  app/src/main/res/drawable/coffee.xml
  app/src/main/res/drawable/download_navi.xml
  app/src/main/res/drawable/droidify.xml
  app/src/main/res/drawable/ffupdater.xml
  app/src/main/res/drawable/ibispaint_x.xml
  app/src/main/res/drawable/icon_pack_studio.xml
  app/src/main/res/drawable/pixapencil.xml
  app/src/main/res/drawable/raindrop.xml
  app/src/main/res/drawable/screenshot_tile_noroot.xml
  app/src/main/res/drawable/simple_qr.xml
  app/src/main/res/drawable/the_battle_cats.xml
  app/src/main/res/drawable/xtra.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/aliucord_installer.svg
  svgs/coffee.svg
  svgs/download_navi.svg
  svgs/droidify.svg
  svgs/ffupdater.svg
  svgs/ibispaint_x.svg
  svgs/icon_pack_studio.svg
  svgs/pixapencil.svg
  svgs/raindrop.svg
  svgs/screenshot_tile_noroot.svg
  svgs/simple_qr.svg
  svgs/the_battle_cats.svg
  svgs/xtra.svg
Labels: changes requested

#692 Add Cred
  app/src/main/res/drawable/clock.xml
  app/src/main/res/drawable/cred.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/clock.svg
  svgs/cred.svg
Labels: needs review

#693 Add Slice
  app/src/main/res/drawable/sliceit.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/sliceit.svg
Labels: changes requested

#688 Update Corona-Warn icon & add Geogebra Graphing Calc and Pons Translate
  app/src/main/res/drawable/corona_warn.xml
  app/src/main/res/drawable/graphing_calc.xml
  app/src/main/res/drawable/pons_translate.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/corona_warn.svg
  svgs/graphing_calc.svg
  svgs/pons_translate.svg
Labels: changes requested

#694 Add 3 new Opera icons
  app/src/main/res/drawable/opera_beta.xml
  app/src/main/res/drawable/opera_beta_mini.xml
  app/src/main/res/drawable/opera_mini.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/opera_beta.svg
  svgs/opera_beta_mini.svg
  svgs/opera_mini.svg
Labels: needs review

#698 Add AR Zone
  app/src/main/res/drawable/ar_zone.xml
  app/src/main/res/drawable/swiggy.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/ar_zone.svg
  svgs/swiggy.svg
Labels: needs review

#695 Add paytm icon
  app/src/main/res/drawable/paytm.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/paytm.svg
Labels: needs review

#691 Added 12 icons (some for MIUI), Updated 1, Linked 1
  app/src/main/res/drawable/aliexpress.xml
  app/src/main/res/drawable/anydesk.xml
  app/src/main/res/drawable/compass.xml
  app/src/main/res/drawable/download.xml
  app/src/main/res/drawable/ninenine.xml
  app/src/main/res/drawable/notes.xml
  app/src/main/res/drawable/qr_reader.xml
  app/src/main/res/drawable/repainter.xml
  app/src/main/res/drawable/scanner.xml
  app/src/main/res/drawable/screen_recorder.xml
  app/src/main/res/drawable/themes.xml
  app/src/main/res/drawable/urbano_norte.xml
  app/src/main/res/drawable/weather.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/aliexpress.svg
  svgs/anydesk.svg
  svgs/compass.svg
  svgs/download.svg
  svgs/ninenine.svg
  svgs/notes.svg
  svgs/qr_reader.svg
  svgs/repainter.svg
  svgs/scanner.svg
  svgs/screen_recorder.svg
  svgs/themes.svg
  svgs/urbano_norte.svg
  svgs/weather.svg
Labels: needs review

#696 Add Box, Medium, OLX Polska, Overdrop, Overdrop Pro
  app/src/main/res/drawable/box.xml
  app/src/main/res/drawable/medium.xml
  app/src/main/res/drawable/olx.xml
  app/src/main/res/drawable/overdrop.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/box.svg
  svgs/medium.svg
  svgs/olx.svg
  svgs/overdrop.svg
Labels: needs review

#701 Add Package Manager
  app/src/main/res/drawable/package_manager.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/package_manager.svg
Labels: changes requested

#702 Added 9 Icons, Updated 3, Linked 4
  app/src/main/res/drawable/capcut.xml
  app/src/main/res/drawable/crunchyroll.xml
  app/src/main/res/drawable/figma_mirror.xml
  app/src/main/res/drawable/generic_downloader.xml
  app/src/main/res/drawable/mega.xml
  app/src/main/res/drawable/mi_files.xml
  app/src/main/res/drawable/mi_music.xml
  app/src/main/res/drawable/mi_video.xml
  app/src/main/res/drawable/steam.xml
  app/src/main/res/drawable/steam_link.xml
  app/src/main/res/drawable/stremio.xml
  app/src/main/res/drawable/tim.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/capcut.svg
  svgs/crunchyroll.svg
  svgs/figma_mirror.svg
  svgs/generic_downloader.svg
  svgs/mega.svg
  svgs/mi_files.svg
  svgs/mi_music.svg
  svgs/mi_video.svg
  svgs/steam.svg
  svgs/steam_link.svg
  svgs/stremio.svg
  svgs/tim.svg
Labels: changes requested

#704 Add Redbus, Libre Torrent & Airtel Xstream
  app/src/main/res/drawable/libretorrent.xml
  app/src/main/res/drawable/redbus.xml
  app/src/main/res/drawable/xstream.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/libretorrent.svg
  svgs/redbus.svg
  svgs/xstream.svg
Labels: changes requested

#641 Add boursorama icon
  app/src/main/res/drawable/boursorama.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/boursorama.svg
Labels: changes requested

#706 Add calendar, Camera connect, IDFC and few more
  app/src/main/res/drawable/adobe.xml
  app/src/main/res/drawable/calendar.xml
  app/src/main/res/drawable/cameraconnect.xml
  app/src/main/res/drawable/hdfc.xml
  app/src/main/res/drawable/idfc.xml
  app/src/main/res/drawable/manipal_hospitals.xml
  app/src/main/res/drawable/pager_duty.xml
  app/src/main/res/drawable/simpl_pay.xml
  app/src/main/res/drawable/udemy.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/adobe.svg
  svgs/calendar.svg
  svgs/cameraconnect.svg
  svgs/hdfc.svg
  svgs/idfc.svg
  svgs/manipal_hospitals.svg
  svgs/pager_duty.svg
  svgs/simpl_pay.svg
  svgs/udemy.svg
Labels: changes requested

#709 Add fave, imobile, firstcry
  app/src/main/res/drawable/fave.xml
  app/src/main/res/drawable/firstcry.xml
  app/src/main/res/drawable/imobile.xml
  app/src/main/res/drawable/iriun_webcam.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/fave.svg
  svgs/firstcry.svg
  svgs/imobile.svg
  svgs/iriun_webcam.svg
Labels: needs review

#711 Speed up a bit
  .github/workflows/build_debug_apk.yml
  .github/workflows/build_release_apk.yml
  app/build.gradle.kts
  gradle.properties
Labels: housekeeping
