Repository LawnchairLauncher/lawnicons, pull requests merged in 2022-08, with the labels that each got.

#621 Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: needs review

#549 Add Codecademy Go
  app/src/main/res/drawable/ic_codecademy_go.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/codecademy_go.svg
Labels: changes requested

#606 Add 6 Icons, Link 1 Icon, and sort lines alphabetically in `grayscale_icon_map.xml`
  app/src/main/res/drawable/binary_eye.xml
  app/src/main/res/drawable/lesspass.xml
  app/src/main/res/drawable/neo_store.xml
  app/src/main/res/drawable/sim_toolkit.xml
  app/src/main/res/drawable/twidere.xml
  app/src/main/res/drawable/wild_rift.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/binary_eye.svg
  svgs/lesspass.svg
  svgs/neo_store.svg
  svgs/sim_toolkit.svg
  svgs/twidere.svg
  svgs/wild_rift.svg
Labels: under discussion

#618 Update Google Play Store Icon
  app/src/main/res/drawable/google_play_store.xml
  svgs/google_play_store.svg
Labels: needs review

#539 Add XPlayer
  app/src/main/res/drawable/ic_xplayer.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/xplayer.svg
Labels: changes requested

#582 Add WTMP
  app/src/main/res/drawable/ic_who_touched_my_phone.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/who_touched_my_phone.svg
Labels: changes requested

#614 Oxygen OS 12 dialer app icon is showing as contact icon
  app/src/main/res/xml/grayscale_icon_map.xml
Labels: needs review

#628 Update contacts icon
  app/src/main/res/drawable/contacts.xml
  svgs/contacts.svg
Labels: changes requested

#574 Add YouTube ReVanced icon
  app/src/main/res/drawable/youtube_revanced.xml
  app/src/main/res/xml/grayscale_icon_map.xml
Labels: changes requested

#551 Add Proddy
  app/src/main/res/drawable/proddy.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/proddy.svg
Labels: changes requested

#553 Adds Milanote
  app/src/main/res/drawable/ic_milanote.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/milanote.svg
Labels: changes requested

#460 Add netzclub
  app/src/main/res/drawable/netzclub.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/netzclub.svg
Labels: changes requested

#635 Add Naver Map/Dictionary app icons
  app/src/main/res/drawable/naver_dictionary.xml
  app/src/main/res/drawable/naver_map.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/naver_dictionary.svg
  svgs/naver_map.svg
Labels: changes requested

#627 Add Boom Beach & Feeder
  app/src/main/res/drawable/boom_beach.xml
  app/src/main/res/drawable/feeder.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/boom_beach.svg
  svgs/feeder.svg
Labels: needs review

#640 Added 5 icons
  app/src/main/res/drawable/data_monitor.xml
  app/src/main/res/drawable/quillnote.xml
  app/src/main/res/drawable/squircle.xml
  app/src/main/res/drawable/sudoku.xml
  app/src/main/res/drawable/trail_sense.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/data_monitor.svg
  svgs/quillnote.svg
  svgs/squircle.svg
  svgs/sudoku.svg
  svgs/trail_sense.svg
Labels: needs review
