Repository LawnchairLauncher/lawnicons, pull requests merged in 2022-10, with the labels that each got.

#721 Add afk_arena icon
  app/src/main/res/drawable/afk_arena.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/afk_arena.svg
Labels: needs review

#722 Add Shareme
  app/src/main/res/drawable/share_me.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/share_me.svg
Labels: needs review

#718 Add 8 icons and link 3 icons
  app/src/main/res/drawable/cardboard.xml
  app/src/main/res/drawable/lawnchair.xml
  app/src/main/res/drawable/lemuroid.xml
  app/src/main/res/drawable/photo_compare.xml
  app/src/main/res/drawable/photo_editor.xml
  app/src/main/res/drawable/pou.xml
  app/src/main/res/drawable/saber.xml
  app/src/main/res/drawable/seal.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/cardboard.svg
  svgs/lawnchair.svg
  svgs/lemuroid.svg
  svgs/photo_compare.svg
  svgs/photo_editor.svg
  svgs/pou.svg
  svgs/saber.svg
  svgs/seal.svg
Labels: changes requested

#533 Add Printers
  app/src/main/res/drawable/printer.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/printer.svg
Labels: changes requested

#546 Add Catima
  app/src/main/res/drawable/catima.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/catima.svg
Labels: changes requested

#527 Add Revolt
  app/src/main/res/drawable/revolt.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/revolt.svg
Labels: changes requested

#523 Add OpenAPK
  app/src/main/res/drawable/openapk.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/openapk.svg
Labels: changes requested

#507 Add Read You
  app/src/main/res/drawable/read_you.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/read_you.svg
Labels: changes requested

#503 Add Snapdrop
  app/src/main/res/drawable/snapdrop.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/snapdrop.svg
Labels: changes requested

#727 Kotlin 1.7.20
  app/build.gradle.kts
  build.gradle.kts
Labels: enhancement

#729 Link Gcam LMC version
  app/src/main/res/xml/grayscale_icon_map.xml
Labels: needs review

#734 Fix sizing issues from my previous PR / Clean Map a little
  app/src/main/res/drawable/adaway.xml
  app/src/main/res/drawable/dhl.xml
  app/src/main/res/drawable/enpass.xml
  app/src/main/res/drawable/feedly.xml
  app/src/main/res/drawable/figma.xml
  app/src/main/res/drawable/geometric_weather.xml
  app/src/main/res/drawable/infinity_for_reddit.xml
  app/src/main/res/drawable/loop.xml
  app/src/main/res/drawable/mega.xml
  app/src/main/res/drawable/notion.xml
  app/src/main/res/drawable/obsidian.xml
  app/src/main/res/drawable/seriesguide.xml
  app/src/main/res/drawable/sparkasse.xml
  app/src/main/res/drawable/thenx.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/adaway.svg
  svgs/dhl.svg
  svgs/enpass.svg
  svgs/feedly.svg
  svgs/figma.svg
  svgs/geometric_weather.svg
  svgs/infinity_for_reddit.svg
  svgs/loop.svg
  svgs/mega.svg
  svgs/notion.svg
  svgs/obsidian.svg
  svgs/seriesguide.svg
  svgs/sparkasse.svg
  svgs/thenx.svg
Labels: needs review

#738 Remove duplicates
  app/src/main/res/drawable/figma_mirror.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/figma_mirror.svg
Labels: needs review

#736 New icons
  app/src/main/res/drawable/connect.xml
  app/src/main/res/drawable/groupme.xml
  app/src/main/res/drawable/hinge.xml
  app/src/main/res/drawable/trime.xml
  app/src/main/res/drawable/wger.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/connect.svg
  svgs/groupme.svg
  svgs/hinge.svg
  svgs/trime.svg
  svgs/wger.svg
Labels: changes requested

#741 Add 3 new icons and link 3 duplicate icons into one
  app/src/main/res/drawable/generic_player.xml
  app/src/main/res/drawable/iceraven.xml
  app/src/main/res/drawable/imgurviewer.xml
  app/src/main/res/drawable/keepassdx.xml
  app/src/main/res/drawable/poweramp.xml
  app/src/main/res/drawable/ymusic.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/generic_player.svg
  svgs/iceraven.svg
  svgs/imgurviewer.svg
  svgs/keepassdx.svg
  svgs/poweramp.svg
  svgs/ymusic.svg
Labels: needs review

#720 Add Leboncoin
  app/src/main/res/drawable/leboncoin.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/leboncoin.svg
Labels: changes requested

#578 Add Chrome remote desktop
  app/src/main/res/drawable/chrome_remote_desktop.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/chrome_remote_desktop.svg
Labels: stale, changes requested

#742 Add Zepto, bigbasket and more
  app/src/main/res/drawable/bigbasket.xml
  app/src/main/res/drawable/flasher.xml
  app/src/main/res/drawable/free.xml
  app/src/main/res/drawable/zepto.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/bigbasket.svg
  svgs/flasher.svg
  svgs/free.svg
  svgs/zepto.svg
Labels: changes requested

#747 added Business Kalendar 2 as Link
  app/src/main/res/xml/grayscale_icon_map.xml
Labels: needs review

#554 Add plex
  app/src/main/res/drawable/plex.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/plex.svg
Labels: changes requested

#556 Add credit_mutuel
  app/src/main/res/drawable/credit_mutuel.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/credit_mutuel.svg
Labels: changes requested

#770 add dealabs icon
  app/src/main/res/drawable/dealabs.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/dealabs.svg
Labels: needs review

#769 Add icons for SchildiChat, BootBoi & NC-Photos
  app/src/main/res/drawable/bootboi.xml
  app/src/main/res/drawable/nc_photos.xml
  app/src/main/res/drawable/schildichat.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/bootboi.svg
  svgs/nc_photos.svg
  svgs/schildichat.svg
Labels: changes requested

#772 Add icons for Nextcloud Deck, Owntracks & Netguard
  app/src/main/res/drawable/netguard.xml
  app/src/main/res/drawable/nextcloud_deck.xml
  app/src/main/res/drawable/owntracks.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/netguard.svg
  svgs/nextcloud_deck.svg
  svgs/owntracks.svg
Labels: changes requested

#775 Add Another notes app and K-9 Mail icons
  app/src/main/res/drawable/another_notes_app.xml
  app/src/main/res/drawable/flstudio_mobile.xml
  app/src/main/res/drawable/k9_mail.xml
  app/src/main/res/drawable/openweather.xml
  app/src/main/res/drawable/samsung_health.xml
  app/src/main/res/drawable/tolino.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/another_notes_app.svg
  svgs/flstudio_mobile.svg
  svgs/k9_mail.svg
  svgs/openweather.svg
  svgs/samsung_health.svg
  svgs/tolino.svg
Labels: changes requested

#768 Add Calculator Plus icon
  app/src/main/res/drawable/calculator_plus.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/calculator_plus.svg
Labels: changes requested

#780 Update & link lawnchair icon
  app/src/main/res/drawable/lawnchair.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/lawnchair.svg
Labels: needs review

#778 Add BandLab, Curiosity Stream & Homeworker
  app/src/main/res/drawable/bandlab.xml
  app/src/main/res/drawable/curiosity_stream.xml
  app/src/main/res/drawable/homeworker.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/bandlab.svg
  svgs/curiosity_stream.svg
  svgs/homeworker.svg
Labels: changes requested
