Repository LawnchairLauncher/lawnicons, pull requests merged in 2023-06, with the labels that each got.

#1277 Linked 6 apps' icons
  .gitignore
  app/assets/appfilter.xml
Labels: needs review

#1275 50 icons and 1 link
  app/assets/appfilter.xml
  svgs/adobe_express.svg
  svgs/bankid.svg
  svgs/beats.svg
  svgs/cepteteb.svg
  svgs/cgeo.svg
  svgs/denizbank.svg
  svgs/disney_star_plus.svg
  svgs/dolap.svg
  svgs/e_titulo.svg
  svgs/fibabanka.svg
  svgs/galaxy_themes.svg
  svgs/getapps.svg
  svgs/google_voice.svg
  svgs/govbr.svg
  svgs/hsbc.svg
  svgs/http_injector.svg
  svgs/imagepipe.svg
  svgs/indeed.svg
  svgs/istanbulkart.svg
  svgs/j2me_loader.svg
  svgs/jbl_headphones.svg
  svgs/just_player.svg
  svgs/keenetic.svg
  svgs/mi_browser.svg
  svgs/millenicom.svg
  svgs/mupdf_viewer.svg
  svgs/n_kolay.svg
  svgs/noice.svg
  svgs/nokia_my_device.svg
  svgs/notebloc.svg
  svgs/oneplus_community.svg
  svgs/papara.svg
  svgs/param.svg
  svgs/productivity.svg
  svgs/puhutv.svg
  svgs/qnb_finansbank.svg
  svgs/sahibinden.svg
  svgs/samsung_video_library.svg
  svgs/smartpack_package_manager.svg
  svgs/tosla.svg
  svgs/upgradeall.svg
  svgs/vakif_katilim.svg
  svgs/walli_4k.svg
  svgs/wattpad.svg
  svgs/wynk_music.svg
  svgs/yemeksepeti.svg
  svgs/ykb.svg
  svgs/yono_sbi.svg
  svgs/zen_space.svg
  svgs/ziraat_mobile.svg
Labels: needs review

#1292 5 adds, 1 link
  app/assets/appfilter.xml
  svgs/gadgetbridge.svg
  svgs/hamburger.svg
  svgs/jami.svg
  svgs/kodi.svg
  svgs/moonlight.svg
Labels: changes requested

#1295 Add 51 new and 8 linked icons
  app/assets/appfilter.xml
  svgs/amarok.svg
  svgs/b_maniac.svg
  svgs/bancoposta.svg
  svgs/cinexplore.svg
  svgs/crypto.svg
  svgs/dankchat.svg
  svgs/disconnect.svg
  svgs/droidhole.svg
  svgs/f_droid_basic.svg
  svgs/fig.svg
  svgs/finance_manager.svg
  svgs/flashlight_tiramisu.svg
  svgs/gappsmod.svg
  svgs/hide_my_applist.svg
  svgs/io.svg
  svgs/jerboa_for_lemmy.svg
  svgs/justweather.svg
  svgs/keypass.svg
  svgs/kizzy.svg
  svgs/librespeed.svg
  svgs/locus.svg
  svgs/logra.svg
  svgs/lotus_lantern.svg
  svgs/maxnote.svg
  svgs/miccheck.svg
  svgs/musify.svg
  svgs/myne.svg
  svgs/nagram.svg
  svgs/neo_feed.svg
  svgs/nofasel.svg
  svgs/numworks.svg
  svgs/persian_calendar.svg
  svgs/pincredible.svg
  svgs/pipepipe.svg
  svgs/plainapp.svg
  svgs/qbittorrent_manager.svg
  svgs/rain.svg
  svgs/slowly.svg
  svgs/smart_autoclicker.svg
  svgs/sobriety.svg
  svgs/spowlo.svg
  svgs/stack.svg
  svgs/table_habit.svg
  svgs/terraria.svg
  svgs/timeplanner.svg
  svgs/train_timetable_italy.svg
  svgs/trenit.svg
  svgs/underway.svg
  svgs/url_radio.svg
  svgs/weather_today.svg
  svgs/weatherwise.svg
Labels: needs review

#1297 13 icons and 15 links added
  app/assets/appfilter.xml
  svgs/battlegrounds_india.svg
  svgs/boat_hearables.svg
  svgs/bsnl_selfcare.svg
  svgs/dw_learn_german.svg
  svgs/lucky_bill.svg
  svgs/onstream.svg
  svgs/pi.svg
  svgs/rrb_je_app.svg
  svgs/rrb_je_me_testbook.svg
  svgs/soundbound.svg
  svgs/twofas_auth.svg
  svgs/uphold.svg
  svgs/wazirx.svg
Labels: changes requested

#1322 Create message for first time contributors
  .github/workflows/first_pr_interaction.yml
Labels: enhancement
