Repository LawnchairLauncher/lawnicons, pull requests merged in 2023-11, with the labels that each got.

#1539 Add 4 new icons, add 2 regional app calls, fix 25 icons
  app/assets/appfilter.xml
  svgs/actionbound.svg
  svgs/adobe_scan.svg
  svgs/amazon_prime_video.svg
  svgs/blockinger.svg
  svgs/deepl.svg
  svgs/deezer.svg
  svgs/delta_icons.svg
  svgs/deviantart.svg
  svgs/discord.svg
  svgs/dislyte.svg
  svgs/dominos.svg
  svgs/duolingo.svg
  svgs/files.svg
  svgs/firefox.svg
  svgs/firefox_beta.svg
  svgs/firefox_focus.svg
  svgs/firefox_klar.svg
  svgs/firefox_nightly.svg
  svgs/google_chat.svg
  svgs/google_docs.svg
  svgs/google_earth.svg
  svgs/google_one.svg
  svgs/joann.svg
  svgs/metro_flex.svg
  svgs/mini_metro.svg
  svgs/usaa.svg
  svgs/vanguard.svg
Labels: changes requested

#1554 Optimise repositories declarations
  settings.gradle.kts
Labels: housekeeping

#1569 Add Zoho CRM icon
  app/assets/appfilter.xml
  svgs/zoho_crm.svg
Labels: changes requested, icon change

#1575 Add BatteryOne icon
  app/assets/appfilter.xml
  svgs/batteryone.svg
Labels: icon change

#1572 Add TVA+
  app/assets/appfilter.xml
  svgs/tva_plus.svg
Labels: icon change

#1563 Add Mój Orange
  app/assets/appfilter.xml
  svgs/moj_orange.svg
Labels: changes requested, icon change

#1581 10 icons: Bitmask, Vampire Survivors, WiFiman
  app/assets/appfilter.xml
  svgs/bitmask.svg
  svgs/desmos_scientific_calculator.svg
  svgs/discover.svg
  svgs/hypatia.svg
  svgs/moises.svg
  svgs/nico_video.svg
  svgs/pnb_one.svg
  svgs/sms_import_export.svg
  svgs/vampire_survivors.svg
  svgs/wifiman.svg
Labels: icons

#1597 +10 new icons: Aha, ExifEraser, Pulse
  app/assets/appfilter.xml
  svgs/aha.svg
  svgs/ajio.svg
  svgs/blink.svg
  svgs/burger_king.svg
  svgs/ewelink.svg
  svgs/exiferaser.svg
  svgs/harmonic.svg
  svgs/health_sync.svg
  svgs/lte_cleaner.svg
  svgs/paseo.svg
  svgs/pulse.svg
  svgs/seven_eleven.svg
  svgs/sony_videography_pro.svg
Labels: icons

#1583 Add unifilm.de
  app/assets/appfilter.xml
  svgs/unifilm_de.svg
Labels: rework, icons

#1577 Add SAQ Icon
  app/assets/appfilter.xml
  svgs/saq.svg
Labels: rework, icons

#1571 Add Zoho One
  app/assets/appfilter.xml
  svgs/zoho_one.svg
Labels: rework, icons

#1608 18 icons: Boo, FlixBus, nConnect
  app/assets/appfilter.xml
  svgs/boo.svg
  svgs/credit_agricole_italia.svg
  svgs/diaro.svg
  svgs/flixbus.svg
  svgs/image_compressor_and_resizer.svg
  svgs/interpreter.svg
  svgs/loopring_wallet.svg
  svgs/mb_way.svg
  svgs/mystory.svg
  svgs/nconnect.svg
  svgs/nconnect_parent.svg
  svgs/pcapdroid.svg
  svgs/random_ux.svg
  svgs/successfactors.svg
  svgs/tummoc.svg
  svgs/umbrella.svg
  svgs/way_in.svg
  svgs/words_of_wonders.svg
Labels: icons
