Repository LawnchairLauncher/lawnicons, pull requests merged in 2023-12, with the labels that each got.

#1609 Update search message and add Marathi translations
  app/src/main/res/values-mr/strings.xml
  app/src/main/res/values/strings.xml
Labels: locale

#1576 Add PayPal Business variant
  app/assets/appfilter.xml
  svgs/paypal_business.svg
Labels: icons

#1596 Add icon for La Presse
  app/assets/appfilter.xml
  svgs/la_presse.svg
Labels: rework, icons

#1612 Add Circuit électrique
  app/assets/appfilter.xml
  svgs/circuit_electrique.svg
Labels: icons

#1611 Make "External Links" a translatable String
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/destination/About.kt
  app/src/main/res/values-fr/strings.xml
  app/src/main/res/values-hi/strings.xml
  app/src/main/res/values-mr/strings.xml
  app/src/main/res/values-pl/strings.xml
  app/src/main/res/values/strings.xml
Labels: code, locale

#1614 Quality update 8. Rounding corners
  app/assets/appfilter.xml
  svgs/a12_extensions.svg
  svgs/abn_amro.svg
  svgs/action_launcher.svg
  svgs/actiondash.svg
  svgs/al_chan.svg
  svgs/allegro.svg
  svgs/altt.svg
  svgs/amazon_shopping.svg
  svgs/ankidroid.svg
  svgs/app_market.svg
  svgs/ar_zone.svg
  svgs/asphalt_9.svg
  svgs/aviasales.svg
  svgs/bereal.svg
  svgs/boom_and_megaboom.svg
  svgs/boorusphere.svg
  svgs/cardboard.svg
  svgs/clash_royale.svg
  svgs/coinswitch.svg
  svgs/comicscreen.svg
  svgs/dolby_on.svg
  svgs/goodrx.svg
  svgs/greenlight_banking.svg
  svgs/juventus.svg
  svgs/line.svg
  svgs/localmonero.svg
  svgs/magic_poser.svg
  svgs/meetfrank.svg
  svgs/mi_freeform.svg
  svgs/movie_lab.svg
  svgs/noterly.svg
  svgs/notification_history_log.svg
  svgs/pandora.svg
  svgs/parabox.svg
  svgs/periodic_table.svg
  svgs/photo_editor.svg
  svgs/picpay.svg
  svgs/readfriend_lite.svg
  svgs/screen_master.svg
  svgs/simply_wall_st.svg
  svgs/slowly.svg
  svgs/sms_organizer.svg
  svgs/starbucks.svg
  svgs/td_canada.svg
  svgs/tokopedia.svg
  svgs/tradingview.svg
  svgs/tune_in_radio.svg
  svgs/zepp.svg
  svgs/zhihu.svg
Labels: icons

#1615 Twint apps
  app/assets/appfilter.xml
  svgs/appkb_twint.svg
  svgs/bcf_twint.svg
  svgs/bcge_twint.svg
  svgs/bcj_twint.svg
  svgs/bcn_twint.svg
  svgs/bcv_twint.svg
  svgs/bcvs_twint.svg
  svgs/credit_suisse_twint.svg
  svgs/gkb_twint.svg
  svgs/migros_bank_twint.svg
  svgs/okb_twint.svg
  svgs/postfinance_twint.svg
  svgs/raiffeisen_twint.svg
  svgs/sgkb_twint.svg
  svgs/tkb_twint.svg
  svgs/ubs_twint.svg
  svgs/valiant_twint.svg
  svgs/zkb_twint.svg
  svgs/zugerkb_twint.svg
Labels: icons

#1601 Add Crave Icon
  app/assets/appfilter.xml
  svgs/crave.svg
Labels: icons

#1625 Link Gloom debug apk
  app/assets/appfilter.xml
Labels: icons

#1631 11 icons: Antimine, APK Editor Pro, Fake GPS
  app/assets/appfilter.xml
  svgs/antimine.svg
  svgs/apk_editor_pro.svg
  svgs/de_bloater.svg
  svgs/droidcam.svg
  svgs/droidcamx.svg
  svgs/exodus.svg
  svgs/exodus_privacy.svg
  svgs/fake_gps.svg
  svgs/itsme.svg
  svgs/meme_generator.svg
  svgs/samsung_keys_cafe.svg
  svgs/sumone.svg
  svgs/zcalc.svg
Labels: icons

#1632 Add Bell Wi-Fi icon
  app/assets/appfilter.xml
  svgs/bell_wifi.svg
Labels: icons

#1628 Add icon for Private Internet Access VPN
  app/assets/appfilter.xml
  svgs/pia.svg
Labels: icons

#1624 Add Zoho Social
  app/assets/appfilter.xml
  svgs/zoho_social.svg
Labels: icons

#1623 Add Square icon
  app/assets/appfilter.xml
  svgs/square.svg
Labels: rework, icons

#1636 Add request_form french translation
  app/src/main/res/values-fr/strings.xml
Labels: locale

#1579 Automatically label PRs
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: enhancement, needs review

#1639 Add icon for Zoho SalesIQ
  app/assets/appfilter.xml
  svgs/zoho_salesiq.svg
Labels: rework, code, icons

#1644 +5 links
  app/assets/appfilter.xml
Labels: icons

#1647 +20 icons: BBVA, Marvel SNAP, UNO
  app/assets/appfilter.xml
  svgs/ayugram.svg
  svgs/bbva.svg
  svgs/bitlife.svg
  svgs/bluetooth_le_spam.svg
  svgs/bobek_metronome.svg
  svgs/download_progress_plusplus.svg
  svgs/farlight_84.svg
  svgs/flashscore.svg
  svgs/kwgt.svg
  svgs/kwgt_pro.svg
  svgs/marshall_multi_room.svg
  svgs/marvel_snap.svg
  svgs/powertube.svg
  svgs/reading_mode.svg
  svgs/ready_for.svg
  svgs/redreader.svg
  svgs/samsung_routines_plus.svg
  svgs/snapenhance.svg
  svgs/ubs_access_secure_login.svg
  svgs/uno.svg
  svgs/yr.svg
Labels: icons

#1648 Quality update 10
  svgs/booking.svg
  svgs/facer.svg
  svgs/fourpda.svg
  svgs/macrodroid.svg
  svgs/mighty_doom.svg
  svgs/mixplorer.svg
  svgs/printer.svg
  svgs/quick_calculation.svg
  svgs/scruff.svg
  svgs/simple_keyboard.svg
  svgs/solarweb.svg
  svgs/twire.svg
  svgs/video_tv_sideview.svg
  svgs/yousician.svg
Labels: icons

#1651 +10 icons: Devialet Gemini, Monument Valley, TapTap
  app/assets/appfilter.xml
  svgs/devialet_gemini.svg
  svgs/device_policy.svg
  svgs/micopacks.svg
  svgs/monument_valley.svg
  svgs/paramount_plus.svg
  svgs/postcard_creator.svg
  svgs/samsung_battery_guardian.svg
  svgs/samsung_private_share.svg
  svgs/tap_tap.svg
  svgs/taptap.svg
  svgs/zerotier_fix.svg
Labels: icons

#1653 Updating the link to Lawnicons guidelines
  .github/PULL_REQUEST_TEMPLATE/icon_addition.md
Labels: docs

#1650 Use mrmans0n Compose rules to check styles
  app/build.gradle.kts
  app/src/main/kotlin/app/lawnchair/lawnicons/model/IconInfoModel.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/repository/IconRepository.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/ContributorRow.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/ContributorRowPlaceholder.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/ExternalLinkRow.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/core/Card.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/core/LawniconsScaffold.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/core/SimpleListRow.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/core/SystemUi.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/core/TopAppBar.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/home/ClickableIcon.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/home/IconInfoPopup.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/home/IconPreview.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/home/IconPreviewGrid.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/home/PlaceholderSearchBar.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/home/SearchBar.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/destination/About.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/destination/Acknowledgement.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/destination/Acknowledgements.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/destination/Contributors.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/destination/Home.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/util/PreviewUtils.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/viewmodel/ContributorsViewModel.kt
  build.gradle.kts
Labels: code

#1655 Optimize artifacts copy task
  app/build.gradle.kts
Labels: enhancement, code

#1654 add icon for DingTalk
  app/assets/appfilter.xml
  svgs/dingtalk.svg
Labels: rework, icons

#1643 Add icon for MonBell
  app/assets/appfilter.xml
  svgs/monbell.svg
Labels: icons

#1620 Add 6 icons
  app/assets/appfilter.xml
  svgs/egg_inc.svg
  svgs/ireal_pro.svg
  svgs/metronome.svg
  svgs/ptv.svg
  svgs/seeker.svg
  svgs/warpshare.svg
Labels: rework, icons

#1661 Updated Hindi & Marathi Translations
  app/src/main/res/values-hi/strings.xml
  app/src/main/res/values-mr/strings.xml
Labels: locale

#1658 Add icon for Zoho Campaigns
  app/assets/appfilter.xml
  svgs/zoho_campaigns.svg
Labels: icons

#1646 Adding a hint in case of icon redesign
  README.md
Labels: docs

#1659 Add icon for Télé-Québec
  app/assets/appfilter.xml
  svgs/tele_quebec.svg
Labels: icons

#1660 +14 icons: Amazon Appstore, Epic Games, Lyft
  app/assets/appfilter.xml
  svgs/amazon_appstore.svg
  svgs/crazy_taxi_classic.svg
  svgs/defi_wallet.svg
  svgs/devolo_home_network.svg
  svgs/doglife.svg
  svgs/emoticon_dictionary.svg
  svgs/epic_games.svg
  svgs/expert_raw.svg
  svgs/fingerprint.svg
  svgs/google_chat.svg
  svgs/instant_gaming.svg
  svgs/liveloop.svg
  svgs/lyft.svg
  svgs/my_viettel.svg
  svgs/mydigi.svg
  svgs/net_analyzer.svg
  svgs/renoir.svg
  svgs/samsung_bixby_vision.svg
  svgs/samsung_home_up.svg
  svgs/schulmanager.svg
  svgs/search_widget_material_you.svg
  svgs/spacedesk.svg
  svgs/tholotis.svg
  svgs/trading_212.svg
  svgs/transfermovil.svg
  svgs/yubico_authenticator.svg
  svgs/zapya.svg
Labels: icons

#1657 Add icon for Pleco, link Mój T-Mobile to a drawable
  app/assets/appfilter.xml
  svgs/pleco.svg
Labels: icons

#1672 Corrected some names so there are less duplicates in the icon list
  app/assets/appfilter.xml
  svgs/element_x.svg
  svgs/element_x_debug.svg
  svgs/enel.svg
  svgs/enel_energia.svg
Labels: icons

#1663 Add icon for Dogo
  app/assets/appfilter.xml
  svgs/dogo.svg
Labels: icons

#1675 add qqmusic and qqlive
  app/assets/appfilter.xml
  svgs/qqlive.svg
  svgs/qqmusic.svg
Labels: rework, icons

#1681 +10 icons: APKUpdater, Hyperion, Smart Launcher
  app/assets/appfilter.xml
  svgs/amarok.svg
  svgs/apkupdater.svg
  svgs/cieid.svg
  svgs/classyshark3xodus.svg
  svgs/dawn_for_reddit.svg
  svgs/hyperion.svg
  svgs/mysejahtera.svg
  svgs/pentastic.svg
  svgs/psiphon.svg
  svgs/samsung_pay_mini.svg
  svgs/smart_launcher.svg
  svgs/wordscapes.svg
  svgs/xbox_game_pass.svg
  svgs/xbox_game_pass_beta.svg
Labels: icons

#1682 +18 links: Discord, System apps, Youtube
  app/assets/appfilter.xml
Labels: icons

#1683 Add icon for P$ Service Mobile
  app/assets/appfilter.xml
  svgs/p_service_mobile.svg
Labels: icons

#1688 +9 links: Meta Quest, Nagram, Retouch Advasoft
  app/assets/appfilter.xml
Labels: icons

#1689 +22 links: Bitmask, iFood, Pixiv
  app/assets/appfilter.xml
  svgs/tp_link_deco.svg
Labels: icons

#1691 Add icon for Zoho ToDo
  app/assets/appfilter.xml
  svgs/zoho_todo.svg
Labels: icons

#1685 Add icon for Pokécardex
  app/assets/appfilter.xml
  svgs/pokecardex.svg
Labels: rework, icons

#1690 Add icon for Tim Hortons
  app/assets/appfilter.xml
  svgs/tim_hortons.svg
Labels: icons

#1692 Link RootlessJamesDSP icon to JamesDSP
  app/assets/appfilter.xml
Labels: icons

#1693 Add icon for Zoho OneAuth
  app/assets/appfilter.xml
  svgs/zoho_oneauth.svg
Labels: icons

#1700 +20 icons: Aard 2, Firefox Lockwise, Icon packs
  app/assets/appfilter.xml
  svgs/aard_2.svg
  svgs/adaptive_you_icon_pack.svg
  svgs/admobile.svg
  svgs/applock_pro.svg
  svgs/black_light_icon_pack.svg
  svgs/desaturate_icon_pack.svg
  svgs/firefox_lockwise.svg
  svgs/graby_ui_icon_pack.svg
  svgs/lumos_dark_rounded_ui_icon_pack.svg
  svgs/mellow_dark_icon_pack.svg
  svgs/metro_map_moscow.svg
  svgs/noto.svg
  svgs/o_relax.svg
  svgs/one_tap_lock_screen.svg
  svgs/oneui_dark_icon_pack.svg
  svgs/revo_shine_ui.svg
  svgs/s_secure.svg
  svgs/stepsapp.svg
  svgs/unlim_cloud.svg
  svgs/wallman.svg
  svgs/walpy.svg
Labels: icons

#1694 Add icon for Zoho Writer
  app/assets/appfilter.xml
  svgs/zoho_writer.svg
Labels: icons

#1697 Add icon for Air Transat
  app/assets/appfilter.xml
  svgs/air_transat.svg
Labels: icons

#1698 Add icon for Zoho Assist
  app/assets/appfilter.xml
  svgs/zoho_assist.svg
Labels: icons

#1668 Updating and simplifying templates
  .github/ISSUE_TEMPLATE/general_discussion.yml
  .github/PULL_REQUEST_TEMPLATE/icon_addition.md
  .github/pull_request_template.md
Labels: docs

#1695 Add icon for Fizz | Visual voicemail
  app/assets/appfilter.xml
  svgs/fizz_messages.svg
Labels: icons

#1702 +12 icons: Banco PAN, Groupe Mutuel, Xe
  app/assets/appfilter.xml
  svgs/banco_pan.svg
  svgs/groupe_mutuel.svg
  svgs/iptv_extreme_pro.svg
  svgs/kaorin_icon_pack.svg
  svgs/loud_horns_and_sirens.svg
  svgs/m64plus_fz.svg
  svgs/mysolaredge.svg
  svgs/pix_pie_icon_pack.svg
  svgs/simpmusic.svg
  svgs/streamlabs.svg
  svgs/theme_store.svg
  svgs/xe.svg
Labels: icons

#1703 Added Bluesky
  app/assets/appfilter.xml
  svgs/bluesky.svg
Labels: icons

#1704 Replaced the broken link to a video guide on how to fill out the requests form
  CONTRIBUTING.md
Labels: docs

#1706 +10 icons: Huawei Music, Podverse, VeryFit
  app/assets/appfilter.xml
  svgs/huawei_music.svg
  svgs/keyguard_for_bitwarden.svg
  svgs/meme_generator.svg
  svgs/meme_generator_pro.svg
  svgs/music_player_go.svg
  svgs/pix_material_you_dark_and_light_icon_pack.svg
  svgs/pix_material_you_icon_pack.svg
  svgs/podverse.svg
  svgs/samsung_max_vpn.svg
  svgs/starmaker.svg
  svgs/subscriptions.svg
  svgs/veryfit.svg
Labels: icons

#1707 +2 links and a little cleanup
  app/assets/appfilter.xml
  svgs/metronome.svg
  svgs/samsung_routine_plus.svg
Labels: icons

#1708 +40 icons: Carrier Services, Flickr, Privacy Browser
  app/assets/appfilter.xml
  svgs/ant_plus_plugins_service.svg
  svgs/ant_radio_service.svg
  svgs/black_house.svg
  svgs/borealis_icon_pack.svg
  svgs/carrier_services.svg
  svgs/cats_are_liquid_alits.svg
  svgs/cats_are_liquid_apb.svg
  svgs/central_power.svg
  svgs/creativeapp.svg
  svgs/digital_detox.svg
  svgs/drink_water_reminder.svg
  svgs/efootball.svg
  svgs/flickr.svg
  svgs/hdhomerun.svg
  svgs/idle_power.svg
  svgs/je_bois_local.svg
  svgs/lazypay.svg
  svgs/libreoffice_viewer.svg
  svgs/microsoft_stream.svg
  svgs/moto_secure.svg
  svgs/my_mitsubishi_connect.svg
  svgs/next_conta_digital_e_cartao.svg
  svgs/nextcloud_passwords.svg
  svgs/notan_grade_calculator.svg
  svgs/olam_malayalam_dictionary.svg
  svgs/pagbank.svg
  svgs/prism_net_mobile_vivo.svg
  svgs/privacy_browser.svg
  svgs/project_themer.svg
  svgs/pure_web_browser.svg
  svgs/red_bus_tucuman.svg
  svgs/samsung_health_platform.svg
  svgs/samsung_routines_plus.svg
  svgs/simplisafe_home_security_app.svg
  svgs/speech_recognition_and_synthesis.svg
  svgs/splayer.svg
  svgs/stemz.svg
  svgs/trafi.svg
  svgs/tresorit.svg
  svgs/vancity.svg
  svgs/wallapop.svg
Labels: icons

#1709 Support more launchers
  app/src/main/AndroidManifest.xml
Labels: code

#1710 Link some activities
  app/assets/appfilter.xml
Labels: icons

#1711 +250 links
  app/assets/appfilter.xml
  svgs/goodtime.svg
  svgs/quickpic_gallery_mod_by_wstxda.svg
Labels: icons

#1713 +281 links
  app/assets/appfilter.xml
  svgs/sound_amplifier.svg
Labels: icons

#1714 +454 links
  app/assets/appfilter.xml
  svgs/datura_firewall.svg
  svgs/lunar_launcher.svg
  svgs/microsoft_swiftkey_keyboard_beta.svg
  svgs/tictoc.svg
  svgs/tiktok_helper.svg
Labels: icons

#1699 Add icon for Ondago
  app/assets/appfilter.xml
  svgs/ondago.svg
Labels: rework, icons

#1718 +10 icons: Katwarn, Open Radio, Satispay
  app/assets/appfilter.xml
  svgs/c_sharp_shell_dot_net_ide.svg
  svgs/easy_dpi_changer.svg
  svgs/google_assistant.svg
  svgs/google_assistant_go.svg
  svgs/internet_speed_meter.svg
  svgs/katwarn.svg
  svgs/open_radio.svg
  svgs/satispay.svg
  svgs/sbi_card.svg
  svgs/sbi_rewardz.svg
  svgs/sipnetic.svg
  svgs/tamo_ismaniems.svg
Labels: icons

#1719 +1 icon: Revolut <18 (Revolut Junior)
  app/assets/appfilter.xml
  svgs/revolut_under_18.svg
Labels: rework, icons
