Repository LawnchairLauncher/lawnicons, pull requests merged in 2023-10, with the labels that each got.

#1498 Added 7 new icons, refined 1 existing icon
  app/assets/appfilter.xml
  svgs/audio_recorder.svg
  svgs/b612.svg
  svgs/clash_for_android.svg
  svgs/ffshare.svg
  svgs/foodie.svg
  svgs/huji_cam.svg
  svgs/kfc.svg
  svgs/todai_easy_japanese.svg
Labels: changes requested

#1500 Add StreetMeasure
  app/assets/appfilter.xml
  svgs/streetmeasure.svg
Labels: changes requested

#1503 Update Revolut icon
  svgs/revolut.svg
Labels: changes requested, icon change

#1499 Added 4 icons
  app/assets/appfilter.xml
  svgs/edx.svg
  svgs/everycircuit.svg
  svgs/onestop.svg
  svgs/po_pixel.svg
Labels: changes requested

#1505 Add McFit
  app/assets/appfilter.xml
  svgs/mcfit.svg
Labels: changes requested

#1448 Small batch of icon additions
  app/assets/appfilter.xml
  svgs/alcodroid.svg
  svgs/carrot.svg
  svgs/chwazi.svg
  svgs/dice.svg
  svgs/star_walk_2.svg
  svgs/two_dots.svg
Labels: changes requested

#1510 Add 2 icons + Link 1 icon
  app/assets/appfilter.xml
  svgs/ather.svg
  svgs/mgit.svg
Labels: changes requested

#1519 Ktlint 1.0.1
  .editorconfig
  build.gradle.kts
Labels: housekeeping

#1525 Fix 4 icons, add and link 13 new icons.
  app/assets/appfilter.xml
  svgs/antennapod.svg
  svgs/euclidea.svg
  svgs/google_translate.svg
  svgs/google_wallet.svg
  svgs/grindr.svg
  svgs/inaturalist.svg
  svgs/insight_timer.svg
  svgs/lex.svg
  svgs/offerup.svg
  svgs/oscope.svg
  svgs/patchwork.svg
  svgs/plantnet.svg
  svgs/scruff.svg
  svgs/soundhound.svg
  svgs/tuner_pitched.svg
  svgs/zero.svg
Labels: changes requested

#1531 add 9 icons
  app/assets/appfilter.xml
  svgs/captivemgr.svg
  svgs/icon_pusher.svg
  svgs/live2dviewerex.svg
  svgs/only_one.svg
  svgs/qooapp.svg
  svgs/ruler.svg
  svgs/spectroid.svg
  svgs/sse.svg
  svgs/starth.svg
Labels: changes requested

#1502 Add 3 icons
  app/assets/appfilter.xml
  svgs/eternity.svg
  svgs/mrepo.svg
  svgs/overload.svg
Labels: changes requested

#1534 eternity icon: remake with better proportions and thingy in the ufo
  svgs/eternity.svg
Labels: changes requested

#1535 GoPay Icon
  app/assets/appfilter.xml
  svgs/gopay.svg
Labels: changes requested

#1529 9 new icons
  app/assets/appfilter.xml
  svgs/android_12_widget_pack.svg
  svgs/antenaplay.svg
  svgs/f1_mobile_racing.svg
  svgs/info_tb.svg
  svgs/musiccast.svg
  svgs/myedenred.svg
  svgs/stay_fit_gym.svg
  svgs/twentyfourpay.svg
  svgs/youth_tb.svg
Labels: changes requested

#1537 add 4 icons
  app/assets/appfilter.xml
  svgs/_k.svg
  svgs/gkd.svg
  svgs/installerx.svg
  svgs/jmcomic2.svg
Labels: changes requested
