Repository LawnchairLauncher/lawnicons, pull requests merged in 2023-08, with the labels that each got.

#1349 Add 12 icons
  app/assets/appfilter.xml
  svgs/comic_geeks.svg
  svgs/cult_fit.svg
  svgs/dimmer.svg
  svgs/disk_usage.svg
  svgs/english_dictionary.svg
  svgs/fasthub_re.svg
  svgs/flashcards.svg
  svgs/literal.svg
  svgs/nekome.svg
  svgs/story_graph.svg
  svgs/trakt.svg
  svgs/vyom.svg
Labels: changes requested

#1367 1 app icon added and 1 app linked
  app/assets/appfilter.xml
  svgs/my_bsnl_tunes.svg
Labels: changes requested

#1372 Add 3 icons
  app/assets/appfilter.xml
  svgs/aquadroid.svg
  svgs/traewelldroid.svg
  svgs/worktracker.svg
Labels: needs review

#1375 Add Crazy Taxi Classic
  app/assets/appfilter.xml
  svgs/crazy_taxi_classic.svg
Labels: needs review

#1389 Add Transportr
  app/assets/appfilter.xml
  svgs/transportr.svg
Labels: needs review

#1378 Add 56 icon and link 9 icon
  app/assets/appfilter.xml
  svgs/a12123.svg
  svgs/alibank.svg
  svgs/alook_browser.svg
  svgs/arp.svg
  svgs/baidutieba.svg
  svgs/baimiao.svg
  svgs/bilibili_helper.svg
  svgs/byyoung.svg
  svgs/china3s.svg
  svgs/chinatelecom.svg
  svgs/chinaunion.svg
  svgs/chsiapp.svg
  svgs/ciliplayer.svg
  svgs/ctrip.svg
  svgs/dazhongdianping.svg
  svgs/dida_taxi.svg
  svgs/douban.svg
  svgs/ecloud.svg
  svgs/emobile.svg
  svgs/enya.svg
  svgs/feichangzhun.svg
  svgs/fontweight.svg
  svgs/fscb.svg
  svgs/huabancesu.svg
  svgs/jbusdriver.svg
  svgs/jiansheyinghang.svg
  svgs/legado.svg
  svgs/lightstart.svg
  svgs/luckincoffe.svg
  svgs/meituan.svg
  svgs/mipush.svg
  svgs/mishop.svg
  svgs/mitime.svg
  svgs/miyoushe.svg
  svgs/momo_test.svg
  svgs/mxbc.svg
  svgs/nga.svg
  svgs/pinduoduo.svg
  svgs/qingzhuo.svg
  svgs/socmark.svg
  svgs/starbucks.svg
  svgs/sunlogin.svg
  svgs/switchguide.svg
  svgs/taopiaopiao.svg
  svgs/tencentmeeting.svg
  svgs/tictoc.svg
  svgs/tictoc_helper.svg
  svgs/tsbattery.svg
  svgs/tts_server.svg
  svgs/wework.svg
  svgs/xhs.svg
  svgs/xiaoheihe.svg
  svgs/xingtu.svg
  svgs/xinshang.svg
  svgs/xunlei.svg
  svgs/youku.svg
  svgs/zzzfun.svg
Labels: needs review

#1411 Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
  .github/images/contributing-image-1.png
  .github/images/contributing-image-2.png
  .github/images/creating-icons-1-artboard.png
  .github/images/creating-icons-2-foundation.png
  .github/images/creating-icons-3-balance.png
  .github/images/creating-icons-3-detail.png
  .github/images/creating-icons-4-outline.png
  .github/images/creating-icons-5-balance.png
Labels: enhancement, changes requested

#1413 feat: Refactor PR template
  .github/PULL_REQUEST_TEMPLATE/general_change.md
  .github/PULL_REQUEST_TEMPLATE/icon_addition.md
  .github/pull_request_template.md
Labels: enhancement, needs review, under discussion internally

#1435 Use toolchain
  .github/workflows/build_debug_apk.yml
  .github/workflows/build_release_apk.yml
  app/build.gradle.kts
  build.gradle.kts
Labels: enhancement
