Repository LawnchairLauncher/lawnicons, pull requests merged in 2023-05, with the labels that each got.

#1202 add new kleinanzeigen logo
  app/assets/appfilter.xml
  svgs/bob.svg
  svgs/conversations.svg
  svgs/kleinanzeigen.svg
  svgs/rewe.svg
Labels: changes requested

#1215 Add new icons from request form
  app/assets/appfilter.xml
  svgs/banco_sabadell.svg
  svgs/bettercounter.svg
  svgs/forecastie.svg
  svgs/gps_logger.svg
  svgs/green_pass.svg
  svgs/just_another_workout_timer.svg
  svgs/logseq.svg
  svgs/orange_bank.svg
  svgs/pdf_doc_scan.svg
  svgs/photopills.svg
  svgs/quote_unquote.svg
Labels: changes requested

#1218 Add Banglalink logo and link 2 app
  app/assets/appfilter.xml
  svgs/banglalink.svg
Labels: changes requested

#1228 15 icons
  app/assets/appfilter.xml
  svgs/app_tester.svg
  svgs/edge_gestures.svg
  svgs/english_grammar_test.svg
  svgs/fotmob.svg
  svgs/i_love_hue.svg
  svgs/i_love_hue_too.svg
  svgs/iscep.svg
  svgs/meetfrank.svg
  svgs/meteoroloji.svg
  svgs/pocketbook.svg
  svgs/rocketeng.svg
  svgs/trello.svg
  svgs/turkcell.svg
  svgs/yandex_translate.svg
  svgs/yota.svg
Labels: changes requested

#1232 Add 1 icon
  app/assets/appfilter.xml
  svgs/toffee.svg
Labels: changes requested

#1243 Improved text, rounded images corners
  .github/CONTRIBUTING.md
  .github/README.md
  .github/icontool_guide.md
  .github/images/contributing-image-1.png
  .github/images/contributing-image-3.png
  .github/images/contributing-image-4.png
  .github/pull_request_template.md
Labels: enhancement

#1182 Add meetup
  app/assets/appfilter.xml
  svgs/meetup.svg
Labels: changes requested, unstale

#1248 Added 1 icon, changed 2
  app/assets/appfilter.xml
  svgs/hidden_settings.svg
  svgs/microg_settings.svg
  svgs/settings.svg
Labels: changes requested

#1245 Add 3 icons
  app/assets/appfilter.xml
  svgs/artstation.svg
  svgs/microsoft_edge_dev.svg
  svgs/simplex.svg
Labels: changes requested

#1256 20 icons
  app/assets/appfilter.xml
  svgs/droidcam.svg
  svgs/droidcamx.svg
  svgs/esewa.svg
  svgs/grammarly.svg
  svgs/itax.svg
  svgs/kbc_mobile.svg
  svgs/mifare_classic_tool.svg
  svgs/polycam.svg
  svgs/scb_easy.svg
  svgs/siddhartha_banksmart_xp.svg
  svgs/simply_wall_st.svg
  svgs/sky_map.svg
  svgs/smart_switch.svg
  svgs/smartthings.svg
  svgs/stay_awake.svg
  svgs/transit.svg
  svgs/truemoney.svg
  svgs/wolt.svg
  svgs/xmind.svg
  svgs/zipmex.svg
Labels: changes requested

#1221 Add 2 apps
  app/assets/appfilter.xml
  svgs/moovit.svg
  svgs/ttoim.svg
Labels: changes requested

#1249 add gmm, klarmobil, spritpreise & tgtg
  app/assets/appfilter.xml
  svgs/gmm.svg
  svgs/klarmobilde.svg
  svgs/spritpreise.svg
  svgs/too_good_to_go.svg
Labels: changes requested

#1261 Add nightly.link to download debug apks without GH account
  .github/README.md
Labels: documentation

#1255 add 23 icons
  app/assets/appfilter.xml
  svgs/arc.svg
  svgs/argovpn.svg
  svgs/atomic.svg
  svgs/castro.svg
  svgs/clipious.svg
  svgs/flashdim.svg
  svgs/inure.svg
  svgs/mobilism.svg
  svgs/moelist.svg
  svgs/netmonster.svg
  svgs/pano_scrobbler.svg
  svgs/pixel_search.svg
  svgs/pixiv.svg
  svgs/pluvia.svg
  svgs/shosetsu.svg
  svgs/soul.svg
  svgs/sound_ampilifer.svg
  svgs/today_weather.svg
  svgs/torguard.svg
  svgs/vendetta_manager.svg
  svgs/webnovel.svg
  svgs/wifi_pro_ftp_server.svg
  svgs/zlib.svg
Labels: changes requested

#1267 Add C24
  app/assets/appfilter.xml
  svgs/c24.svg
Labels: changes requested

#1266 Add DKB
  app/assets/appfilter.xml
  svgs/dkb.svg
Labels: changes requested
