Repository LawnchairLauncher/lawnicons, pull requests merged in 2023-01, with the labels that each got.

#935 Add CalenTile icon
  app/src/main/res/drawable/calentile.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/calentile.svg
Labels: changes requested

#945 Add 3 & update 2 & link 1
  app/src/main/res/drawable/feeel.xml
  app/src/main/res/drawable/fourpda.xml
  app/src/main/res/drawable/kinopoisk.xml
  app/src/main/res/drawable/rustore.xml
  app/src/main/res/drawable/yandex_music.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/4pda.svg
  svgs/feeel.svg
  svgs/kinopoisk.svg
  svgs/rustore.svg
  svgs/yandex_music.svg
Labels: changes requested

#949 Bump oss-licenses-plugin to 0.10.6
  build.gradle.kts
Labels: dependencies

#947 Add icon for Animiru
  app/src/main/res/drawable/animiru.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/animiru.svg
Labels: changes requested

#958 Add icon for Wallcandy
  app/src/main/res/drawable/wallcandy.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/wallcandy.svg
Labels: changes requested

#973 Kotlin 1.8 and Compose compiler 1.4.0
  app/build.gradle.kts
  build.gradle.kts
Labels: dependencies

#815 Lawnicons as icon pack (core changes)
  .github/workflows/build_debug_apk.yml
  .github/workflows/build_release_apk.yml
  .gitignore
  CONTRIBUTING.md
  app/assets/appfilter.xml
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  contributing-image-5.png
  contributing-image-6.jpeg
  send_notifications.py
  svgs/1dm.svg
  svgs/4pda.svg
  svgs/calendar.svg
  svgs/eight_ball_pool.svg
  svgs/ella.svg
  svgs/flashy.svg
  svgs/idm.svg
  svgs/idm_plus.svg
  svgs/intesa_sanpaolo.svg
  svgs/metadata_remover.svg
  svgs/morse.svg
  svgs/onepassword.svg
  svgs/themed_icon_calendar_1.svg
  svgs/themed_icon_calendar_10.svg
  svgs/themed_icon_calendar_11.svg
  svgs/themed_icon_calendar_12.svg
  svgs/themed_icon_calendar_13.svg
  svgs/themed_icon_calendar_14.svg
  svgs/themed_icon_calendar_15.svg
  svgs/themed_icon_calendar_16.svg
  svgs/themed_icon_calendar_17.svg
  svgs/themed_icon_calendar_18.svg
  svgs/themed_icon_calendar_19.svg
  svgs/themed_icon_calendar_2.svg
  svgs/themed_icon_calendar_20.svg
  svgs/themed_icon_calendar_21.svg
  svgs/themed_icon_calendar_22.svg
  svgs/themed_icon_calendar_23.svg
  svgs/themed_icon_calendar_24.svg
  svgs/themed_icon_calendar_25.svg
  svgs/themed_icon_calendar_26.svg
  svgs/themed_icon_calendar_27.svg
  svgs/themed_icon_calendar_28.svg
  svgs/themed_icon_calendar_29.svg
  svgs/themed_icon_calendar_3.svg
  svgs/themed_icon_calendar_30.svg
  svgs/themed_icon_calendar_31.svg
  svgs/themed_icon_calendar_4.svg
  svgs/themed_icon_calendar_5.svg
  svgs/themed_icon_calendar_6.svg
  svgs/themed_icon_calendar_7.svg
  svgs/themed_icon_calendar_8.svg
  svgs/themed_icon_calendar_9.svg
  svgs/to_dont.svg
  svgs/watchbuddy.svg
Labels: enhancement, needs review

#980 Rename `svgprocessor` module to `svg-processor`
  .github/workflows/build_debug_apk.yml
  .github/workflows/build_release_apk.yml
  settings.gradle.kts
  svg-processor/build.gradle.kts
  svg-processor/src/main/kotlin/app/lawnchair/lawnicons/helper/Application.kt
  svg-processor/src/main/kotlin/app/lawnchair/lawnicons/helper/ConfigProcessor.kt
  svg-processor/src/main/kotlin/app/lawnchair/lawnicons/helper/SvgFilesProcessor.kt
  svg-processor/src/main/kotlin/app/lawnchair/lawnicons/helper/XmlUtil.kt
Labels: housekeeping

#986 Add icon for v2rayNG
  app/assets/appfilter.xml
  svgs/v2rayng.svg
Labels: changes requested

#1000 Added 4 new Icons & 1 Updated
  app/assets/appfilter.xml
  svgs/gallery_wstxda.svg
  svgs/office_suite.svg
  svgs/open_link_with.svg
  svgs/simple_social.svg
Labels: changes requested

#991 Adds Dolphin Emulator
  app/assets/appfilter.xml
  svgs/dolphin_emulator.svg
Labels: changes requested

#996 Enhancement on icon pack
  .github/workflows/build_debug_apk.yml
  .github/workflows/build_release_apk.yml
  .gitignore
  app/build.gradle.kts
  app/src/main/res/values-night-v31/colors.xml
  app/src/main/res/values-night/colors.xml
  app/src/main/res/values-v31/colors.xml
  app/src/main/res/values/colors.xml
  svg-processor/build.gradle.kts
  svg-processor/src/main/kotlin/app/lawnchair/lawnicons/helper/Application.kt
  svg-processor/src/main/kotlin/app/lawnchair/lawnicons/helper/ConfigProcessor.kt
  svg-processor/src/main/kotlin/app/lawnchair/lawnicons/helper/SvgFilesProcessor.kt
Labels: enhancement

#1007 Auto categorize Icons and added Static calendars
  app/assets/appfilter.xml
  svg-processor/src/main/kotlin/app/lawnchair/lawnicons/helper/ConfigProcessor.kt
  svg-processor/src/main/kotlin/app/lawnchair/lawnicons/helper/XmlUtil.kt
Labels: enhancement

#1014 Add 4 new icons
  app/assets/appfilter.xml
  app/src/main/res/xml/grayscale_icon_map.xml
  svgs/bookmyshow.svg
  svgs/nova_launcher.svg
  svgs/ola_cabs.svg
  svgs/olx.svg
  svgs/twelve_club.svg
Labels: changes requested
