Repository LawnchairLauncher/lawnicons, pull requests merged in 2023-04, with the labels that each got.

#1148 Added Pixelfed, Tusky, and other icons
  app/assets/appfilter.xml
  svgs/etsy_seller.svg
  svgs/fedilab.svg
  svgs/floatplane.svg
  svgs/hue.svg
  svgs/libretrack.svg
  svgs/lovebox.svg
  svgs/nextcloud_news.svg
  svgs/nextcloud_photos.svg
  svgs/nextcloud_talk.svg
  svgs/parcel_pending.svg
  svgs/pixelfed.svg
  svgs/playstation.svg
  svgs/tubelab.svg
  svgs/tusky.svg
  svgs/ultimateguitar.svg
Labels: changes requested

#1163 Add Icons
  app/assets/appfilter.xml
  svgs/hit.svg
Labels: changes requested

#1162 Add George Icon
  app/assets/appfilter.xml
  svgs/george.svg
Labels: changes requested

#1168 Improved design consistency for 19 icons
  svgs/adguard.svg
  svgs/advanced_download_manager.svg
  svgs/altos_odyssey.svg
  svgs/amaze.svg
  svgs/amazon_alexa.svg
  svgs/app_launcher.svg
  svgs/automation.svg
  svgs/avito.svg
  svgs/bandsintown.svg
  svgs/bergfex.svg
  svgs/blindmate.svg
  svgs/bloons_td_6.svg
  svgs/color_puzzle.svg
  svgs/cpu_z.svg
  svgs/dawn_ai.svg
  svgs/dolphin_emulator.svg
  svgs/etsy_seller.svg
  svgs/generic_earth.svg
  svgs/kernel_su.svg
  svgs/notewise.svg
  svgs/upnote.svg
Labels: needs review

#1169 Refine icontool.py
  .github/icontool_guide.md
  icontool.py
Labels: enhancement, needs review

#1174 Update the contributing guidelines
  .github/CONTRIBUTING.md
  .github/README.md
  .github/images/contributing-image-1.png
  .github/images/contributing-image-2.png
Labels: documentation

#1186 Add Hay Day icon
  app/assets/appfilter.xml
  svgs/hay_day.svg
Labels: changes requested

#1194 add limbo, ebase, evoland2 and brotato
  app/assets/appfilter.xml
  svgs/brotato.svg
  svgs/ebasebanking.svg
  svgs/evoland2.svg
  svgs/limbo.svg
Labels: changes requested

#1193 Update George Icon
  app/assets/appfilter.xml
Labels: needs review
