Repository LawnchairLauncher/lawnicons, pull requests merged in 2023-07, with the labels that each got.

#1333 Add several icons
  app/assets/appfilter.xml
  svgs/bamboohr.svg
  svgs/garanti_bbva.svg
  svgs/journal.svg
  svgs/systemui_tuner.svg
  svgs/tv_remote_control.svg
Labels: changes requested

#926 Lawnicons UI/UX improvements
  app/build.gradle.kts
  app/src/main/kotlin/app/lawnchair/lawnicons/MainActivity.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/repository/IconRepository.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/component/IconInfoPopup.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/component/SearchBar.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/component/TopBarWithInsets.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/ContributorRow.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/ContributorRowPlaceholder.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/ExternalLinkRow.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/Lawnicons.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/core/Card.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/core/LawniconsScaffold.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/core/ListRow.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/core/SimpleListRow.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/core/SystemUi.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/core/TopBarWithInsets.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/home/ClickableIcon.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/home/IconInfoPopup.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/home/IconPreview.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/home/IconPreviewGrid.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/home/OverflowMenu.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/home/PlaceholderSearchBar.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/home/SearchBar.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/destination/About.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/destination/Acknowledgement.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/destination/Acknowledgements.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/destination/Contributors.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/destination/Home.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/util/ExternalLink.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/viewmodel/LawniconsViewModel.kt
  app/src/main/res/drawable/splashscreen.png
  app/src/main/res/drawable/splashscreen.xml
  app/src/main/res/values/strings.xml
Labels: enhancement

#1357 Target 34 & Minor cleanups
  app/build.gradle.kts
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/home/SearchBar.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/destination/About.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/destination/Acknowledgement.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/destination/Acknowledgements.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/destination/Contributors.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/destination/Home.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/viewmodel/ContributorsViewModel.kt
  gradle.properties
  svg-processor/src/main/kotlin/app/lawnchair/lawnicons/helper/ConfigProcessor.kt
Labels: housekeeping

#1350 add 17 icons
  app/assets/appfilter.xml
  svgs/amaze_utilities.svg
  svgs/andronix.svg
  svgs/beautyxt.svg
  svgs/breezy_weather.svg
  svgs/drinkable.svg
  svgs/element_x.svg
  svgs/finch.svg
  svgs/focus_go.svg
  svgs/goodreads.svg
  svgs/gosund.svg
  svgs/joplin.svg
  svgs/kafka.svg
  svgs/moveinsync.svg
  svgs/mplayer.svg
  svgs/nytimes.svg
  svgs/obedience.svg
  svgs/obsidian.svg
  svgs/pix_you_cornflower_dark_icons.svg
  svgs/rustdesk.svg
  svgs/tg_monet.svg
  svgs/tiktok.svg
  svgs/v2rayng.svg
Labels: changes requested
