Repository LawnchairLauncher/lawnicons, pull requests merged in 2023-09, with the labels that each got.

#1403 Update 3 icons to the latest activity
  app/assets/appfilter.xml
Labels: needs review

#1420 Update 2 icons
  app/assets/appfilter.xml
  svgs/addyio.svg
  svgs/innertune.svg
Labels: changes requested

#1392 Add 2 icons
  app/assets/appfilter.xml
  svgs/la_wallet.svg
Labels: changes requested

#1449 Add Angkas icon
  app/assets/appfilter.xml
  svgs/angkas.svg
Labels: changes requested

#1400 + 7 icons ~ 1 icon
  app/assets/appfilter.xml
  svgs/google_home.svg
  svgs/kinestop.svg
  svgs/kumo_cloud.svg
  svgs/likewise.svg
  svgs/microsoft_defender.svg
  svgs/tuya.svg
  svgs/twilight.svg
  svgs/yolink.svg
Labels: changes requested

#1314 Added 6 new icons and linked 2 apps to existing ones
  app/assets/appfilter.xml
  svgs/cpu_info.svg
  svgs/deutschlandcard.svg
  svgs/easer.svg
  svgs/fallout_shelter.svg
  svgs/power.svg
Labels: unstale

#1456 Added 5 icons, linked 2, updated 6
  app/assets/appfilter.xml
  svgs/character_ai.svg
  svgs/finamp.svg
  svgs/findroid.svg
  svgs/jellyfin.svg
  svgs/konele.svg
  svgs/my_fritz.svg
  svgs/netto.svg
  svgs/nova_launcher.svg
  svgs/thunder.svg
  svgs/tipico.svg
  svgs/tusky.svg
Labels: needs review

#1454 remove duplicates, merge testbook
  app/assets/appfilter.xml
  svgs/rrb_je_me_testbook.svg
  svgs/testbook.svg
Labels: changes requested

#1432 Add Todo Mate
  app/assets/appfilter.xml
  svgs/todo_mate.svg
Labels: changes requested

#1469 Add Buckwheat
  app/assets/appfilter.xml
  svgs/buckwheat.svg
Labels: changes requested

#1471 add 2 icons
  app/assets/appfilter.xml
  svgs/anilabx.svg
  svgs/dooz.svg
Labels: changes requested

#1442 Added unu
  app/assets/appfilter.xml
  svgs/unu.svg
Labels: changes requested
