Repository LawnchairLauncher/lawnicons, pull requests merged in 2024-02, with the labels that each got.

#1799 Add 5 Icons
  app/assets/appfilter.xml
  svgs/borrowbox.svg
  svgs/caffeine.svg
  svgs/emergency_plus.svg
  svgs/radarbox.svg
  svgs/triplej.svg
Labels: rework, icons

#1806 Icon for A&W
  app/assets/appfilter.xml
  svgs/aw.svg
Labels: icons

#1819 Implement CI notifications for Discord
  send_notifications.py
Labels: code

#1805 Add 2 links
  app/assets/appfilter.xml
Labels: icons

#1807 Add icon for TOU.TV
  app/assets/appfilter.xml
  svgs/toutv.svg
Labels: icons

#1817 Add 2 links
  app/assets/appfilter.xml
Labels: icons

#1818 new icon: Google Gemini
  app/assets/appfilter.xml
  svgs/google_gemini.svg
Labels: icons

#1802 Add Bank Norwegian and OSS Document Scanner
  app/assets/appfilter.xml
  svgs/bank_norwegian.svg
  svgs/oss_document_scanner.svg
Labels: rework, icons

#1804 +1 icon, +2 updates
  app/assets/appfilter.xml
  svgs/athena.svg
  svgs/disco_zoo.svg
  svgs/pocket_planes.svg
Labels: rework, icons

#1826 +35 links
  app/assets/appfilter.xml
  svgs/google_family_link_parental_controls.svg
Labels: icons

#1808 Add icon for Pokémon TCG Live
  app/assets/appfilter.xml
  svgs/pokemon_tcg_live.svg
Labels: rework, icons

#1809 Add Icon for Tubular
  app/assets/appfilter.xml
  svgs/tubular.svg
Labels: rework, icons

#1831 +10 links
  app/assets/appfilter.xml
  svgs/nequi.svg
  svgs/nequi_panama.svg
Labels: icons

#1833 Updating some icons
  svgs/admobile.svg
  svgs/another_life.svg
  svgs/bergfex.svg
  svgs/boursorama.svg
  svgs/coinbase.svg
  svgs/deezer.svg
  svgs/dhl.svg
  svgs/dito.svg
  svgs/droidcam_obs.svg
  svgs/grammarly.svg
  svgs/hit.svg
  svgs/homecentre.svg
  svgs/hopi.svg
  svgs/ivy_wallet.svg
  svgs/ledger_live.svg
  svgs/lifesum.svg
  svgs/mbank.svg
  svgs/nova.svg
  svgs/obimy.svg
  svgs/parcel_pending.svg
  svgs/pluto_tv.svg
  svgs/rrb_je_app.svg
  svgs/stack.svg
  svgs/star_walk_2.svg
  svgs/terabox.svg
  svgs/timeplanner.svg
  svgs/untitld.svg
  svgs/xvii.svg
  svgs/yandex_mail.svg
Labels: icons

#1829 +5 Icons
  app/assets/appfilter.xml
  svgs/get_current_wallpaper.svg
  svgs/milk_choco.svg
  svgs/pc_remote.svg
  svgs/quizizz.svg
  svgs/screen_dimmer.svg
Labels: rework, icons

#1827 Icon proposal for OHdio
  app/assets/appfilter.xml
  send_notifications.py
  svgs/ohdio.svg
Labels: code, icons

#1836 Updating some icons 2
  app/assets/appfilter.xml
  svgs/acca.svg
  svgs/accubattery.svg
  svgs/aplayer.svg
  svgs/asus_sound_recorder.svg
  svgs/deadhash.svg
  svgs/floccus.svg
  svgs/franco_kernel_manager.svg
  svgs/getcontact.svg
  svgs/goodwy_gallery.svg
  svgs/hp_print_service.svg
  svgs/instander.svg
  svgs/lexus.svg
  svgs/meitu.svg
  svgs/meizu_music.svg
  svgs/meu_sus_digital.svg
  svgs/odido.svg
  svgs/owntracks.svg
  svgs/smartcaller.svg
  svgs/story_saver.svg
  svgs/tangedco.svg
  svgs/video_downloader.svg
  svgs/video_downloader_for_ig.svg
  svgs/xdownloader.svg
Labels: icons

#1837 +20 icons: Electrum, Lloyds Bank, Stardew Valley
  app/assets/appfilter.xml
  svgs/addons_maker_mcpe_creator_mods.svg
  svgs/axet_audio_recorder.svg
  svgs/benny_co.svg
  svgs/conectesus.svg
  svgs/durak_online.svg
  svgs/electrum.svg
  svgs/evertranslator.svg
  svgs/futo_voice_input.svg
  svgs/game_center.svg
  svgs/goddess_of_victory_nikke.svg
  svgs/honor_of_kings.svg
  svgs/lloyds_bank.svg
  svgs/mewe.svg
  svgs/mioto.svg
  svgs/mix_monet_generator.svg
  svgs/proshot.svg
  svgs/radiodroid.svg
  svgs/real_racing_3.svg
  svgs/rise_of_kingdoms_lost_crusade.svg
  svgs/stardew_valley.svg
  svgs/unified_remote.svg
Labels: icons

#1838 +6 links
  app/assets/appfilter.xml
Labels: icons

#1839 +28 icons: Blue Archive, ininal, Nullgram
  app/assets/appfilter.xml
  svgs/blue_archive.svg
  svgs/cleer_plus.svg
  svgs/connect_you.svg
  svgs/elfeed.svg
  svgs/findmydevice.svg
  svgs/finshell_wallet.svg
  svgs/flyy.svg
  svgs/gosharpener.svg
  svgs/ininal.svg
  svgs/internet_browser.svg
  svgs/jelly_browser.svg
  svgs/lineageos_music.svg
  svgs/melodifestivalen.svg
  svgs/monocles_chat.svg
  svgs/moveat.svg
  svgs/nextcloud_cookbook.svg
  svgs/nullgram.svg
  svgs/oppo_music.svg
  svgs/oracle.svg
  svgs/payzapp.svg
  svgs/realcalc.svg
  svgs/record_you.svg
  svgs/s_miles_installer.svg
  svgs/shopeepay.svg
  svgs/sl_google_bridge.svg
  svgs/spmp.svg
  svgs/sss.svg
  svgs/stern_pinball_ic.svg
  svgs/storytel.svg
  svgs/studentvue.svg
  svgs/swipefy.svg
  svgs/termux_x11.svg
  svgs/vpn_area.svg
  svgs/wall_you.svg
  svgs/winlator.svg
  svgs/xbrowser.svg
  svgs/yulu.svg
Labels: icons

#1840 +7 links
  app/assets/appfilter.xml
Labels: icons

#1841 +14 links
  app/assets/appfilter.xml
Labels: icons

#1842 +13 icons: CAPod, Dead by Daylight, NES.emu
  app/assets/appfilter.xml
  svgs/candy_crush_saga.svg
  svgs/capod.svg
  svgs/chmate.svg
  svgs/clash_base_pedia.svg
  svgs/dead_by_daylight.svg
  svgs/everest.svg
  svgs/graph_messenger.svg
  svgs/gta_vc.svg
  svgs/jiji.svg
  svgs/max_fashion.svg
  svgs/nes_emu.svg
  svgs/open_video_editor.svg
  svgs/ready_for_reddit.svg
  svgs/rocketeng.svg
  svgs/vsmart_contact.svg
  svgs/vsmart_dual_apps.svg
  svgs/vsmart_sound_recorder.svg
  svgs/yandex_music.svg
  svgs/ymusic.svg
Labels: icons

#1843 Updating some icons 3
  app/assets/appfilter.xml
  svgs/ai_chat.svg
  svgs/battery_guru.svg
  svgs/flashy.svg
  svgs/icsx5.svg
  svgs/kaidee.svg
  svgs/lspatch_lsposed.svg
  svgs/lsposed.svg
  svgs/polarr.svg
  svgs/publix_delivery.svg
  svgs/russian_language_quiz.svg
  svgs/tuner.svg
  svgs/v_downloader.svg
  svgs/vanilla_music.svg
  svgs/vimusic.svg
Labels: icons

#1844 Updating some icons 4
  app/assets/appfilter.xml
  svgs/ebasebanking.svg
  svgs/fnz_bank.svg
  svgs/jd.svg
  svgs/time_table.svg
  svgs/youtube_music_revanced.svg
Labels: icons

#1846 Clarified the process of filling out the icon request form
  CONTRIBUTING.md
Labels: docs

#1847 +10 icons: Mappls, My Boy!, TVer
  app/assets/appfilter.xml
  svgs/companion_for_gltools.svg
  svgs/droidfs.svg
  svgs/ir_remote.svg
  svgs/mappls.svg
  svgs/my_boy.svg
  svgs/reverse_1999.svg
  svgs/stumble_guys.svg
  svgs/super_guida_tv.svg
  svgs/tver.svg
  svgs/xanh_sm.svg
Labels: icons

#1848 +7 links
  app/assets/appfilter.xml
Labels: icons

#1854 +11 links
  app/assets/appfilter.xml
  svgs/zerotier.svg
Labels: icons

#1855 Added 3 New Icons
  app/assets/appfilter.xml
  svgs/nykaa.svg
  svgs/nykaa_fashion.svg
  svgs/nykaa_man.svg
Labels: rework, icons

#1857 Clarified the size of icons in the TL;DR section
  CONTRIBUTING.md
Labels: docs

#1858 Updated some icon app activity names
  app/assets/appfilter.xml
Labels: icons

#1852 +13 Icons +1 Link
  app/assets/appfilter.xml
  svgs/apk_info.svg
  svgs/blynk.svg
  svgs/charge_meter.svg
  svgs/deskdock.svg
  svgs/modern_strike_online.svg
  svgs/neobank.svg
  svgs/noti_progress_bar.svg
  svgs/palm_store.svg
  svgs/prayer_times.svg
  svgs/roto_force.svg
  svgs/touch_the_notch.svg
  svgs/xarena.svg
  svgs/zen_flip_clock.svg
Labels: rework, icons

#1861 +12 icons: Alpi Maps, Measure, Vernet
  app/assets/appfilter.xml
  svgs/alpi_maps.svg
  svgs/audiorelay.svg
  svgs/bmap.svg
  svgs/foss_warn.svg
  svgs/gauguin.svg
  svgs/measure.svg
  svgs/nix.svg
  svgs/scrcpy_pro.svg
  svgs/smartspacer.svg
  svgs/transdroid.svg
  svgs/unlockmaster.svg
  svgs/vernet.svg
Labels: icons

#1862 +11 links
  app/assets/appfilter.xml
Labels: icons
