Repository LawnchairLauncher/lawnicons, pull requests merged in 2024-09, with the labels that each got.

#2292 +1 icon
  app/assets/appfilter.xml
  svgs/hankou_bank.svg
Labels: icons

#2294 +1 icon
  app/assets/appfilter.xml
  svgs/beanconqueror.svg
Labels: icons

#2306 Lawnicons update, +14 links
  app/assets/appfilter.xml
  svgs/gta_san_andreas.svg
  svgs/gta_vice_city.svg
  svgs/lawnicons.svg
  svgs/tinkoff_investments.svg
  svgs/toolbox_for_minecraft_pe.svg
Labels: icons

#2284 Rearrange nav destinations
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/Lawnicons.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/destination/About.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/destination/Acknowledgement.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/destination/Acknowledgements.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/destination/Contributors.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/destination/Home.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/util/Destinations.kt
Labels: code

#2280 Mark stable classes and enable Compose Compiler reports
  app/build.gradle.kts
  app/compose_compiler_config.conf
  app/src/main/kotlin/app/lawnchair/lawnicons/model/IconInfoModel.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/model/IconRequestModel.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/repository/IconRepository.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/home/IconPreviewGrid.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/home/search/SearchContents.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/destination/Contributors.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/destination/Home.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/util/PreviewUtils.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/viewmodel/ContributorsViewModel.kt
Labels: code

#2311 +44 links
  app/assets/appfilter.xml
Labels: icons

#2313 +14 links
  app/assets/appfilter.xml
  svgs/castro.svg
  svgs/lawnchair.svg
  svgs/pi_network.svg
  svgs/superimage.svg
Labels: icons

#2316 Link Lawnchair Google Play Store package name
  app/assets/appfilter.xml
Labels: icons

#2321 +10 links
  app/assets/appfilter.xml
  svgs/kinnu.svg
Labels: icons

#2324 +67 links
  app/assets/appfilter.xml
Labels: icons

#2315 +12 icons, +3 link
  app/assets/appfilter.xml
  svgs/bbll.svg
  svgs/biliyou.svg
  svgs/bjetc.svg
  svgs/buff.svg
  svgs/kuper.svg
  svgs/magical_search.svg
  svgs/magicplan.svg
  svgs/moscow_wifi_autologin.svg
  svgs/okey.svg
  svgs/perekrestok.svg
  svgs/russian_railways.svg
  svgs/sberinvestments.svg
  svgs/torrserve_matrix.svg
Labels: rework, icons

#2327 +17 links
  app/assets/appfilter.xml
  svgs/dominos_pizza.svg
  svgs/the_battle_of_polytopia.svg
  svgs/tunein_radio.svg
  svgs/tuya_smart.svg
Labels: icons

#2328 Small refinements of the Lawnicons docs
  .github/icon_checklist.md
  CONTRIBUTING.md
Labels: docs

#2326 +3 icons
  app/assets/appfilter.xml
  svgs/bank_mehr.svg
  svgs/mead_mate.svg
  svgs/nobitex.svg
Labels: rework, icons

#2329 +15 links
  app/assets/appfilter.xml
  svgs/zorin_connect.svg
Labels: icons

#2330 Minor fix to the self-review list
  .github/icon_checklist.md
Labels: docs

#2333 +1 update
  svgs/youtube_revanced.svg
Labels: icons

#2334 Triple J update, +4 links
  app/assets/appfilter.xml
  svgs/lawnicons.svg
  svgs/triple_j.svg
  svgs/triplej.svg
Labels: icons

#2338 Simplifying the icon addition template
  .github/PULL_REQUEST_TEMPLATE/icon_addition.md
  .github/icon_checklist.md
Labels: docs

#2339 +1 icon
  app/assets/appfilter.xml
  svgs/one_zero.svg
Labels: icons

#2343 T2 update, +18 links
  app/assets/appfilter.xml
  svgs/godot_editor_4.svg
  svgs/gov_br.svg
  svgs/t2.svg
Labels: icons

#2345 Easter Egg update, +8 links
  app/assets/appfilter.xml
  svgs/easter_eggs.svg
Labels: icons

#2340 +7 icons, Updated 3, Linked 1
  app/assets/appfilter.xml
  svgs/_150x_duplicate_file_remover_pro.svg
  svgs/al_dawaa.svg
  svgs/al_romansiah.svg
  svgs/alinmapay.svg
  svgs/almanea.svg
  svgs/barq.svg
  svgs/bcare.svg
  svgs/core.svg
  svgs/hungerstation.svg
  svgs/mada_pay.svg
Labels: rework, icons

#2267 Add Nightly Releases
  .github/release.yml
  .github/workflows/build_debug_apk.yml
  README.md
Labels: docs

#2349 Improving the repo description
  README.md
  docs/images/badge-github.png
  docs/images/badge-google-play.png
  docs/images/badge-izzyondroid.png
  docs/images/badge-obtainium.png
Labels: docs

#2350 Fixing badges in the repo description
  README.md
Labels: docs

#2351 Resized badges
  docs/images/badge-github.png
  docs/images/badge-google-play.png
  docs/images/badge-izzyondroid.png
  docs/images/badge-obtainium.png
Labels: docs

#2356 Badges update, +4 links
  app/assets/appfilter.xml
  docs/images/badge-github.png
  docs/images/badge-google-play.png
  docs/images/badge-izzyondroid.png
  docs/images/badge-obtainium.png
  svgs/obtainium.svg
Labels: docs, icons

#2358 Minor badges fix
  README.md
Labels: docs

#2360 Update README Badges
  README.md
Labels: docs

#2361 Small badges alignment fix
  README.md
Labels: docs

#2336 +3 icons
  app/assets/appfilter.xml
  svgs/entrust_identity.svg
  svgs/geogebra_3d_calculator.svg
  svgs/hungerbox_cafe.svg
Labels: rework, icons

#2369 2 updates, +14 links
  app/assets/appfilter.xml
  svgs/dubizzle.svg
  svgs/xiaomi_game_center.svg
  svgs/zomato.svg
Labels: icons

#2370 + 8 icons
  app/assets/appfilter.xml
  svgs/google_pixel_studio.svg
  svgs/icoca.svg
  svgs/joyfit.svg
  svgs/kurasushi.svg
  svgs/montbell.svg
  svgs/mynaportal.svg
  svgs/pixel_screenshots.svg
  svgs/yamareco.svg
Labels: icons

#2352 +1 icon
  app/assets/appfilter.xml
  svgs/dns.svg
Labels: icons

#2372 +11 links
  app/assets/appfilter.xml
Labels: icons

#2375 +9 links
  app/assets/appfilter.xml
Labels: icons

#2373 Repo cover, +3 links
  README.md
  app/assets/appfilter.xml
  docs/images/repo_cover.png
Labels: docs, icons

#2374 +1 icon
  app/assets/appfilter.xml
  svgs/rec_room.svg
Labels: rework, icons

#2379 +1 Link
  app/assets/appfilter.xml
Labels: icons

#2380 +1 icon, +10 links
  app/assets/appfilter.xml
  svgs/grapheneos_info.svg
Labels: icons

#2381 +8 links
  app/assets/appfilter.xml
  svgs/allen_digital.svg
  svgs/revanced_extended.svg
  svgs/sync_for_reddit.svg
Labels: icons
