Repository LawnchairLauncher/lawnicons, pull requests merged in 2024-04, with the labels that each got.

#1948 +2 updates, Use official Mihon logo
  svgs/mihon.svg
Labels: rework, icons

#1950 +25 icons: Ally, Picsart Color, VssID
  app/assets/appfilter.xml
  svgs/adv_screen_recorder.svg
  svgs/ally.svg
  svgs/americanas.svg
  svgs/android_system_webview.svg
  svgs/appbar.svg
  svgs/appuly.svg
  svgs/bic_camera.svg
  svgs/borno.svg
  svgs/cbs.svg
  svgs/drops_learn_british_english.svg
  svgs/ecourts_services.svg
  svgs/game_space.svg
  svgs/headi.svg
  svgs/impact.svg
  svgs/infomaniak_ksync.svg
  svgs/launcher_ops.svg
  svgs/miui_hidden_settings.svg
  svgs/nothink.svg
  svgs/picsart_color.svg
  svgs/planet.svg
  svgs/rainviewer.svg
  svgs/redbox.svg
  svgs/stack_pdf_scanner.svg
  svgs/vssid.svg
  svgs/wink_video_enhancing.svg
Labels: icons

#1951 Link Gadgetbridge Nightly
  app/assets/appfilter.xml
Labels: icons

#1953 +10 icons: Emby, Pluang, Woolworths
  app/assets/appfilter.xml
  svgs/anatel_consumidor.svg
  svgs/aquavias.svg
  svgs/emby.svg
  svgs/hypocam.svg
  svgs/material_you_light_dark.svg
  svgs/password_manager_safeincloud.svg
  svgs/pluang.svg
  svgs/regenradar.svg
  svgs/stadtradeln.svg
  svgs/woolworths.svg
Labels: icons

#1954 +16 icons: AppMrg III, Globoplay, Wealthsimple
  app/assets/appfilter.xml
  svgs/appmgr_iii.svg
  svgs/beastvpn.svg
  svgs/dragon_ball_legends.svg
  svgs/droid_hardware.svg
  svgs/gif_maker_gif_editor.svg
  svgs/globoplay.svg
  svgs/knip.svg
  svgs/lc_waikiki.svg
  svgs/motionmate.svg
  svgs/nhs.svg
  svgs/reebee.svg
  svgs/samsung_shop.svg
  svgs/samsung_wonderland.svg
  svgs/threed_scanner_for_arcore.svg
  svgs/ups.svg
  svgs/wealthsimple.svg
  svgs/xb_bargains.svg
Labels: icons

#1956 +16 icons: BirdNET, DerpFest, Wordament
  app/assets/appfilter.xml
  svgs/birdnet.svg
  svgs/bugjaeger.svg
  svgs/cobs_bread.svg
  svgs/connect_for_lemmy.svg
  svgs/derpfest.svg
  svgs/deutschlandticket_de.svg
  svgs/digi_clock_widget.svg
  svgs/duckstation.svg
  svgs/ffmpeg_media_encoder.svg
  svgs/microsoft_designer.svg
  svgs/my_canada_life_at_work.svg
  svgs/seterra.svg
  svgs/tomb_of_the_mask.svg
  svgs/vneid.svg
  svgs/vpnhood.svg
  svgs/wordament.svg
Labels: icons

#1957 Link latest YTDLnis
  app/assets/appfilter.xml
Labels: icons

#1961 +2 links and some updates
  app/assets/appfilter.xml
  svgs/aimp.svg
  svgs/airfrozen.svg
  svgs/anime_slayer.svg
  svgs/bajaj_finserv.svg
  svgs/bigbasket.svg
  svgs/black_light_icon_pack.svg
  svgs/churchsuite.svg
  svgs/coursera.svg
  svgs/cymera.svg
  svgs/daybridge.svg
  svgs/dont_touch_the_spikes.svg
  svgs/espresso_house.svg
  svgs/fastmail.svg
  svgs/foodie.svg
  svgs/fotonica.svg
  svgs/gauguin.svg
  svgs/hostelworld.svg
  svgs/ice_box.svg
  svgs/koho.svg
  svgs/maldives.svg
  svgs/meitu.svg
  svgs/moto.svg
  svgs/mpaisa.svg
  svgs/name_generator.svg
  svgs/paseo.svg
  svgs/redreader.svg
  svgs/shortcut_creator.svg
  svgs/stack_game.svg
  svgs/statista.svg
  svgs/sweatcoin.svg
  svgs/tap_scroll.svg
  svgs/testbook.svg
  svgs/vaulty.svg
Labels: icons

#1952 Added 5 icons, linked 1
  app/assets/appfilter.xml
  svgs/agoradesk.svg
  svgs/alga.svg
  svgs/gptassist.svg
  svgs/nextpush.svg
  svgs/video_transcoder.svg
Labels: rework, icons

#1962 +13 icons: 1688, I2P, Test DPC
  app/assets/appfilter.xml
  svgs/adobe_photoshop_touch.svg
  svgs/aimp.svg
  svgs/alibaba_1688.svg
  svgs/codec_info.svg
  svgs/db_bahnhof_live.svg
  svgs/footpath_route_planner.svg
  svgs/fritzapp_tv.svg
  svgs/it2p.svg
  svgs/macrodroid_helper.svg
  svgs/ml_manager.svg
  svgs/nyt_games_word_games_and_sudoku.svg
  svgs/serverbox.svg
  svgs/test_dpc.svg
  svgs/zuoyebang.svg
Labels: icons

#1965 +23 icons: bVNC, Free Ligue 1, Vsmart
  app/assets/appfilter.xml
  svgs/apple_flinger.svg
  svgs/assistive_touch.svg
  svgs/balls.svg
  svgs/blocker.svg
  svgs/bvnc.svg
  svgs/change_my_mac.svg
  svgs/coincalc.svg
  svgs/cpu_l.svg
  svgs/free_ligue_1.svg
  svgs/freenet.svg
  svgs/gpu_l.svg
  svgs/iserv.svg
  svgs/keep_me_out.svg
  svgs/maps_me.svg
  svgs/my_yamaha_motor.svg
  svgs/nadamillas.svg
  svgs/nz_ua.svg
  svgs/pixel_icon_pack.svg
  svgs/seabank.svg
  svgs/untare.svg
  svgs/vsmart.svg
  svgs/xscamera.svg
  svgs/yu_gi_oh_duel_links.svg
  svgs/zfont_tool.svg
Labels: icons

#1966 Fixing an incorrect link to GCam
  app/assets/appfilter.xml
  svgs/lmc_84.svg
Labels: icons

#1968 +15 links
  app/assets/appfilter.xml
Labels: icons

#1959 Add 1 Icon
  app/assets/appfilter.xml
  svgs/cricket_australia_live.svg
Labels: rework, icons

#1969 Added a link to Google Play for the IconRequest app
  CONTRIBUTING.md
Labels: docs

#1971 +16 icons: 1Gallery, Halma, renshuu
  app/assets/appfilter.xml
  svgs/anidroid.svg
  svgs/epic_freebie_games_radar.svg
  svgs/evo_icon_pack.svg
  svgs/expense_manager.svg
  svgs/halma.svg
  svgs/jump_rope_training.svg
  svgs/kia_connect.svg
  svgs/lightning.svg
  svgs/logic_circuit_simulator_pro.svg
  svgs/muambator.svg
  svgs/network_speed.svg
  svgs/nowakelock.svg
  svgs/onegallery.svg
  svgs/renshuu.svg
  svgs/shokz.svg
  svgs/text_editor.svg
Labels: icons

#1972 Add 5 Icons
  app/assets/appfilter.xml
  svgs/bin_reminder.svg
  svgs/bonza_word_puzzle.svg
  svgs/daikin_mobile_controller.svg
  svgs/liveatc.svg
  svgs/sony_auto_play.svg
Labels: rework, icons

#1963 +25 Icons, +3 Links
  app/assets/appfilter.xml
  svgs/another_notes_app.svg
  svgs/apk_extractor.svg
  svgs/audio_converter.svg
  svgs/automatic_clicker.svg
  svgs/ballz_ketchapp.svg
  svgs/bluk.svg
  svgs/bubble_upnp.svg
  svgs/buildings_for_minecraft_bedrock.svg
  svgs/character_pad.svg
  svgs/crop_trim_video.svg
  svgs/dunk_shot_ketchapp.svg
  svgs/eight_bit_photo_lab.svg
  svgs/explorer_amnh.svg
  svgs/flipa_clip.svg
  svgs/glitch_lab.svg
  svgs/mr_gun_ketchapp.svg
  svgs/photo_picture_resizer.svg
  svgs/pocket_mathematics.svg
  svgs/quick_cursor.svg
  svgs/rider_ketchapp.svg
  svgs/screen_stream.svg
  svgs/super_arcade_racing.svg
  svgs/ticket_restaurant.svg
  svgs/vectorify_da_home.svg
  svgs/word_sorting_machine.svg
  svgs/zanichelli_guarda.svg
Labels: rework, icons

#1973 +3 links and simplification of names
  app/assets/appfilter.xml
Labels: icons

#1974 Clarified the guidelines for transliteration of names
  CONTRIBUTING.md
Labels: docs

#1975 +14 icons: CashBook, Clipt, ProCamX
  app/assets/appfilter.xml
  svgs/cashbook.svg
  svgs/clipt.svg
  svgs/deepsleep.svg
  svgs/easy_repost.svg
  svgs/fritzapp_smart_home.svg
  svgs/fritzapp_wlan.svg
  svgs/microsoft_loop.svg
  svgs/minesweeper.svg
  svgs/minesweeper_the_clean_one.svg
  svgs/music_recognition.svg
  svgs/procam_x.svg
  svgs/tesco_grocery.svg
  svgs/tetherfi.svg
  svgs/tomtom_amigo.svg
  svgs/wikipedia.svg
  svgs/wikipedia_beta.svg
Labels: icons

#1976 Add 10, Link 2
  app/assets/appfilter.xml
  svgs/automatic_call_recorder.svg
  svgs/daiso_app.svg
  svgs/flightaware.svg
  svgs/hocus.svg
  svgs/moonee_valley_libraries.svg
  svgs/nicenote_notepad_notes.svg
  svgs/orb_participant.svg
  svgs/oss_weather.svg
  svgs/snaptick.svg
  svgs/todark.svg
Labels: rework, icons

#1978 +34 icons: AirMusic, Outline Icons, Xylem
  app/assets/appfilter.xml
  svgs/adguard_home_manager.svg
  svgs/airmusic.svg
  svgs/astro_file_manager.svg
  svgs/bhim_sbi_pay.svg
  svgs/bluecoins.svg
  svgs/candycons.svg
  svgs/cartao_continente.svg
  svgs/datadex.svg
  svgs/deckboard_pro.svg
  svgs/degoo.svg
  svgs/etchdroid.svg
  svgs/ivcam.svg
  svgs/milktea_for_misskey.svg
  svgs/ml_manager_pro.svg
  svgs/mobilny_usos_ul.svg
  svgs/muller.svg
  svgs/music_for_focus.svg
  svgs/my_bmw.svg
  svgs/mypldt_smart.svg
  svgs/myworldlink.svg
  svgs/nearby_sharing.svg
  svgs/outline_icons.svg
  svgs/pix_parcelado_cartao_credito.svg
  svgs/pixels.svg
  svgs/powerful_monitor.svg
  svgs/pripara.svg
  svgs/privadovpn.svg
  svgs/simons.svg
  svgs/speed_test.svg
  svgs/studentsquare.svg
  svgs/tsavaari.svg
  svgs/urban_vpn.svg
  svgs/xylem.svg
  svgs/zangi_private_messenger.svg
Labels: icons

#1981 +24 icons: Cashew, Formula E, ZaloPay
  app/assets/appfilter.xml
  svgs/animation_crazy.svg
  svgs/blocto.svg
  svgs/cashew.svg
  svgs/diarium.svg
  svgs/dw.svg
  svgs/electronicscomp.svg
  svgs/f_stop_gallery.svg
  svgs/formula_e.svg
  svgs/glory_fit.svg
  svgs/gps_emulator.svg
  svgs/home_credit.svg
  svgs/kuukiyomi.svg
  svgs/manage_apps_shortcut.svg
  svgs/monitor_burz.svg
  svgs/mycellfie.svg
  svgs/myvrn.svg
  svgs/neobt.svg
  svgs/pairvpn.svg
  svgs/pkp_intercity.svg
  svgs/pulsar.svg
  svgs/read_chan.svg
  svgs/totalplay.svg
  svgs/tronlink_pro.svg
  svgs/viettel_post.svg
  svgs/zalopay.svg
Labels: icons

#1984 +16 icons: CyberAlerty, QAuxiliary, You Tune
  app/assets/appfilter.xml
  svgs/cyberalerty.svg
  svgs/free.svg
  svgs/glmark2.svg
  svgs/harmony_music.svg
  svgs/kfz_kennzeichen.svg
  svgs/lazada_seller_center.svg
  svgs/my_vnpt.svg
  svgs/papers.svg
  svgs/papers_ai_wallpapers.svg
  svgs/qauxiliary.svg
  svgs/rewind.svg
  svgs/samsung_find.svg
  svgs/samsung_notistar.svg
  svgs/samsung_o.svg
  svgs/satstat.svg
  svgs/signal_generator.svg
  svgs/whatsdeleted.svg
  svgs/xed_editor.svg
  svgs/you_tune.svg
Labels: icons

#1985 +6 links
  app/assets/appfilter.xml
  svgs/ibis_paint.svg
Labels: icons

#1986 +25 links
  app/assets/appfilter.xml
Labels: icons

#1983 Add 7, Update 1
  app/assets/appfilter.xml
  svgs/air_france.svg
  svgs/canta.svg
  svgs/costco_wholesale.svg
  svgs/easyjet.svg
  svgs/jetstar.svg
  svgs/kanopy.svg
  svgs/synology_drive.svg
  svgs/synology_secure_signin.svg
Labels: rework, icons

#1987 Link official M3 Catalog
  app/assets/appfilter.xml
Labels: icons

#1988 +10 icons: Cache Cleaner, Photok, VTube Studio
  app/assets/appfilter.xml
  svgs/cache_cleaner.svg
  svgs/freebox_connect.svg
  svgs/freedictionaryapp.svg
  svgs/insa_d_ticket.svg
  svgs/norwegian_travel_assistant.svg
  svgs/photok.svg
  svgs/ruter.svg
  svgs/samsung_nice_catch.svg
  svgs/vtube_studio.svg
  svgs/zdrowe_zakupy.svg
Labels: icons

#1989 +12 icons: Dexway, Fossil, Visible
  app/assets/appfilter.xml
  svgs/dexway.svg
  svgs/ezviz.svg
  svgs/fedex.svg
  svgs/foobar2000_controller.svg
  svgs/fossil.svg
  svgs/free_fire_max.svg
  svgs/hishoot2i.svg
  svgs/key_mapper.svg
  svgs/manga_plus.svg
  svgs/mdscan_ocr.svg
  svgs/temple_run.svg
  svgs/visible.svg
Labels: icons

#1991 Link 4
  app/assets/appfilter.xml
Labels: icons

#1992 +21 links
  app/assets/appfilter.xml
Labels: icons

#1994 +8 links
  app/assets/appfilter.xml
  svgs/chrono_artm.svg
  svgs/foobar2000.svg
  svgs/huawei_mirror.svg
  svgs/lumos_icons.svg
  svgs/wombo_dream.svg
Labels: icons

#1970 Re-enable modifier missing check rule
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/Lawnicons.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/ContributorRow.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/ContributorRowPlaceholder.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/ExternalLinkRow.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/core/LawniconsScaffold.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/core/TopAppBar.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/home/IconInfoPopup.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/home/IconPreview.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/home/IconPreviewGrid.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/home/OverflowMenu.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/home/PlaceholderSearchBar.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/home/SearchBar.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/destination/About.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/destination/Acknowledgement.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/destination/Acknowledgements.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/destination/Contributors.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/destination/Home.kt
  build.gradle.kts
Labels: code

#1995 link 2
  app/assets/appfilter.xml
Labels: icons

#1999 +9 links
  app/assets/appfilter.xml
Labels: icons

#2001 Add icon for Geode
  app/assets/appfilter.xml
  svgs/geode.svg
Labels: rework, icons

#2002 +41 icons: Fly Delta, LINE MUSIC, Sun NXT
  app/assets/appfilter.xml
  svgs/companion_for_new_world.svg
  svgs/energy.svg
  svgs/facetune.svg
  svgs/fly_delta.svg
  svgs/fv_file_manager.svg
  svgs/gemini_wallpaper.svg
  svgs/giveaway_of_the_day.svg
  svgs/google_daydream.svg
  svgs/ground_news.svg
  svgs/haofenshu.svg
  svgs/hktweaks.svg
  svgs/homepass.svg
  svgs/john_gbac.svg
  svgs/join.svg
  svgs/key_driver.svg
  svgs/klara_weather.svg
  svgs/librepass.svg
  svgs/line_music.svg
  svgs/malody_v.svg
  svgs/monocles_mail.svg
  svgs/monocles_translator.svg
  svgs/nebulo.svg
  svgs/notification_widget.svg
  svgs/nova_google_companion.svg
  svgs/passtable.svg
  svgs/piecons_icons.svg
  svgs/pilipala.svg
  svgs/pixels_journaling.svg
  svgs/plain_upnp.svg
  svgs/quero_delivery.svg
  svgs/quiz_house.svg
  svgs/rome2rio.svg
  svgs/sayboard.svg
  svgs/screenshot_flow.svg
  svgs/star_music_tag_editor.svg
  svgs/sun_nxt.svg
  svgs/super_icons.svg
  svgs/todesk.svg
  svgs/trivago.svg
  svgs/trivia_you.svg
  svgs/vpn_gate_client.svg
  svgs/yomira_premium_icons.svg
Labels: icons

#2003 +14 links
  app/assets/appfilter.xml
Labels: icons

#2004 +6 links
  app/assets/appfilter.xml
  svgs/autonotification.svg
  svgs/trivago.svg
  svgs/video_downloader_story_saver.svg
Labels: icons

#2005 +40 icons: Flybuys, Keyman, Pure Tuber
  app/assets/appfilter.xml
  svgs/akakce.svg
  svgs/apteka_april.svg
  svgs/bot_designer.svg
  svgs/brush_teeth_reminder.svg
  svgs/chai.svg
  svgs/code_studio.svg
  svgs/digital_card_reader.svg
  svgs/doviz.svg
  svgs/eksicep.svg
  svgs/flybuys.svg
  svgs/geopop.svg
  svgs/get_it_right.svg
  svgs/google_ads.svg
  svgs/gumtree.svg
  svgs/hik_connect.svg
  svgs/home_connect.svg
  svgs/hoteltonight.svg
  svgs/housesigma.svg
  svgs/hyundai_care.svg
  svgs/ivi.svg
  svgs/keyman.svg
  svgs/linktree.svg
  svgs/meteored.svg
  svgs/metrobank.svg
  svgs/my_cuf.svg
  svgs/nextdoor.svg
  svgs/nunti.svg
  svgs/okko.svg
  svgs/onoff.svg
  svgs/onx_hunt.svg
  svgs/piccollage.svg
  svgs/pingtools.svg
  svgs/pure_tuber.svg
  svgs/spareroom.svg
  svgs/start.svg
  svgs/story_saver.svg
  svgs/techcombank.svg
  svgs/termux_gui.svg
  svgs/tfl_go.svg
  svgs/wink_tv.svg
Labels: icons

#1990 Fix list padding in About, Contributors, and Acknowledgement screens
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/destination/About.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/destination/Acknowledgements.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/destination/Contributors.kt
Labels: code

#2006 +40 icons: Delta Chat, Hepsiburada, Yahoo Weather
  app/assets/appfilter.xml
  svgs/bflix.svg
  svgs/breeno_shortcuts.svg
  svgs/chat_ai.svg
  svgs/cinemark.svg
  svgs/countdown_widget.svg
  svgs/course_hero.svg
  svgs/delta_chat.svg
  svgs/drawnote.svg
  svgs/dynamic_material_you_icons.svg
  svgs/eventbrite.svg
  svgs/fde_ai.svg
  svgs/flip.svg
  svgs/gopeed.svg
  svgs/hepsiburada.svg
  svgs/key_attestation.svg
  svgs/koronapay.svg
  svgs/lucky_patcher.svg
  svgs/magnit.svg
  svgs/marinetraffic.svg
  svgs/mathway.svg
  svgs/medis.svg
  svgs/meditation_assistant.svg
  svgs/mi_telcel.svg
  svgs/naver.svg
  svgs/nclientv2.svg
  svgs/peloton.svg
  svgs/pokekara.svg
  svgs/random_video_chat.svg
  svgs/redbubble.svg
  svgs/remove_bg.svg
  svgs/rest_icons.svg
  svgs/spike.svg
  svgs/sportmaster.svg
  svgs/storygo.svg
  svgs/whisper.svg
  svgs/yahoo_weather.svg
  svgs/yappy.svg
  svgs/yi_iot.svg
  svgs/youla.svg
  svgs/zoopla.svg
Labels: icons

#2007 +22 icons: Libera Reader, talabat, Winner
  app/assets/appfilter.xml
  svgs/bodega_aurrera.svg
  svgs/clearpay.svg
  svgs/drug_vokrug.svg
  svgs/eventbrite.svg
  svgs/gauth.svg
  svgs/keys_to_success.svg
  svgs/kito.svg
  svgs/ldcloud.svg
  svgs/librera_reader.svg
  svgs/lingnan_pass.svg
  svgs/mackolik.svg
  svgs/nameless_cat.svg
  svgs/radioplayer.svg
  svgs/ridmik_news.svg
  svgs/seesaw.svg
  svgs/talabat.svg
  svgs/territorial_io.svg
  svgs/vigilante.svg
  svgs/weverse.svg
  svgs/winner.svg
  svgs/yoga_go.svg
  svgs/zello.svg
  svgs/ziogas.svg
Labels: icons

#2009 +28 icons: GoBiz, Pixtica, Yoodo
  app/assets/appfilter.xml
  svgs/buienalarm.svg
  svgs/classin.svg
  svgs/doctoralia.svg
  svgs/drops.svg
  svgs/gobiz.svg
  svgs/i_am_sober.svg
  svgs/id_gov_pt.svg
  svgs/la_metropole.svg
  svgs/lark.svg
  svgs/logcat_reader.svg
  svgs/lunasea.svg
  svgs/mishka.svg
  svgs/miui_forum.svg
  svgs/mobillet.svg
  svgs/motivation.svg
  svgs/mtn_momo.svg
  svgs/my_indihome.svg
  svgs/nothing_to_say.svg
  svgs/nrf_connect.svg
  svgs/onionshare.svg
  svgs/pixtica.svg
  svgs/ram_memory_monitor.svg
  svgs/teleparty.svg
  svgs/thepay.svg
  svgs/verifit.svg
  svgs/vimeo.svg
  svgs/weback.svg
  svgs/xiaomi_community.svg
  svgs/yoodo.svg
  svgs/zahnputz.svg
Labels: icons

#2010 +5 links
  app/assets/appfilter.xml
Labels: icons

#2019 Added a warning about using the sort command in icontool.py
  docs/icontool_guide.md
Labels: docs

#2017 Style:[AS]+18 icons
  app/assets/appfilter.xml
  svgs/animeindo.svg
  svgs/blood_strike.svg
  svgs/concepts.svg
  svgs/insync.svg
  svgs/islamqa.svg
  svgs/lena_adaptive_icons.svg
  svgs/lighttube.svg
  svgs/lux_icons_free.svg
  svgs/material_you_dynamic_icons.svg
  svgs/my_health.svg
  svgs/no_thanks.svg
  svgs/routine_tracker.svg
  svgs/tomtom_go_navigation.svg
  svgs/wezone.svg
  svgs/widgeet.svg
  svgs/xclub.svg
  svgs/xos_launcher.svg
  svgs/xshare.svg
Labels: rework, icons

#2020 Optimized the wording in the description and added an invitation for devs
  README.md
Labels: docs

#2021 Minor changes in TL;DR section of the Lawnicons guidelines
  CONTRIBUTING.md
Labels: docs

#2022 Edited the wording of the description to make it shorter
  README.md
Labels: docs

#2023 Moved the phrase about self-fulfilling a request from the Contributing to the Requesting icons
  README.md
Labels: docs

#2024 Enable automatic per-app language support
  app/build.gradle.kts
  app/src/main/res/resources.properties
Labels: code

#2025 Updated the video guide on how to request icons
  CONTRIBUTING.md
  README.md
Labels: docs

#2026 +6 links
  app/assets/appfilter.xml
Labels: icons

#2029 Fix for a dialer + 3 links
  app/assets/appfilter.xml
Labels: icons

#2030 Add icon for VeWorld
  app/assets/appfilter.xml
  svgs/veworld.svg
Labels: icons

#2032 +46 links
  app/assets/appfilter.xml
  svgs/edenred.svg
  svgs/ticket_restaurant.svg
  svgs/webex.svg
Labels: icons

#2034 +3 links
  app/assets/appfilter.xml
  svgs/yandex_market.svg
Labels: icons

#2037 +12 links
  app/assets/appfilter.xml
Labels: icons

#2038 +6 links
  app/assets/appfilter.xml
  svgs/airtel.svg
  svgs/credit_agricole.svg
Labels: icons

#2039 +1 link and updating names
  app/assets/appfilter.xml
  svgs/a101_yeni.svg
  svgs/abv_mail.svg
  svgs/adobe_account_access.svg
  svgs/afwall_plus.svg
  svgs/air_alarm.svg
  svgs/air_selangor.svg
  svgs/alarm_clock_for_heavy_sleepers.svg
  svgs/altos_adventure.svg
  svgs/amaze_file_manager.svg
  svgs/apus_launcher.svg
  svgs/arcticons_line_icons.svg
  svgs/arcticons_material_you_icons.svg
  svgs/audubon_bird_guide.svg
  svgs/ausweisapp.svg
  svgs/automatic_tag_editor.svg
  svgs/avast_antivirus.svg
  svgs/avee_music_player.svg
  svgs/battery_notification.svg
  svgs/beta_maniac.svg
  svgs/ente_auth.svg
  svgs/my_airtel.svg
  svgs/quicktouch.svg
  svgs/twilio_authy_authenticator.svg
Labels: icons

#2040 +2 links and updating names
  app/assets/appfilter.xml
  svgs/android_device_policy.svg
  svgs/auto_clicker_click_assistant.svg
  svgs/banco_do_brasil.svg
  svgs/beatstars.svg
  svgs/bill_payment_organizer.svg
  svgs/building_mods_for_minecraft.svg
  svgs/canon_camera_connect.svg
  svgs/carx_street.svg
  svgs/cent.svg
  svgs/china_merchants_bank.svg
  svgs/clean_email.svg
  svgs/coins.svg
  svgs/dark_mode_live_wallpaper.svg
  svgs/dianping.svg
  svgs/dkb_tan2go.svg
  svgs/document_scanner.svg
  svgs/electric_circuit.svg
  svgs/national_bank_of_canada.svg
  svgs/scientific_calculator_plus_991.svg
  svgs/ue_boom.svg
  svgs/zerodha_coin.svg
Labels: icons

#2042 + 5 icons, + 2 links
  app/assets/appfilter.xml
  svgs/kookong_smart_remote_control.svg
  svgs/nav_garmin_connect_iq.svg
  svgs/price_history.svg
  svgs/quacker.svg
  svgs/wemoney.svg
Labels: rework, icons

#2043 Updating names
  app/assets/appfilter.xml
  svgs/airvpn.svg
  svgs/android_widget_pack.svg
  svgs/asus_phone_clone.svg
  svgs/blackboard_learn.svg
  svgs/boursobank.svg
  svgs/eljur_student.svg
  svgs/exif_eraser.svg
  svgs/financial_times.svg
  svgs/garmin_connect.svg
  svgs/greenlight_kids_and_teen_banking.svg
  svgs/info_transport_bucuresti.svg
  svgs/intuit_credit_karma.svg
  svgs/intune_company_portal.svg
  svgs/league_of_comic_geeks.svg
  svgs/lumi_ai.svg
  svgs/niantic_campfire.svg
  svgs/unroll_me.svg
  svgs/vic.svg
  svgs/xiaohongshu.svg
Labels: icons

#2047 Add almanea, circlys, clicflyer, hungerstation, mada_pay
  app/assets/appfilter.xml
  svgs/almanea.svg
  svgs/circlys.svg
  svgs/clicflyer.svg
  svgs/hungerstation.svg
  svgs/mada_pay.svg
Labels: icons

#2048 +1 link
  app/assets/appfilter.xml
  svgs/fronius_solar_web.svg
  svgs/home_with_alice.svg
  svgs/samsung_smart_switch.svg
  svgs/samsung_wallet.svg
  svgs/screenmaster.svg
  svgs/senreta.svg
  svgs/setupvpn.svg
  svgs/simpl.svg
  svgs/smart_dom_ru.svg
  svgs/spark_mail.svg
  svgs/spck_editor.svg
  svgs/squircle_ce.svg
  svgs/stack.svg
  svgs/stack_for_stack_overflow.svg
  svgs/stack_game.svg
  svgs/stuff.svg
  svgs/subway_surfers.svg
  svgs/sushi.svg
  svgs/swisstopo.svg
  svgs/tp_link_tapo.svg
  svgs/unstoppable_wallet.svg
  svgs/what_to_buy.svg
Labels: icons

#2049 Updating names
  app/assets/appfilter.xml
  svgs/accurate_compass.svg
  svgs/amazon_kindle.svg
  svgs/bluetooth_keyboard_and_mouse.svg
  svgs/cinemark_hoyts.svg
  svgs/jabra_sound_plus.svg
  svgs/kamus_besar_bahasa_indonesia.svg
  svgs/kupibilet.svg
  svgs/textra_sms.svg
  svgs/zerodha_kite.svg
Labels: icons

#2050 Kotlin 2.0.0-RC2
  .gitignore
  app/build.gradle.kts
  build.gradle.kts
  gradle.properties
Labels: code

#2051 Updating names
  app/assets/appfilter.xml
  svgs/baidu_maps.svg
  svgs/japan_train_card_balance_check.svg
  svgs/vanilla_music_player.svg
  svgs/vflat_scan.svg
  svgs/wecom.svg
  svgs/wifi_analyzer.svg
  svgs/xaman_wallet.svg
  svgs/yandex_go.svg
Labels: icons
