Repository LawnchairLauncher/lawnicons, pull requests merged in 2024-07, with the labels that each got.

#2192 +23 links
  app/assets/appfilter.xml
Labels: icons

#2190 +2 icons
  app/assets/appfilter.xml
  svgs/lpu_touch.svg
  svgs/tempo_music.svg
Labels: rework, icons

#2193 Get rid of AppCompat
  app/build.gradle.kts
  app/src/main/res/values/themes.xml
Labels: code

#2194 +15 links
  app/assets/appfilter.xml
  svgs/bandbond.svg
  svgs/breeno.svg
  svgs/crunchyroll.svg
  svgs/davx5.svg
  svgs/glovo.svg
  svgs/medium.svg
  svgs/mi_music.svg
  svgs/open_link_with.svg
  svgs/retrica.svg
  svgs/samsung_internet_browser.svg
  svgs/snapseed.svg
Labels: icons

#2181 +1 icon +1 link
  app/assets/appfilter.xml
  svgs/shortcuts_widget.svg
Labels: rework, icons

#2201 +22 links
  app/assets/appfilter.xml
  svgs/tinkoff.svg
Labels: icons

#2199 + 3 icons, + 2 links
  app/assets/appfilter.xml
  svgs/_1list.svg
  svgs/clickview.svg
  svgs/seestar.svg
Labels: icons

#2206 Tuta redesign
  svgs/tuta.svg
Labels: icons

#2207 +1 link
  app/assets/appfilter.xml
Labels: icons

#2213 +1 icon
  app/assets/appfilter.xml
  svgs/my_dafi.svg
Labels: icons

#2216 3 icons redesign
  app/assets/appfilter.xml
  svgs/chatlaunch_for_whatsapp.svg
  svgs/microsoft_designer.svg
  svgs/notesnook.svg
  svgs/whatsapp.svg
  svgs/whatsapp_business.svg
Labels: icons

#2215 update Pi logo
  app/assets/appfilter.xml
  svgs/generic_pi.svg
  svgs/inflection_pi.svg
Labels: rework, icons

#2219 update 1 icon
  svgs/aves_gallery.svg
Labels: rework, icons

#2218 +4 icons
  app/assets/appfilter.xml
  svgs/blik.svg
  svgs/czynaczas.svg
  svgs/port_authority.svg
  svgs/tuszama.svg
Labels: rework, icons

#2226 Fixed the link to the visual balance section
  CONTRIBUTING.md
Labels: docs

#2183 +9 icons, +1 link
  app/assets/appfilter.xml
  svgs/feishu.svg
  svgs/huazhuhui.svg
  svgs/iqiyi.svg
  svgs/ithome.svg
  svgs/kaadas.svg
  svgs/tongyi.svg
  svgs/vvex.svg
  svgs/yadea.svg
  svgs/yunrili.svg
Labels: rework, icons

#2202 +1 icon
  app/assets/appfilter.xml
  svgs/fate_grand_order.svg
Labels: rework, icons

#2229 +14 links
  app/assets/appfilter.xml
Labels: icons

#2235 Additional changes for the icon update template
  .github/ISSUE_TEMPLATE/icon_rebrand.yml
  README.md
Labels: docs
