Repository LawnchairLauncher/lawnicons, pull requests merged in 2024-05, with the labels that each got.

#2055 Updating the icon addition template
  .github/PULL_REQUEST_TEMPLATE/icon_addition.md
Labels: docs

#2061 +13 links
  app/assets/appfilter.xml
  svgs/chatrandom.svg
  svgs/dodo_pizza.svg
  svgs/factory_escape.svg
  svgs/flashcards_world.svg
  svgs/geogebra_graphing_calculator.svg
  svgs/go_launcher.svg
  svgs/graspop_metal_meeting.svg
  svgs/guotai_junan.svg
  svgs/healthify.svg
  svgs/hill_climb_racing_2.svg
  svgs/literal_club.svg
  svgs/magic_the_gathering_arena.svg
  svgs/material_you_light_dark_icons.svg
  svgs/mezo.svg
  svgs/microsoft_math_solver.svg
  svgs/mobile_legends_bang_bang.svg
  svgs/mygate.svg
  svgs/mystory_today.svg
  svgs/nonograms_katana.svg
  svgs/notan.svg
  svgs/now.svg
  svgs/nyx_music_player.svg
  svgs/ola.svg
  svgs/op_gg.svg
  svgs/pick.svg
  svgs/radio_bob.svg
  svgs/riseupvpn.svg
  svgs/rrb_je.svg
  svgs/schulplaner.svg
  svgs/system_monitor.svg
  svgs/tp_link_tether.svg
  svgs/true_phone.svg
  svgs/tuta.svg
  svgs/u_dictionary.svg
  svgs/usos.svg
  svgs/weather_radar.svg
  svgs/withings_health_mate.svg
Labels: icons

#2065 Small change to the hints in the icon addition template
  .github/PULL_REQUEST_TEMPLATE/icon_addition.md
Labels: docs

#2067 Added examples of rounding shapes to the Lawnicons guidelines
  CONTRIBUTING.md
  docs/images/creating-icons-2-foundation.png
Labels: docs

#2064 + 4 Icons, + 1 Rename
  app/assets/appfilter.xml
  svgs/bitwarden_authenticator.svg
  svgs/blink.svg
  svgs/blink_home_monitor.svg
  svgs/iconeration.svg
  svgs/notisave.svg
Labels: rework, icons

#2068 +46 links
  app/assets/appfilter.xml
  svgs/antutu_benchmark.svg
  svgs/ffreedom.svg
  svgs/malodyv.svg
  svgs/todaii.svg
  svgs/vtosters_lite.svg
Labels: icons

#2063 Add LOFTER Andpods and NextTransfer logos
  app/assets/appfilter.xml
  svgs/and_pods.svg
  svgs/honkai_star_rail_cloud.svg
  svgs/lofter.svg
  svgs/next_transfer.svg
Labels: rework, icons

#2052 Add Alkahraba, Alrajhi Bank, DEXTools, Malaa, SNB Mobile, Tameeni, Tawakkalna Services, Alinma App, ANB Telemoney, BingX, Bouki, Panda, Rabby Wallet, Tamara, Themer
  app/assets/appfilter.xml
  svgs/alinma.svg
  svgs/alkahraba.svg
  svgs/alrajhi_bank.svg
  svgs/anb_telemoney.svg
  svgs/bingx.svg
  svgs/bouki.svg
  svgs/dextools.svg
  svgs/malaa.svg
  svgs/panda.svg
  svgs/rabby_wallet.svg
  svgs/snb_mobile.svg
  svgs/tamara.svg
  svgs/tameeni.svg
  svgs/tawakkalna_services.svg
  svgs/themer.svg
Labels: rework, icons

#2072 +34 links
  app/assets/appfilter.xml
  svgs/_1010_klooni.svg
  svgs/_10_minute_school.svg
  svgs/_1111.svg
  svgs/_12_club.svg
  svgs/_1gallery.svg
  svgs/_1password.svg
  svgs/_2048.svg
  svgs/_20_minutes.svg
  svgs/_23andme.svg
  svgs/_24pay.svg
  svgs/_2fas_auth.svg
  svgs/_2gis.svg
  svgs/_311.svg
  svgs/_360_reality_audio_live.svg
  svgs/_3d_scanner_for_arcore.svg
  svgs/_3dmark.svg
  svgs/_433.svg
  svgs/_4eburnet_vpn.svg
  svgs/_4k_video_downloader.svg
  svgs/_4pda.svg
  svgs/_56_secure.svg
  svgs/_5_minute_journal.svg
  svgs/_5g_tile.svg
  svgs/_7_eleven.svg
  svgs/_7sleep.svg
  svgs/_7zipper.svg
  svgs/_8_ball_pool.svg
  svgs/_8bit_photo_lab.svg
  svgs/_9292.svg
  svgs/_99.svg
  svgs/_9gag.svg
  svgs/advanced_charging_controller.svg
  svgs/calyx_vpn.svg
  svgs/collage_maker.svg
  svgs/fake_chat.svg
  svgs/find_my_device_fmd.svg
  svgs/fizz.svg
  svgs/google_duo.svg
  svgs/gps_fields_area_measure.svg
  svgs/home_centre.svg
  svgs/hot_lap_league_racing_mania.svg
  svgs/image_compressor_resize_image.svg
  svgs/imobile_pay.svg
  svgs/ingress_prime.svg
  svgs/jira_cloud_by_altassian.svg
  svgs/lighthouse_power_management.svg
  svgs/nextgp.svg
  svgs/nix_on_droid.svg
  svgs/noc_for_fur_affinity.svg
  svgs/one_time_password.svg
  svgs/phillips_hue.svg
  svgs/trackercontrol.svg
  svgs/v_moda.svg
Labels: icons

#2069 +12 icons, +2 links
  app/assets/appfilter.xml
  svgs/aha_games.svg
  svgs/bardi_smart_home.svg
  svgs/basit_icons.svg
  svgs/deen.svg
  svgs/forest_live_wallpaper.svg
  svgs/freenet_funk.svg
  svgs/icedrive.svg
  svgs/juno_icons.svg
  svgs/quick_tiles.svg
  svgs/traffic_rider.svg
  svgs/vinty_icons.svg
  svgs/zwart_icons.svg
Labels: rework, icons

#2073 How to name drawables if the app name starts with a digit
  CONTRIBUTING.md
Labels: docs

#2074 +53 links
  app/assets/appfilter.xml
  svgs/_1dm.svg
  svgs/_1dm_plus.svg
  svgs/_1more_music.svg
  svgs/simplereminder.svg
  svgs/vinyl_music_player.svg
Labels: icons

#2075 +150 links
  app/assets/appfilter.xml
  svgs/ailiber.svg
  svgs/bank_of_america.svg
  svgs/brain_test_tricky_words.svg
  svgs/brightspace_pulse.svg
  svgs/disable_notification_popups.svg
  svgs/league_of_legends_wild_rift.svg
  svgs/microsoft_power_bi.svg
  svgs/playstation_remote_play.svg
  svgs/pulsar_music_player.svg
  svgs/pulse.svg
  svgs/pulse_ai_wallpapers.svg
  svgs/qibla_compass.svg
  svgs/qnb.svg
  svgs/realvnc_viewer.svg
  svgs/reev_chroma_icons.svg
  svgs/reev_dark_icons.svg
  svgs/reev_pro_icons.svg
  svgs/remote_control_for_tv.svg
  svgs/resso_music.svg
  svgs/reverse_image_search.svg
  svgs/stealth_audio_player.svg
  svgs/stickify.svg
  svgs/tempest_weather.svg
  svgs/the_idolmaster_million_live_theater_days.svg
  svgs/times_of_india.svg
  svgs/touch_n_go_ewallet.svg
  svgs/tutorials_point.svg
  svgs/unit_converter_lab.svg
  svgs/upwork.svg
  svgs/video_and_tv_sideview.svg
  svgs/video_editor_and_maker.svg
  svgs/video_to_mp3.svg
  svgs/weather_and_radar.svg
Labels: icons

#2076 +101 links
  app/assets/appfilter.xml
  svgs/always_on_edge_music_lighting.svg
  svgs/calculator_n_plus.svg
  svgs/english_malayalam_dictionary.svg
  svgs/lena_dark_icons.svg
  svgs/lux_icons.svg
  svgs/magic_the_gathering_companion.svg
  svgs/mail_de.svg
  svgs/manual_camera.svg
  svgs/michelin_guide.svg
  svgs/microsoft_365.svg
  svgs/microsoft_365_admin.svg
  svgs/microsoft_onedrive.svg
  svgs/milkchoco.svg
  svgs/mj_pdf.svg
  svgs/morse_mania.svg
  svgs/music_player_and_mp3_player.svg
  svgs/mybell.svg
  svgs/naukri.svg
  svgs/naver_papago.svg
  svgs/network_analyzer.svg
  svgs/niyo.svg
  svgs/nothingbutwallpapers.svg
  svgs/odea.svg
  svgs/one_click_lock_screen.svg
  svgs/open_food_facts.svg
  svgs/opera_mini_beta.svg
  svgs/oracle_cloud_infrastructure.svg
  svgs/owlet.svg
  svgs/package_tracking.svg
  svgs/peacock_tv.svg
  svgs/period_calendar.svg
  svgs/phonograph_music_player.svg
  svgs/photo_editor_pro.svg
  svgs/pingtools_network_utilities.svg
  svgs/the_michelin_guide.svg
Labels: icons

#2077 +103 links
  app/assets/appfilter.xml
  svgs/google_pixel_buds.svg
  svgs/pix_you_dark_icons.svg
  svgs/pocket_operator_for_pixel.svg
  svgs/safeincloud.svg
Labels: icons

#2078 +35 links
  app/assets/appfilter.xml
  svgs/revo_shine_icons.svg
  svgs/scanner_for_coronacheck.svg
  svgs/tencent_meeting.svg
Labels: icons

#2079 +25 links
  app/assets/appfilter.xml
  svgs/acronis_true_image.svg
  svgs/asphalt_8_airborne.svg
  svgs/asphalt_9_legends.svg
  svgs/enya_music.svg
  svgs/firebase_app_tester.svg
  svgs/google_assistant_interpreter.svg
  svgs/htc_boost_plus.svg
  svgs/huawei_ai_life.svg
  svgs/huawei_petal_speed.svg
  svgs/lineageos_jelly_browser.svg
  svgs/mihoyo_community.svg
  svgs/quickpic.svg
  svgs/samsung_ar_zone.svg
  svgs/samsung_expert_raw.svg
  svgs/upstox_pro.svg
  svgs/wallme.svg
Labels: icons

#2080 +25 links
  app/assets/appfilter.xml
  svgs/_12123.svg
  svgs/huawei_software_update.svg
  svgs/mega_man_x_dive.svg
  svgs/photoshop_camera.svg
  svgs/reddit_is_fun.svg
  svgs/samsung_tips.svg
  svgs/scrcpy.svg
  svgs/shelly_cloud.svg
  svgs/shikimori.svg
  svgs/sidequest.svg
  svgs/touchretouch.svg
  svgs/vcb.svg
  svgs/vk.svg
Labels: icons

#2082 +6 links
  app/assets/appfilter.xml
  svgs/anhui_palm_10000.svg
  svgs/baidu_tieba.svg
  svgs/bank_of_china.svg
  svgs/battle_net_authenticator.svg
  svgs/bulk_rename_and_group.svg
  svgs/china_mobile.svg
  svgs/china_telecom.svg
  svgs/china_unicom.svg
  svgs/chsi.svg
  svgs/covid_certificate.svg
  svgs/flat_style_colored_bars.svg
  svgs/fontweight_adjustment.svg
  svgs/game_space.svg
  svgs/gamespace.svg
  svgs/gongkao_leida.svg
  svgs/heytap_app_market.svg
  svgs/magic_magnet.svg
  svgs/meituan_takeaway.svg
  svgs/memoria_photo_gallery.svg
  svgs/memory_guardian.svg
  svgs/mi_time.svg
  svgs/my_android_tools.svg
  svgs/notification_history.svg
  svgs/omlet_arcade.svg
  svgs/oppo_game_space.svg
  svgs/samsung_game_launcher.svg
  svgs/samsung_good_lock.svg
  svgs/spring_airlines.svg
  svgs/xiaomi_service_framework.svg
Labels: icons

#2083 +1 link
  app/assets/appfilter.xml
  svgs/china_construction_bank.svg
  svgs/e_mobile.svg
  svgs/hike_messenger.svg
  svgs/li_tiaotiao.svg
  svgs/light_start.svg
  svgs/lixian_xunlei.svg
  svgs/luckin_coffe.svg
  svgs/mixue_ice_city.svg
  svgs/secret_settings.svg
  svgs/wifi_pingce_dashi.svg
  svgs/wooden_letter.svg
  svgs/xuexi_qiangguo.svg
  svgs/zhihui_xiaolian.svg
Labels: icons

#2085 + 2 icons, + 2 links
  app/assets/appfilter.xml
  svgs/my_megafon.svg
  svgs/tasty_period.svg
Labels: rework, icons

#2088 +1 icon: Samokat, +5 links
  app/assets/appfilter.xml
  svgs/samokat.svg
Labels: icons

#2089 +2 icons: Wallflow, +2 links
  app/assets/appfilter.xml
  svgs/wallflow.svg
  svgs/wallflow_plus.svg
Labels: icons

#2084 +15 icons, linked 2, modified 2 app names
  app/assets/appfilter.xml
  svgs/absher.svg
  svgs/crypto_bubbles.svg
  svgs/dr_mohammad_alfagih_hospital.svg
  svgs/expertoption.svg
  svgs/jarir.svg
  svgs/m2.svg
  svgs/mobily.svg
  svgs/nafath.svg
  svgs/nahdi.svg
  svgs/noon.svg
  svgs/phantom.svg
  svgs/redotpay.svg
  svgs/sehhaty.svg
  svgs/tawakkalna_emergency.svg
  svgs/wafeer.svg
Labels: rework, icons

#2093 +1 icon: HATSUNE MIKU, +1 link
  app/assets/appfilter.xml
  svgs/browsec.svg
  svgs/hatsune_miku_colorful_stage.svg
  svgs/wallflow.svg
  svgs/wallflow_plus.svg
Labels: icons

#2091 Use collectAsStateWithLifecycle to safely collect uiState
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/destination/Acknowledgement.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/destination/Acknowledgements.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/destination/Contributors.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/destination/Home.kt
Labels: code

#2101 + 4 icons, + 1 link
  app/assets/appfilter.xml
  svgs/eurovision_song_contest.svg
  svgs/jaki.svg
  svgs/maginon_ipc_viewer.svg
  svgs/waterfox.svg
Labels: rework, icons

#2103 +1 icon: Quà Tặng VIP, +4 links
  app/assets/appfilter.xml
  svgs/qua_tang_vip.svg
  svgs/tinkoff.svg
Labels: icons

#2099 Added 8, Linked 1, Modified 1
  app/assets/appfilter.xml
  svgs/anb.svg
  svgs/bupa_arabia.svg
  svgs/cobone.svg
  svgs/haraj.svg
  svgs/mobily_pay.svg
  svgs/najm.svg
  svgs/rabby_wallet.svg
  svgs/salatuk.svg
  svgs/simply_fi.svg
  svgs/smc.svg
  svgs/stc_pay.svg
  svgs/tabby.svg
  svgs/urpay.svg
Labels: icons

#2113 + 2 links
  app/assets/appfilter.xml
Labels: icons

#2115 Gramophone update
  svgs/gramophone.svg
Labels: icons

#2118 Ente Auth update
  svgs/ente_auth.svg
Labels: icons

#2120 Link Bunny
  app/assets/appfilter.xml
Labels: icons

#2110 + 10 links, + 4 icons
  app/assets/appfilter.xml
  svgs/batt.svg
  svgs/material_notes.svg
  svgs/material_photo_widget.svg
  svgs/mybupa.svg
Labels: icons

#2127 +3 links
  app/assets/appfilter.xml
  svgs/aurora_store.svg
  svgs/banglalink.svg
  svgs/bank_jago.svg
  svgs/bom_weather.svg
  svgs/camera_assistant.svg
  svgs/clicflyer.svg
  svgs/cod.svg
  svgs/contacts.svg
  svgs/dbna.svg
  svgs/droidify.svg
  svgs/eazydiner.svg
  svgs/flamingo.svg
  svgs/funimation.svg
  svgs/jarir.svg
  svgs/keyboard.svg
  svgs/komoot.svg
  svgs/letterboxd.svg
  svgs/microsoft_onedrive.svg
  svgs/photoshop_express.svg
  svgs/wallet.svg
Labels: icons
