Repository LawnchairLauncher/lawnicons, pull requests merged in 2024-03, with the labels that each got.

#1867 +10 icons: ADT Control, Etsy, True Phone Dialer
  app/assets/appfilter.xml
  svgs/adt_control.svg
  svgs/cannondale.svg
  svgs/debitum.svg
  svgs/dragon_ball_z_dokkan_battle.svg
  svgs/electron_cash.svg
  svgs/electrum.svg
  svgs/etsy.svg
  svgs/tripview.svg
  svgs/true_phone_dialer.svg
  svgs/willhaben.svg
  svgs/worktimer.svg
Labels: icons

#1868 +11 links
  app/assets/appfilter.xml
Labels: icons

#1865 +8 icons, +1 link, +4 updates
  app/assets/appfilter.xml
  svgs/athena.svg
  svgs/colorblendr.svg
  svgs/dev_info_overlay.svg
  svgs/file_navigator.svg
  svgs/florisboard.svg
  svgs/gboard.svg
  svgs/heliboard.svg
  svgs/kraken.svg
  svgs/kraken_pro.svg
  svgs/openboard.svg
  svgs/rozkladpkp.svg
  svgs/sim_cell_info.svg
Labels: rework, icons

#1869 Added +1 icon and fixed an activity name
  app/assets/appfilter.xml
  svgs/kaspersky.svg
Labels: icons

#1870 The link to popular requests now leads to the summary
  README.md
Labels: docs

#1860 +14 icons
  app/assets/appfilter.xml
  svgs/asphalt_8.svg
  svgs/awaker.svg
  svgs/clickup.svg
  svgs/dhikr_and_dua.svg
  svgs/dynasty_legends_2.svg
  svgs/fr_legends.svg
  svgs/hot_lap_league.svg
  svgs/lemmy_redirect.svg
  svgs/need_for_speed.svg
  svgs/privy.svg
  svgs/rush_rally_3_demo.svg
  svgs/rush_rally_origins_demo.svg
  svgs/turnip_boy_commits_tax_evasion.svg
  svgs/warden.svg
Labels: rework, icons

#1873 +10 icons: DLS, June's Journey, ViaBus
  app/assets/appfilter.xml
  svgs/caves_roguelike.svg
  svgs/dream_league_soccer.svg
  svgs/fourk_video_downloader.svg
  svgs/japanese_kanji_study.svg
  svgs/junes_journey.svg
  svgs/personal_safety.svg
  svgs/pocket_love.svg
  svgs/superset.svg
  svgs/sushi_myanimelist.svg
  svgs/tamasha.svg
  svgs/viabus.svg
Labels: icons

#1874 +15 icons: Car Report, Expo, Mi Buds M8
  app/assets/appfilter.xml
  svgs/activity_manager.svg
  svgs/anime_slayer.svg
  svgs/aosp_clock.svg
  svgs/car_report.svg
  svgs/circles.svg
  svgs/evil_insult_generator.svg
  svgs/expo.svg
  svgs/f_droid_classic.svg
  svgs/fdroid.svg
  svgs/geekbench_5.svg
  svgs/ikk_classic.svg
  svgs/manga_slayer.svg
  svgs/mi_buds_m8.svg
  svgs/shopping_list.svg
  svgs/wickr_me.svg
  svgs/zenly.svg
Labels: icons

#1878 +10 links
  app/assets/appfilter.xml
  svgs/geekbench.svg
Labels: icons

#1880 +45 icons: Bipa, Nuvem, Ulife
  app/assets/appfilter.xml
  svgs/bipa.svg
  svgs/bitlit.svg
  svgs/boitoi.svg
  svgs/brethap.svg
  svgs/chessis.svg
  svgs/chipolo.svg
  svgs/control_screen_rotation.svg
  svgs/data_defense.svg
  svgs/du.svg
  svgs/engangskode.svg
  svgs/feudal_tactics.svg
  svgs/glip_gg.svg
  svgs/go_classes.svg
  svgs/gotyme_bank.svg
  svgs/hash_checker.svg
  svgs/holoplus.svg
  svgs/kiri_engine.svg
  svgs/kotobank.svg
  svgs/leber.svg
  svgs/life_time.svg
  svgs/line_official_account.svg
  svgs/link_to_myasus.svg
  svgs/linksys.svg
  svgs/mobvoi_health.svg
  svgs/n_back_challenge.svg
  svgs/nacho_notch.svg
  svgs/nuvem.svg
  svgs/office_reader.svg
  svgs/oneplus_store.svg
  svgs/photo_widget_easy.svg
  svgs/placetel_phone.svg
  svgs/poshmark.svg
  svgs/poste_italiane.svg
  svgs/qbitcontroller.svg
  svgs/recurring_expense_tracker.svg
  svgs/ruthless_launcher.svg
  svgs/senreta_vortaro.svg
  svgs/simple_weight_tracker.svg
  svgs/stack_game.svg
  svgs/tasky.svg
  svgs/ten_minute_school.svg
  svgs/tower_collector.svg
  svgs/type_keeper.svg
  svgs/ulife.svg
  svgs/zkb_access.svg
Labels: icons

#1871 Added +2 icons and +2 links
  app/assets/appfilter.xml
  svgs/haak.svg
  svgs/mini_mini_farm.svg
Labels: rework, icons

#1882 +20 icons: Hola Browser, Olauncher, VA
  app/assets/appfilter.xml
  svgs/aniplay.svg
  svgs/baseus.svg
  svgs/dcoder.svg
  svgs/dcu.svg
  svgs/guessiron.svg
  svgs/hola_browser.svg
  svgs/indmoney.svg
  svgs/mafa.svg
  svgs/mealient.svg
  svgs/mexc.svg
  svgs/note.svg
  svgs/olauncher.svg
  svgs/polregio.svg
  svgs/pulse_sms.svg
  svgs/qbittorrent_remote.svg
  svgs/redact.svg
  svgs/smarthertz.svg
  svgs/va.svg
  svgs/volume_control_panel.svg
  svgs/xiaomi_speaker.svg
Labels: icons

#1884 +11 icons: Blade Player, Observador, Speedify
  app/assets/appfilter.xml
  svgs/autenticacao_gov.svg
  svgs/beatx.svg
  svgs/blade_player.svg
  svgs/dream11.svg
  svgs/focusmeter.svg
  svgs/geekbench_ml.svg
  svgs/nuki_smart_lock.svg
  svgs/observador.svg
  svgs/spck_code_editor.svg
  svgs/speedify.svg
  svgs/townwifi_bygmo.svg
Labels: icons

#1885 Link Ayugram
  app/assets/appfilter.xml
Labels: icons

#1879 Icon proposal for LEGO® Builder
  app/assets/appfilter.xml
  svgs/lego_builder.svg
Labels: icons

#1887 Link Aliucord Manager to Aliucord Installer
  app/assets/appfilter.xml
Labels: icons

#1888 +15 icons: Decathlon, OHealth, Quebec 511
  app/assets/appfilter.xml
  svgs/bubble.svg
  svgs/decathlon.svg
  svgs/dragon_read.svg
  svgs/hackers_keyboard.svg
  svgs/huawei_browser.svg
  svgs/invizible_pro.svg
  svgs/my_expenses.svg
  svgs/ohealth.svg
  svgs/purelive.svg
  svgs/quebec_511.svg
  svgs/recurrence.svg
  svgs/skiff_drive.svg
  svgs/vocabulary_trainer.svg
  svgs/water_me.svg
  svgs/weawow.svg
Labels: icons

#1886 Icon proposal for 311 Ville de Québec
  app/assets/appfilter.xml
  svgs/three_one_one.svg
Labels: icons

#1889 Softened the point about transliteration of names
  CONTRIBUTING.md
Labels: docs

#1890 +13 links
  app/assets/appfilter.xml
Labels: icons

#1891 Icon proposal for Clockify Time Tracker
  app/assets/appfilter.xml
  svgs/clockify.svg
Labels: icons

#1892 +8 links
  app/assets/appfilter.xml
Labels: icons

#1895 Added Discord to the description and removed unnecessary info
  README.md
Labels: docs

#1896 Minor change to description
  README.md
Labels: docs

#1897 +58 icons: AI Assistant, GBox, Themed Icons
  app/assets/appfilter.xml
  svgs/ai_assistant.svg
  svgs/airfrozen.svg
  svgs/alcatel_contacts.svg
  svgs/alfa_bank.svg
  svgs/anime_x_stream.svg
  svgs/appshare.svg
  svgs/asus_file_manager.svg
  svgs/audio_share.svg
  svgs/basic_call_recorder.svg
  svgs/bitchute.svg
  svgs/bxactions.svg
  svgs/dictionary_for_samsung.svg
  svgs/digikala.svg
  svgs/duokan.svg
  svgs/dvd.svg
  svgs/forkyz.svg
  svgs/galaxy_enhance_x.svg
  svgs/gbox.svg
  svgs/google_apps_device_policy.svg
  svgs/google_pdf_viewer.svg
  svgs/ichan.svg
  svgs/imanager.svg
  svgs/imod_pro.svg
  svgs/jiogames.svg
  svgs/kivra.svg
  svgs/komiku.svg
  svgs/linkbox.svg
  svgs/lounge_by_zalando.svg
  svgs/mi_health.svg
  svgs/minority.svg
  svgs/mirror.svg
  svgs/monero_wallet.svg
  svgs/mono.svg
  svgs/neko_app.svg
  svgs/niantic_wayfarer.svg
  svgs/notificationlog.svg
  svgs/ocr.svg
  svgs/ohhi.svg
  svgs/omlet.svg
  svgs/openscan.svg
  svgs/pdf_viewer_plus.svg
  svgs/pinterest_lite.svg
  svgs/pokemmo.svg
  svgs/pupil.svg
  svgs/samsung_edgetouch.svg
  svgs/samsung_quick_share.svg
  svgs/samsung_video_player.svg
  svgs/secure_file_manager.svg
  svgs/tedit.svg
  svgs/themed_icons.svg
  svgs/timeflik_watch_face.svg
  svgs/torrse.svg
  svgs/trackbook.svg
  svgs/uuid_0xfd6f_scanner.svg
  svgs/webmediashare.svg
  svgs/wi_fi_info.svg
  svgs/zona.svg
  svgs/zoysii.svg
Labels: icons

#1899 Link app.organicmaps.web
  app/assets/appfilter.xml
Labels: icons

#1900 Link LineageOS Glimpse to gallery
  app/assets/appfilter.xml
Labels: icons

#1893 Add 3 Icons
  app/assets/appfilter.xml
  svgs/audire.svg
  svgs/parlera.svg
  svgs/silence.svg
Labels: rework, icons

#1898 Add OpenStop
  app/assets/appfilter.xml
  svgs/openstop.svg
Labels: rework, icons

#1901 Add 3 links, fix 1
  app/assets/appfilter.xml
Labels: icons

#1902 +5 links
  app/assets/appfilter.xml
  svgs/email.svg
Labels: icons

#1906 Retrofit 2.10.0
  app/build.gradle.kts
  app/proguard-rules.pro
  app/src/main/kotlin/app/lawnchair/lawnicons/api/ApiModule.kt
Labels: code

#1903 +2 icons
  app/assets/appfilter.xml
  svgs/detoxdroid.svg
  svgs/volumelockr.svg
Labels: icons

#1905 Icon proposal for C.A.T.S.
  app/assets/appfilter.xml
  svgs/cats.svg
Labels: rework, icons

#1908 Fixed the guidelines link in the adding an icon section
  CONTRIBUTING.md
Labels: docs

#1909 +6 links
  app/assets/appfilter.xml
Labels: icons

#1910 Simplified the wording in the guidelines and in the template for adding icons
  .github/PULL_REQUEST_TEMPLATE/icon_addition.md
  CONTRIBUTING.md
Labels: docs

#1913 +25 icons: Adlock, Floral, XFUN
  app/assets/appfilter.xml
  svgs/adlock.svg
  svgs/american_express.svg
  svgs/amil.svg
  svgs/asus_gallery.svg
  svgs/bcr.svg
  svgs/bluetooth.svg
  svgs/clock_widget.svg
  svgs/color_grab.svg
  svgs/crypto_com.svg
  svgs/educacao_financeira_by_mobills.svg
  svgs/floral.svg
  svgs/justwatch.svg
  svgs/nokia_fm_radio.svg
  svgs/oldroll.svg
  svgs/pass_culture.svg
  svgs/santander.svg
  svgs/skip_ads_youtube.svg
  svgs/sleep_timer_turn_music_off.svg
  svgs/tremotesf.svg
  svgs/trireme_for_deluge.svg
  svgs/vpn_pro.svg
  svgs/wallipop_wallpapers.svg
  svgs/wamr.svg
  svgs/wavy_wallpapers.svg
  svgs/xfun_wallet.svg
Labels: icons

#1914 +12 links
  app/assets/appfilter.xml
Labels: icons

#1912 Add 4, Link 1
  app/assets/appfilter.xml
  svgs/auto_web.svg
  svgs/flowit.svg
  svgs/install_with_options.svg
  svgs/kobo_books.svg
Labels: rework, icons

#1919 +6 links
  app/assets/appfilter.xml
Labels: icons

#1918 Add 4, Link 1
  app/assets/appfilter.xml
  svgs/chooser.svg
  svgs/claw.svg
  svgs/daily_you.svg
  svgs/energize.svg
Labels: rework, icons

#1922 Updating some icons 6
  app/assets/appfilter.xml
  svgs/fast_transfer_for_nearby_share.svg
  svgs/feit_electric.svg
  svgs/fourthreethree.svg
  svgs/idle_fish.svg
  svgs/kinopoisk.svg
  svgs/lotus_lantern.svg
  svgs/megalodon.svg
  svgs/my_device_by_hmd.svg
  svgs/nearby_share.svg
  svgs/nextdns.svg
  svgs/nextdns_manager.svg
  svgs/nfc_card_emulator_pro.svg
  svgs/nokia_my_device.svg
  svgs/pay_sphera.svg
  svgs/paysphera.svg
  svgs/phonepe.svg
  svgs/pigments.svg
  svgs/seeker.svg
  svgs/waymo_one.svg
  svgs/webnovel.svg
  svgs/wow_fm.svg
Labels: icons

#1923 +10 icons: Cut the Rope, myGovID, WiZ
  app/assets/appfilter.xml
  svgs/cut_the_rope.svg
  svgs/express_plus_medicare.svg
  svgs/mygovid.svg
  svgs/ovf_editor.svg
  svgs/pastel_wallpapers.svg
  svgs/picsay_pro.svg
  svgs/squeezer.svg
  svgs/stripe.svg
  svgs/weathercan.svg
  svgs/wiz.svg
Labels: icons

#1916 Add +11 icons
  app/assets/appfilter.xml
  svgs/add_text.svg
  svgs/chroma_lab.svg
  svgs/circle_cutter.svg
  svgs/infinite_design.svg
  svgs/infinite_painter.svg
  svgs/inflection_pi.svg
  svgs/isybank.svg
  svgs/lexis_audio_editor.svg
  svgs/lose_it.svg
  svgs/pixel_brush.svg
  svgs/wave_lines_live_wallpaper.svg
Labels: rework, icons

#1924 +13 icons: Canta, Outdooractive, Vsmart apps
  app/assets/appfilter.xml
  svgs/beeper.svg
  svgs/beeper_cloud.svg
  svgs/canta.svg
  svgs/data_eraser.svg
  svgs/honista.svg
  svgs/migrate_ng.svg
  svgs/notify_for_amazfit_zepp.svg
  svgs/notify_for_mi_band.svg
  svgs/outdooractive.svg
  svgs/stundenplan_schedule.svg
  svgs/vsmart_calculator.svg
  svgs/vsmart_calendar.svg
  svgs/vsmart_camera.svg
  svgs/vsmart_phone.svg
Labels: icons

#1925 +4 links
  app/assets/appfilter.xml
  svgs/simple_calculator.svg
Labels: icons

#1927 Add 3, Rename 1
  app/assets/appfilter.xml
  svgs/qantas_entertainment.svg
  svgs/save_locally.svg
  svgs/spydus_mobile.svg
Labels: icons

#1928 +5 links
  app/assets/appfilter.xml
Labels: icons

#1920 Add 2
  app/assets/appfilter.xml
  svgs/audubon.svg
  svgs/whobird.svg
Labels: rework, icons

#1875 +11 Icons, +1 link
  app/assets/appfilter.xml
  svgs/carx.svg
  svgs/godot.svg
  svgs/home_workout.svg
  svgs/pako_highway.svg
  svgs/polytopia.svg
  svgs/power_marathon.svg
  svgs/rebel_racing.svg
  svgs/recharge_rc.svg
  svgs/rocket_arena_car_extreme.svg
  svgs/system_ui_tuner.svg
  svgs/thefor.svg
Labels: rework, icons

#1935 Added a brief recommendation on creating icons to the TL;DR section
  CONTRIBUTING.md
Labels: docs

#1931 Add 6, Link 1
  app/assets/appfilter.xml
  svgs/microsoft_translator.svg
  svgs/nixplay.svg
  svgs/printeron.svg
  svgs/samsung_studio.svg
  svgs/squeezeplayer.svg
  svgs/sunsmart.svg
Labels: rework, icons

#1938 Microsoft Translator fix and +2 links
  app/assets/appfilter.xml
  svgs/microsoft_translator.svg
Labels: icons

#1939 +10 icons: 20 Minuten, FamilyWall, telebirr
  app/assets/appfilter.xml
  svgs/adaway.svg
  svgs/amdroid.svg
  svgs/app_apk_extractor.svg
  svgs/ble_radar.svg
  svgs/blinkit.svg
  svgs/correios.svg
  svgs/dsb.svg
  svgs/familywall.svg
  svgs/fasthub_libre.svg
  svgs/immich.svg
  svgs/n11.svg
  svgs/telebirr.svg
  svgs/twenty_minutes.svg
Labels: icons

#1940 +53 icons: App Box, Habo, GiGO
  app/assets/appfilter.xml
  svgs/adblock.svg
  svgs/apk_analyzer.svg
  svgs/app_box.svg
  svgs/arcore_depth_lab.svg
  svgs/aritycalc.svg
  svgs/audio_spectrum_analyzer.svg
  svgs/bitly.svg
  svgs/ble_scanner.svg
  svgs/bouncer.svg
  svgs/call_bridge.svg
  svgs/chip_defense.svg
  svgs/daff_moon_phase.svg
  svgs/empty.svg
  svgs/folder_widget.svg
  svgs/game_jolt.svg
  svgs/gigo.svg
  svgs/gisetze_io.svg
  svgs/glidex.svg
  svgs/habo.svg
  svgs/lavseeker.svg
  svgs/lbalance.svg
  svgs/magnifier.svg
  svgs/mail_fr.svg
  svgs/memoryguardian.svg
  svgs/mercari.svg
  svgs/mirror_lab.svg
  svgs/multivnc.svg
  svgs/music_party.svg
  svgs/music_tag_editor.svg
  svgs/my_location.svg
  svgs/n0va_desktop.svg
  svgs/name_generator.svg
  svgs/nfc_emulator.svg
  svgs/night_mode.svg
  svgs/qrky.svg
  svgs/rnv_start_info.svg
  svgs/s_safe.svg
  svgs/scamshield.svg
  svgs/scann3d.svg
  svgs/shm_mod.svg
  svgs/silence_sms.svg
  svgs/simple_photo_widget.svg
  svgs/sonolus.svg
  svgs/subway.svg
  svgs/suyu.svg
  svgs/tiny_music_player.svg
  svgs/trebleshot.svg
  svgs/trikky.svg
  svgs/twine.svg
  svgs/vibe_you.svg
  svgs/vivo_weather.svg
  svgs/vyapar.svg
  svgs/xash3d_fwgs.svg
Labels: icons

#1946 +13 icons: 3DMark, Crowdsource, Songsterr
  app/assets/appfilter.xml
  svgs/arigatobank.svg
  svgs/brain_code.svg
  svgs/crowdsource.svg
  svgs/food_e.svg
  svgs/guerrilla_mail.svg
  svgs/hdo_box.svg
  svgs/hop_fastpass.svg
  svgs/pc_builder.svg
  svgs/portdroid.svg
  svgs/songsterr.svg
  svgs/threedmark.svg
  svgs/tracker_network.svg
Labels: icons

#1947 +7 links
  app/assets/appfilter.xml
Labels: icons
