Repository LawnchairLauncher/lawnicons, pull requests merged in 2024-06, with the labels that each got.

#2132 +3 links
  app/assets/appfilter.xml
  svgs/_8_ball_pool.svg
  svgs/application_inspector.svg
  svgs/appsales.svg
  svgs/aurora_droid.svg
  svgs/aurora_store_nightly.svg
  svgs/corridor.svg
  svgs/gcash.svg
  svgs/google_contacts.svg
  svgs/google_news.svg
  svgs/konele.svg
  svgs/moovit.svg
  svgs/mozilla_vpn.svg
  svgs/myim3.svg
  svgs/octoapp.svg
  svgs/parabox.svg
  svgs/playsuisse.svg
  svgs/private_internet_access_vpn.svg
  svgs/proddy.svg
  svgs/recorder.svg
  svgs/screen_recorder.svg
  svgs/spark_mail.svg
Labels: icons

#2134 +8 links
  app/assets/appfilter.xml
  svgs/officesuite.svg
  svgs/wifi_analyzer_open_source.svg
Labels: icons

#2135 + 1 link, + 1 icon
  app/assets/appfilter.xml
  svgs/openbubbles.svg
Labels: icons

#2143 +11 links
  app/assets/appfilter.xml
Labels: icons

#2154 +15 links
  app/assets/appfilter.xml
  svgs/anlinux.svg
Labels: icons

#2156 Clarifying the wording in the guidelines
  .github/icon_checklist.md
  CONTRIBUTING.md
Labels: docs

#2155 +1 icon
  app/assets/appfilter.xml
  svgs/team_pixel_wallpapers.svg
Labels: rework, icons

#2161 Updating the instructions for requesting icons
  CONTRIBUTING.md
  README.md
Labels: docs

#2164 +24 links
  app/assets/appfilter.xml
  svgs/ampere.svg
Labels: icons

#2166 +27 links
  app/assets/appfilter.xml
  svgs/flipaclip.svg
Labels: icons

#2171 +18 links
  app/assets/appfilter.xml
Labels: icons

#2175 +17 links
  app/assets/appfilter.xml
  svgs/screenstream.svg
  svgs/sova_v.svg
Labels: icons

#2172 + 4 icons, + 1 link
  app/assets/appfilter.xml
  svgs/abp_for_samsung_internet.svg
  svgs/bitwarden_beta.svg
  svgs/bunny_manager.svg
  svgs/futo_keyboard.svg
Labels: rework, icons

#2177 +20 links
  app/assets/appfilter.xml
  svgs/apk_editor.svg
  svgs/autotagger.svg
  svgs/companion_for_gltools.svg
  svgs/eletmento.svg
  svgs/fixprice.svg
  svgs/toolbox_for_minecraft.svg
Labels: icons

#2174 +12 icons, +1 link, update 1 icon
  app/assets/appfilter.xml
  svgs/aircade.svg
  svgs/banxo.svg
  svgs/barquode.svg
  svgs/bluetooth_control.svg
  svgs/bonjour_ratp.svg
  svgs/fandango.svg
  svgs/maimai_data.svg
  svgs/pipepipe.svg
  svgs/rizline.svg
  svgs/rizline_cn.svg
  svgs/sfacg.svg
  svgs/taginfo.svg
  svgs/tagwriter.svg
Labels: rework, icons

#2185 +44 links
  app/assets/appfilter.xml
  svgs/brawl_stars.svg
  svgs/cats_crash_arena_turbo_stars.svg
  svgs/geometry_dash.svg
  svgs/penta.svg
Labels: icons

#2186 Added links to graphic editors
  CONTRIBUTING.md
Labels: docs
