Repository LawnchairLauncher/lawnicons, pull requests merged in 2024-01, with the labels that each got.

#1720 +19 links
  app/assets/appfilter.xml
  svgs/proton_mail.svg
  svgs/proton_vpn.svg
Labels: icons

#1701 Add icon for Zoho Cliq
  app/assets/appfilter.xml
  svgs/zoho_cliq.svg
Labels: rework, icons

#1721 Add icon for Zoho Books
  app/assets/appfilter.xml
  svgs/zoho_books.svg
Labels: rework, icons

#1686 Add icon for SiriusXM
  app/assets/appfilter.xml
  svgs/siriusxm.svg
Labels: rework, icons

#1725 +14 icons: ActivoBank, BiglyBT, Temu
  app/assets/appfilter.xml
  svgs/activobank.svg
  svgs/audile.svg
  svgs/auto_optimizer.svg
  svgs/biglybt.svg
  svgs/dbna.svg
  svgs/eticket_klaipeda.svg
  svgs/microsoft_copilot.svg
  svgs/otp_bank.svg
  svgs/otp_szep_card.svg
  svgs/planet_vpn.svg
  svgs/plees_tracker.svg
  svgs/smart_timetable.svg
  svgs/stock_market_learning.svg
  svgs/student_beans.svg
  svgs/temu.svg
  svgs/zave_it.svg
Labels: icons

#1656 Add i2pd
  app/assets/appfilter.xml
  svgs/i2pd.svg
Labels: rework, icons

#1723 Add icon for Zoho Notebook
  app/assets/appfilter.xml
  svgs/zoho_notebook.svg
Labels: rework, icons

#1729 +5 links
  app/assets/appfilter.xml
Labels: icons

#1717 Naming guidelines
  CONTRIBUTING.md
Labels: docs

#1727 Add icon for Flashfood
  app/assets/appfilter.xml
  svgs/flashfood.svg
Labels: icons

#1730 Add icon for Zoho Connect
  app/assets/appfilter.xml
  svgs/zoho_connect.svg
Labels: rework, icons

#1705 Add 1 Icon
  app/assets/appfilter.xml
  svgs/owncloud.svg
Labels: rework, icons

#1735 +63 links
  app/assets/appfilter.xml
  svgs/bmo_bank.svg
  svgs/tmobile.svg
Labels: icons

#1712 Link 36 more Starbucks
  app/assets/appfilter.xml
Labels: rework, icons

#1642 Add Mobvoi
  app/assets/appfilter.xml
  svgs/mobvoi.svg
Labels: rework, icons

#1736 Link ReVanced Manager Variant && RVX Fork
  app/assets/appfilter.xml
  svgs/rvx_manager.svg
Labels: rework, icons

#1738 +265 links
  app/assets/appfilter.xml
Labels: icons

#1742 Added 5 Icons
  app/assets/appfilter.xml
  svgs/deliveries.svg
  svgs/finanzguru.svg
  svgs/one_jotter.svg
  svgs/refind.svg
  svgs/tado.svg
Labels: icons

#1741 Clarified how to name apps w/o a name localization
  CONTRIBUTING.md
Labels: docs

#1749 23 icons: BeautyCam, Indodana, Outline
  app/assets/appfilter.xml
  svgs/beautycam.svg
  svgs/bikroy.svg
  svgs/canada_post.svg
  svgs/canal_plus.svg
  svgs/clickclickdrive.svg
  svgs/danske_id.svg
  svgs/droidvnc_ng.svg
  svgs/empty_folder_cleaner.svg
  svgs/eyeem.svg
  svgs/fanfiction_net.svg
  svgs/goodwy_right_contacts.svg
  svgs/imaging_edge_mobile.svg
  svgs/indodana.svg
  svgs/instacart.svg
  svgs/layout_from_instagram.svg
  svgs/listy.svg
  svgs/microsoft_lists.svg
  svgs/minimalist_icon_pack.svg
  svgs/my_but.svg
  svgs/outline.svg
  svgs/plume_labs.svg
  svgs/tempo.svg
  svgs/web_app.svg
Labels: icons

#1748 Add MapSwipe
  app/assets/appfilter.xml
  svgs/mapswipe.svg
Labels: icons

#1751 +11 icons: Everand, SITS, VOLL
  app/assets/appfilter.xml
  svgs/be_funny_now.svg
  svgs/beatstars_instrumental_beats.svg
  svgs/everand.svg
  svgs/indodana.svg
  svgs/mull.svg
  svgs/periodic.svg
  svgs/rimi.svg
  svgs/sits_intelligent_transport.svg
  svgs/stimuler.svg
  svgs/telex.svg
  svgs/telia_tv.svg
  svgs/voll.svg
  svgs/zip_shop.svg
Labels: icons

#1753 Quality update 11
  app/assets/appfilter.xml
  svgs/bereal.svg
  svgs/business_calendar.svg
  svgs/chase.svg
  svgs/chase_uk.svg
  svgs/dailyhunt.svg
  svgs/dexcom_g6.svg
  svgs/digilocker.svg
  svgs/galaxy_themes.svg
  svgs/getapps.svg
  svgs/j2me_loader.svg
  svgs/jetpack.svg
  svgs/lightroom.svg
  svgs/mae.svg
  svgs/mi_wifi.svg
  svgs/moonlight.svg
  svgs/moto.svg
  svgs/mupdf_viewer.svg
  svgs/nekobox.svg
  svgs/nest.svg
  svgs/oneplus_community.svg
  svgs/pharmeasy.svg
  svgs/photoshop_express.svg
  svgs/pocket_fm.svg
  svgs/qnb_finansbank.svg
  svgs/raiffeisen_bank.svg
  svgs/sensor_test.svg
  svgs/stellarium.svg
  svgs/wake_on_lan.svg
  svgs/yousee_play.svg
  svgs/zlib.svg
Labels: icons

#1756 +11 icons: Perplexity, TicketSwap, Volume+
  app/assets/appfilter.xml
  svgs/nomerogram.svg
  svgs/olympics.svg
  svgs/perplexity.svg
  svgs/power_automate.svg
  svgs/schoolsoft.svg
  svgs/splid.svg
  svgs/tencent_video.svg
  svgs/tibber.svg
  svgs/ticketswap.svg
  svgs/up_tempo.svg
  svgs/volume_plus.svg
  svgs/waking_up.svg
Labels: icons

#1747 Added 5 icons, Linked 1 icon
  app/assets/appfilter.xml
  svgs/cherrygram.svg
  svgs/easy_wallet.svg
  svgs/pxpay.svg
  svgs/the_wolfs_stash.svg
  svgs/yahoo_auctions.svg
Labels: rework, icons

#1759 Add icon for Zoho Desk
  app/assets/appfilter.xml
  svgs/zoho_desk.svg
Labels: icons

#1755 Lawnicons Guidelines v2.2
  CONTRIBUTING.md
  docs/images/creating-icons-1-artboard.png
  docs/images/creating-icons-2-foundation.png
  docs/images/creating-icons-4-maintaining-visual-balance.png
  docs/images/creating-icons-5-balance.png
  docs/images/creating-icons-6-sample-icons.png
Labels: docs

#1767 Add icon for MonClubSportif
  app/assets/appfilter.xml
  svgs/monclubsportif.svg
Labels: icons

#1768 Add icon for Alaska
  app/assets/appfilter.xml
  svgs/alaska.svg
Labels: rework, icons

#1771 Add icon for Zoho Survey
  app/assets/appfilter.xml
  svgs/zoho_survey.svg
Labels: icons

#1772 Update icon for Flashfood
  svgs/flashfood.svg
Labels: rework, icons

#1774 Add icon for Zoho Projects
  app/assets/appfilter.xml
  svgs/zoho_projects.svg
Labels: icons

#1775 +30 icons: Battle.net, CAIXA Tem, Miro
  app/assets/appfilter.xml
  svgs/archlinux_forums.svg
  svgs/battle_net.svg
  svgs/baz.svg
  svgs/been.svg
  svgs/bigpay.svg
  svgs/brakar_billett.svg
  svgs/budapestgo.svg
  svgs/caixa_tem.svg
  svgs/cake_learn.svg
  svgs/device_utility.svg
  svgs/discogs.svg
  svgs/file_viewer_for_android.svg
  svgs/fineco.svg
  svgs/fotonica.svg
  svgs/materialpods.svg
  svgs/minesweeper.svg
  svgs/miro.svg
  svgs/mobilempk.svg
  svgs/more_grocery_delivery.svg
  svgs/mp3_audio_merger.svg
  svgs/navimaps.svg
  svgs/onesync.svg
  svgs/profi.svg
  svgs/ruppu.svg
  svgs/sevensleep.svg
  svgs/sit_sync.svg
  svgs/smart_voice_recorder.svg
  svgs/stario_launcher.svg
  svgs/sticker_maker_for_whatsapp.svg
  svgs/super_productivity.svg
Labels: icons

#1779 Enable the edge-to-edge display
  app/build.gradle.kts
  app/src/main/kotlin/app/lawnchair/lawnicons/MainActivity.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/Lawnicons.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/components/core/SystemUi.kt
Labels: code

#1780 Add icon for Pass2Pay
  app/assets/appfilter.xml
  svgs/pass2pay.svg
Labels: icons

#1778 Add 3 icons
  app/assets/appfilter.xml
  svgs/floccus.svg
  svgs/qantas.svg
  svgs/what3words.svg
Labels: rework, icons

#1787 +5 links
  app/assets/appfilter.xml
Labels: icons

#1789 +30 icons: Biedronka, EQ Bank, My Nintendo
  app/assets/appfilter.xml
  svgs/ar_canvas.svg
  svgs/atomic_icon_pack.svg
  svgs/banco_azteca.svg
  svgs/behance.svg
  svgs/biedronka.svg
  svgs/blacknote.svg
  svgs/bloom_icon_pack.svg
  svgs/buzzkill.svg
  svgs/copilote.svg
  svgs/eddie_airvpn_gui.svg
  svgs/eletmento.svg
  svgs/entur.svg
  svgs/eq_bank.svg
  svgs/everyday_rewards.svg
  svgs/flora_incognita.svg
  svgs/followers_unfollowers.svg
  svgs/gomo_ph.svg
  svgs/hostelworld.svg
  svgs/kimovil.svg
  svgs/lenta.svg
  svgs/little_nightmares.svg
  svgs/lucky_financial.svg
  svgs/meross.svg
  svgs/mi_banco_mobile.svg
  svgs/milieu_surveys.svg
  svgs/mundo_galp.svg
  svgs/my_nintendo.svg
  svgs/my_robi.svg
  svgs/myradar_pro.svg
  svgs/nomad.svg
Labels: icons

#1765 Lawnicons guidelines v2.2.1: Simplify icon size selection and increase the variety of square icons
  CONTRIBUTING.md
  docs/images/creating-icons-2-foundation.png
  docs/images/creating-icons-6-sample-icons.png
Labels: docs, needs review

#1793 Moshidon fix, Arcticons You link
  app/assets/appfilter.xml
  svgs/moshidon.svg
Labels: icons

#1788 Add 5 Icons, Link 1
  app/assets/appfilter.xml
  svgs/australia_post.svg
  svgs/bom_weather.svg
  svgs/camera_assistant.svg
  svgs/flightstats.svg
  svgs/plane_finder.svg
Labels: rework, icons

#1795 +45 icons: CalyxVPN, SecScanQR, WeRead
  app/assets/appfilter.xml
  svgs/calyxvpn.svg
  svgs/coursera.svg
  svgs/flutter_gallery.svg
  svgs/google_play_books.svg
  svgs/google_play_console.svg
  svgs/google_play_games.svg
  svgs/google_play_store.svg
  svgs/google_street_view.svg
  svgs/habitacao_caixa.svg
  svgs/hermit.svg
  svgs/hurry_day.svg
  svgs/kardiachain_wallet.svg
  svgs/kiss_launcher.svg
  svgs/kmi_irm_weather.svg
  svgs/ledger_live.svg
  svgs/linex_black_icon_pack.svg
  svgs/linex_white_icon_pack.svg
  svgs/mixcloud.svg
  svgs/monday_com.svg
  svgs/my_excitel.svg
  svgs/neon_nothing_icon_pack.svg
  svgs/omio.svg
  svgs/oroaming.svg
  svgs/pathao.svg
  svgs/premiere.svg
  svgs/pulse_ai_wallpapers.svg
  svgs/qqmail.svg
  svgs/ratio.svg
  svgs/renpho.svg
  svgs/renpho_health.svg
  svgs/ruslin_notes.svg
  svgs/safeboda.svg
  svgs/secscanqr.svg
  svgs/self_attendance.svg
  svgs/simyo.svg
  svgs/sleep_cycle.svg
  svgs/snotz.svg
  svgs/spic.svg
  svgs/stellarium_plus.svg
  svgs/tcl_gallery.svg
  svgs/telenet.svg
  svgs/tickertape.svg
  svgs/uptimerobot.svg
  svgs/visha_video_player.svg
  svgs/vr_matkalla.svg
  svgs/wallwow.svg
  svgs/weread.svg
  svgs/youtube_create.svg
Labels: icons

#1796 Add icon for Nintendo Switch Parental Control
  app/assets/appfilter.xml
  svgs/nintendo_switch_parental_control.svg
Labels: icons

#1794 Link Fossify apps
  app/assets/appfilter.xml
Labels: icons

#1797 +5 icons, +3 links
  app/assets/appfilter.xml
  svgs/aurora_store.svg
  svgs/aurora_store_nightly.svg
  svgs/disco_zoo.svg
  svgs/pocket_planes.svg
  svgs/valv.svg
  svgs/volume_control.svg
Labels: icons

#1782 Simplifying Contributor's checklist and instructions updates
  .github/PULL_REQUEST_TEMPLATE/general_change.md
  .github/PULL_REQUEST_TEMPLATE/icon_addition.md
  .github/pull_request_template.md
Labels: docs

#1801 +2 icons: My Health Space, SNOW
  app/assets/appfilter.xml
  svgs/harmonic.svg
  svgs/my_health_space.svg
  svgs/snow.svg
Labels: icons
