Repository LawnchairLauncher/lawnicons, pull requests merged in 2024-12, with the labels that each got.

#2475 +1 Link
  app/assets/appfilter.xml
Labels: icons

#2470 +1 icon
  app/assets/appfilter.xml
  svgs/ph_diver.svg
Labels: icons

#2485 +1 icon, + 2 links
  app/assets/appfilter.xml
  svgs/nothing_gallery.svg
Labels: icons

#2484 + 5 updates, + 10 links, + 1 icon
  app/assets/appfilter.xml
  svgs/a101.svg
  svgs/a101_yeni.svg
  svgs/airnav_radar.svg
  svgs/image_toolbox.svg
  svgs/innertune_fork.svg
  svgs/skycards.svg
  svgs/telegram_monet.svg
  svgs/tgmonet_theme.svg
Labels: rework, icons

#2494 Removed the deleted form
  .github/ISSUE_TEMPLATE/icon_rebrand.yml
  README.md
Labels: docs

#2487 Tiny change
  README.md
Labels: docs

#2502 Minor icon improvements
  svgs/book_reader.svg
  svgs/cheogram.svg
  svgs/clash_of_clans.svg
  svgs/color_puzzle.svg
  svgs/device_info_hw.svg
  svgs/google_pay.svg
  svgs/here_wego.svg
  svgs/kakaotalk.svg
  svgs/karwei.svg
  svgs/kinemaster.svg
  svgs/kiwi_browser.svg
  svgs/life360.svg
  svgs/magic_earth.svg
  svgs/mullvad_vpn.svg
  svgs/musicolet_music_player.svg
  svgs/nintendo_switch_online.svg
  svgs/onestop.svg
  svgs/pikpak.svg
  svgs/pixel_tips.svg
  svgs/proton_calendar.svg
  svgs/proton_drive.svg
  svgs/quizduel.svg
  svgs/quote_unquote.svg
  svgs/schulplaner.svg
  svgs/screencam.svg
  svgs/tagmo.svg
  svgs/timetree.svg
  svgs/trackercontrol.svg
  svgs/warpshare.svg
  svgs/zapp.svg
Labels: icons
