Repository LawnchairLauncher/lawnicons, pull requests merged in 2024-08, with the labels that each got.

#2231 + 1 icon, + 1 update
  app/assets/appfilter.xml
  svgs/claude_by_anthropic.svg
Labels: rework, icons

#2241 +30 links
  app/assets/appfilter.xml
Labels: icons

#2238 +1 icon
  app/assets/appfilter.xml
  svgs/velobank.svg
Labels: rework, icons

#2253 +21 links, Asphalt icon update
  app/assets/appfilter.xml
  svgs/asphalt_9_legends.svg
  svgs/asphalt_legends_unite.svg
Labels: icons

#2260 +39 links and 2 updates
  app/assets/appfilter.xml
  svgs/bill_payment_organizer.svg
  svgs/databackup.svg
  svgs/mi_video.svg
Labels: icons

#2261 Fix edge-to-edge on three-button nav bar
  app/src/main/kotlin/app/lawnchair/lawnicons/MainActivity.kt
Labels: code

#2239 +2 icons and -1 typo
  CONTRIBUTING.md
  app/assets/appfilter.xml
  svgs/marcus.svg
  svgs/parkmobile.svg
Labels: docs, rework, icons

#2269 +17 links and 5 updates
  app/assets/appfilter.xml
  svgs/github.svg
  svgs/spotiflyer.svg
  svgs/spotify.svg
  svgs/spotify_artists.svg
  svgs/spotify_podcasters.svg
Labels: icons

#2274 +6 links
  app/assets/appfilter.xml
Labels: icons

#2275 Minor fix
  app/assets/appfilter.xml
Labels: icons

#2277 +11 links
  app/assets/appfilter.xml
Labels: icons

#2282 Clarified the process of adding and linking icons
  CONTRIBUTING.md
Labels: docs

#2279 +3 icons
  app/assets/appfilter.xml
  svgs/cuberite.svg
  svgs/custom_uploader.svg
  svgs/look4sat.svg
Labels: rework, icons

#2290 +1 link
  app/assets/appfilter.xml
Labels: icons

#2291 +37 links
  app/assets/appfilter.xml
Labels: icons
