Repository LawnchairLauncher/lawnicons, pull requests merged in 2025-08, with the labels that each got.

#2912 Update repo cover
  docs/images/repo-cover.png
Labels: docs

#2914 Update for the icon addition template
  .github/PULL_REQUEST_TEMPLATE/icon_addition.md
Labels: docs

#2915 QA
  app/assets/appfilter.xml
  svgs/adobe_photoshop_mix.svg
  svgs/aftership.svg
  svgs/baidu_maps.svg
  svgs/bitrix24.svg
  svgs/blindmate.svg
  svgs/blockinger.svg
  svgs/carnet.svg
  svgs/mcfit.svg
  svgs/p_mobile_service.svg
  svgs/pix_you_dark_icons.svg
  svgs/plex.svg
  svgs/pou.svg
  svgs/radio_bob.svg
  svgs/riot.svg
  svgs/tachiyomi.svg
  svgs/torguard.svg
  svgs/transfermovil.svg
  svgs/url_radio.svg
  svgs/wger.svg
  svgs/wifi_pro_ftp_server.svg
  svgs/xiqueer.svg
  svgs/zdfmediathek.svg
Labels: icons

#2919 QA
  svgs/alcodroid.svg
  svgs/ard_mediathek.svg
  svgs/baimiao.svg
  svgs/deliveries.svg
  svgs/dict_cc.svg
  svgs/momox.svg
  svgs/nintendo_switch_parental_control.svg
  svgs/nomad_sculpt.svg
  svgs/octoremote.svg
  svgs/pincredible.svg
Labels: icons

#2920 +4 icons, +1 removal
  app/assets/appfilter.xml
  svgs/battery_health.svg
  svgs/kiwify.svg
  svgs/service_nsw.svg
  svgs/sony_auto_play.svg
  svgs/sum_up.svg
Labels: icons

#2916 fix: Fix icon list ignoring some unthemed icons
  app/src/main/kotlin/app/lawnchair/lawnicons/repository/IconRepository.kt
Labels: code

#2923 +3 icons, +1 update
  app/assets/appfilter.xml
  svgs/lxreader.svg
  svgs/mpvkt.svg
  svgs/nyt_games.svg
  svgs/sony_creators.svg
Labels: icons

#2926 QA
  app/assets/appfilter.xml
  svgs/bupa.svg
  svgs/bupa_arabia.svg
  svgs/candy_simply_fi.svg
  svgs/dawn_ai.svg
  svgs/iptv_extreme.svg
  svgs/iptv_extreme_pro.svg
  svgs/klarmobil.svg
  svgs/klarmobilde.svg
  svgs/minisweeper.svg
  svgs/mir_pay.svg
  svgs/my_fritz.svg
  svgs/mybupa.svg
  svgs/pinduoduo.svg
  svgs/pokecardex.svg
  svgs/simply_fi.svg
  svgs/tata_play.svg
  svgs/tele_quebec.svg
  svgs/tolino.svg
  svgs/weibo.svg
Labels: icons

#2928 QA
  app/assets/appfilter.xml
  svgs/adobe_photoshop_fix.svg
  svgs/amaze_file_utilities.svg
  svgs/audio_recorder.svg
  svgs/cricket_australia_live.svg
  svgs/dazn.svg
  svgs/dida_taxi.svg
  svgs/findroid.svg
  svgs/fiverr.svg
  svgs/fr_legends.svg
  svgs/free_download_manager.svg
  svgs/gongkao_leida.svg
  svgs/gps_status_and_toolbox.svg
  svgs/groovepad.svg
  svgs/inshorts.svg
  svgs/john_gbac.svg
  svgs/kaadas.svg
  svgs/lux_icons.svg
  svgs/lux_icons_paid.svg
  svgs/musiccast.svg
  svgs/nyon_material_you_icons.svg
  svgs/polycam.svg
  svgs/qantas.svg
  svgs/renaissance_health.svg
  svgs/screen_master.svg
  svgs/screen_master_pro.svg
  svgs/screenmaster.svg
  svgs/seal.svg
  svgs/soundbound.svg
  svgs/soundcore.svg
  svgs/tipico.svg
  svgs/tver.svg
  svgs/uber_driver.svg
  svgs/uber_eats_manager.svg
  svgs/uber_eats_orders.svg
  svgs/vyom.svg
  svgs/webtoon.svg
  svgs/zedge.svg
Labels: icons

#2933 QA
  app/assets/appfilter.xml
  svgs/comdirect_phototan.svg
  svgs/drastic.svg
  svgs/fandom.svg
  svgs/flashlight.svg
  svgs/generic_flashlight.svg
  svgs/mapswipe.svg
  svgs/mewe.svg
  svgs/notenapp.svg
  svgs/np_manager.svg
  svgs/superfreezz.svg
  svgs/textra_sms.svg
Labels: icons

#2939 +9 icons, +3 links
  app/assets/appfilter.xml
  svgs/discover_killer.svg
  svgs/mega_vpn.svg
  svgs/music_tag.svg
  svgs/newegg.svg
  svgs/opal_travel.svg
  svgs/samsung_ar_doodle.svg
  svgs/vpn_japan.svg
  svgs/yandex_with_alice_beta.svg
Labels: icons

#2941 +23 icons
  app/assets/appfilter.xml
  svgs/_10.svg
  svgs/_9now.svg
  svgs/airchina.svg
  svgs/big_bash.svg
  svgs/display_assistant.svg
  svgs/emirates.svg
  svgs/game_booster_plus.svg
  svgs/lumo.svg
  svgs/lumosity.svg
  svgs/pi_hole_client.svg
  svgs/proton_authenticator.svg
  svgs/reuters.svg
  svgs/sbs_audio.svg
  svgs/sbs_news.svg
  svgs/sbs_on_demand.svg
  svgs/seekho.svg
  svgs/supercycle.svg
  svgs/tantan.svg
  svgs/tramtracker.svg
  svgs/u_plus.svg
  svgs/vault.svg
  svgs/vidma_record.svg
  svgs/virgin_australia.svg
Labels: icons

#2942 QA
  svgs/airchina.svg
  svgs/bc_services_card.svg
  svgs/fenbi.svg
  svgs/foxy_droid.svg
  svgs/m365_tools.svg
  svgs/mi_time.svg
  svgs/modern_strike_online.svg
  svgs/parking_bahia.svg
  svgs/photoshop_express.svg
  svgs/public_transport_victoria_ptv.svg
  svgs/pyaterochka.svg
  svgs/rozklad_pkp.svg
  svgs/tabletop_tools.svg
Labels: icons

#2943 Reworded guide for adding icons
  CONTRIBUTING.md
Labels: docs

#2949 QA
  app/assets/appfilter.xml
  svgs/auto_clicker.svg
  svgs/bkash.svg
  svgs/canon_camera_connect.svg
  svgs/charge_meter.svg
  svgs/china_merchants_bank.svg
  svgs/criptext_secure_email.svg
  svgs/fizz.svg
  svgs/flashlight_tiramisu.svg
  svgs/game_informer.svg
  svgs/insa_d_ticket.svg
  svgs/magic_the_gathering_arena.svg
  svgs/mastodon.svg
  svgs/neutrinote.svg
  svgs/open_radio.svg
  svgs/owncloud.svg
  svgs/privacy_friendly_pedometer.svg
  svgs/rekado.svg
  svgs/rutube.svg
  svgs/samsung_keys_cafe.svg
  svgs/samsung_studio.svg
  svgs/sense.svg
  svgs/taopiaopiao.svg
Labels: icons

#2953 Bring back 1 icon (Skype), +14 links
  app/assets/appfilter.xml
  svgs/skype.svg
Labels: icons

#2954 QA
  app/assets/appfilter.xml
  svgs/_360.svg
  svgs/catogram.svg
  svgs/corona_tracing.svg
  svgs/daily_you.svg
  svgs/ecloud.svg
  svgs/ecosia.svg
  svgs/google_street_view.svg
  svgs/google_wallet.svg
  svgs/izly.svg
  svgs/kernelsu.svg
  svgs/navi.svg
  svgs/nekome.svg
  svgs/niagara_launcher.svg
  svgs/rays.svg
  svgs/stepsapp.svg
  svgs/tagesschau.svg
  svgs/vsmart_contact.svg
  svgs/whatsaga.svg
Labels: icons

#2958 +6 icons, +1 update
  app/assets/appfilter.xml
  svgs/cathay_pacific.svg
  svgs/jr_east.svg
  svgs/nhk_news.svg
  svgs/nhk_plus.svg
  svgs/radiko.svg
  svgs/seibu_line.svg
  svgs/toei_transportation.svg
Labels: rework, icons

#2960 QA
  app/assets/appfilter.xml
  svgs/buienradar.svg
  svgs/conta_digital_ifood.svg
  svgs/dingtalk.svg
  svgs/google_earth.svg
  svgs/hot_lap_league_racing_mania.svg
  svgs/ifood_pago.svg
  svgs/kaadas_smart.svg
  svgs/live2dviewerex.svg
  svgs/live2dviewerex_face_tracker.svg
  svgs/live2dviewerex_floating_viewer.svg
  svgs/mj_pdf.svg
  svgs/paypal.svg
  svgs/paypal_business.svg
  svgs/spotiflyer.svg
  svgs/spotify_for_artists.svg
  svgs/spotify_for_creators.svg
  svgs/vinted.svg
Labels: icons

#2968 +3 icons, QA
  app/assets/appfilter.xml
  svgs/angel_one.svg
  svgs/anilabx.svg
  svgs/covid_certificate.svg
  svgs/ella.svg
  svgs/flow_free_hexes.svg
  svgs/joey.svg
  svgs/lazada_seller_center.svg
  svgs/lockmypix.svg
  svgs/meituan_takeaway.svg
  svgs/meteoswiss.svg
  svgs/my_airtel.svg
  svgs/pedometer.svg
  svgs/phonograph_music_player.svg
  svgs/riseupvpn.svg
  svgs/shizuku.svg
  svgs/spowlo.svg
  svgs/trivia_crack_2.svg
  svgs/youtube_vr.svg
Labels: icons

#2971 Minor changes to the design guidelines
  CONTRIBUTING.md
  docs/images/common-issues-to-fix.png
Labels: docs

#2983 Minor link change
  README.md
Labels: docs

#2989 QA
  svgs/desk_clock.svg
  svgs/discord.svg
  svgs/freebox_connect.svg
  svgs/itax.svg
  svgs/reddit.svg
  svgs/sberinvestments.svg
  svgs/smartpack_kernel_manager.svg
  svgs/vendetta_manager.svg
  svgs/zarchiver.svg
Labels: icons

#2994 QA
  svgs/boost_for_reddit.svg
  svgs/bootboi.svg
  svgs/cainiao.svg
  svgs/classyshark3xodus.svg
  svgs/clear.svg
  svgs/jobstreet.svg
  svgs/music_tag.svg
  svgs/naver_dictionary.svg
  svgs/panda_video_compressor.svg
  svgs/plane_finder.svg
  svgs/pocket_planes.svg
  svgs/waifupx.svg
Labels: icons

#2982 +24 icons
  app/assets/appfilter.xml
  svgs/ap_news.svg
  svgs/bestbrokers.svg
  svgs/bukakios.svg
  svgs/celenganku.svg
  svgs/co_op.svg
  svgs/dlsite_sound.svg
  svgs/dnsnet.svg
  svgs/elevenreader.svg
  svgs/frontpage.svg
  svgs/heat_it.svg
  svgs/inbank.svg
  svgs/invideo_ai.svg
  svgs/ircode_finder.svg
  svgs/kicktipp.svg
  svgs/kiedyprzyjedzie.svg
  svgs/kwork.svg
  svgs/loveydovey.svg
  svgs/mobifone.svg
  svgs/multipolls.svg
  svgs/nuvola.svg
  svgs/spatial_touch.svg
  svgs/text_scanner.svg
  svgs/voicemod.svg
  svgs/x_downloader.svg
Labels: icons, supported by contributors

#2996 Video on the fundamentals
  CONTRIBUTING.md
Labels: docs

#2997 +9 links
  app/assets/appfilter.xml
Labels: icons

#2999 +1 link
  app/assets/appfilter.xml
Labels: icons

#3000 QA
  svgs/claw.svg
  svgs/energy.svg
  svgs/garmin_drive.svg
  svgs/grindr.svg
  svgs/pocket_operator_for_pixel.svg
Labels: icons

#2969 +4 icons
  app/assets/appfilter.xml
  svgs/indiware_abimobil.svg
  svgs/indiware_vpmobil.svg
  svgs/indiware_vpmobil24.svg
  svgs/water_sort_puzzle.svg
Labels: rework, icons
