Repository LawnchairLauncher/lawnicons, pull requests merged in 2025-05, with the labels that each got.

#2646 [iteration 1] Update for the contributing guide
  CONTRIBUTING.md
Labels: docs

#2664 +17 icons
  app/assets/appfilter.xml
  svgs/bigo_live.svg
  svgs/carrom_pool_disc_game.svg
  svgs/dr_driving.svg
  svgs/extreme_car_driving_simulator.svg
  svgs/goibibo.svg
  svgs/hide_online.svg
  svgs/hole_io.svg
  svgs/move_to_ios.svg
  svgs/ometv.svg
  svgs/paper_io_2.svg
  svgs/parchisi_star.svg
  svgs/stack_ball.svg
  svgs/tapscanner.svg
  svgs/tic_tac_toe.svg
  svgs/tiles_hop.svg
  svgs/whoscall.svg
  svgs/wifi_wps_wpa_tester.svg
Labels: icons

#2662 Add better Smart Launcher integration
  app/src/main/res/values/colors.xml
Labels: code

#2666 Update contributing guidelines links
  CONTRIBUTING.md
Labels: docs

#2667 +8 updates, +1 link
  app/assets/appfilter.xml
  svgs/canvas_student.svg
  svgs/chaoxing.svg
  svgs/expedia.svg
  svgs/faceapp.svg
  svgs/headspace.svg
  svgs/huda.svg
  svgs/next_player.svg
  svgs/subway_surfers.svg
  svgs/wienmobil.svg
Labels: icons

#2669 Increasing the relevance of the repository description
  README.md
Labels: docs

#2665 + 3 icons, + 1 update
  app/assets/appfilter.xml
  svgs/abc_iview.svg
  svgs/abc_listen.svg
  svgs/abc_news.svg
  svgs/south_china_morning_post.svg
Labels: rework, icons

#2672 QA, +3 links
  app/assets/appfilter.xml
  svgs/a_and_w.svg
  svgs/at_and_t.svg
  svgs/at_and_t_device_help.svg
  svgs/cake.svg
  svgs/canal_plus.svg
  svgs/clone_phone.svg
  svgs/cpu_info.svg
  svgs/cpu_l.svg
  svgs/cpu_monitor.svg
  svgs/cpu_z.svg
  svgs/dailyobjects.svg
  svgs/dooz.svg
  svgs/erste_hilfe.svg
  svgs/gittouch.svg
  svgs/google_lens.svg
  svgs/h_and_m.svg
  svgs/kernel_flasher.svg
  svgs/kernel_su.svg
  svgs/league.svg
  svgs/publix_pharmacy.svg
  svgs/roku.svg
  svgs/screen_check.svg
  svgs/secscanqr.svg
  svgs/sky_map.svg
  svgs/sudoku.svg
  svgs/timetable.svg
  svgs/vectras_vm.svg
Labels: icons

#2676 QA, +33 links
  app/assets/appfilter.xml
  svgs/keepa.svg
  svgs/lloyds_bank.svg
  svgs/samsung_game_launcher.svg
Labels: icons

#2677 QA
  app/assets/appfilter.xml
  svgs/coronacheck.svg
  svgs/cuenta_dni.svg
  svgs/cuto_wallpaper.svg
  svgs/fitnotes.svg
  svgs/frequaw.svg
  svgs/gov_br.svg
  svgs/groovepad.svg
  svgs/heytap_app_market.svg
  svgs/ifood.svg
  svgs/inware.svg
  svgs/itsme.svg
  svgs/jami.svg
  svgs/libchecker.svg
  svgs/live_transcribe.svg
  svgs/macsposed.svg
  svgs/mi_control_center.svg
  svgs/mi_freeform.svg
  svgs/neostumbler.svg
  svgs/nexa_icons.svg
  svgs/obilet.svg
  svgs/payback.svg
  svgs/qr_reader.svg
  svgs/root_explorer.svg
  svgs/samsung_media_and_devices.svg
  svgs/satusehat.svg
  svgs/scanner_for_coronacheck.svg
  svgs/shelf.svg
  svgs/socmark.svg
  svgs/sofi.svg
  svgs/sony_game_enhancer.svg
  svgs/spectra.svg
  svgs/studentsquare.svg
  svgs/swap.svg
  svgs/sys_i.svg
  svgs/tailscale.svg
  svgs/translate_you.svg
  svgs/vpn_gate_client.svg
Labels: icons

#2679 +1 link
  app/assets/appfilter.xml
Labels: icons

#2680 QA
  svgs/_12_club.svg
  svgs/lighthouse_power_management.svg
  svgs/pocketbook.svg
  svgs/radiosnet.svg
  svgs/remini.svg
  svgs/rotation_control.svg
  svgs/skip_ads.svg
  svgs/stay_awake.svg
  svgs/superimage_pro.svg
  svgs/t_mobile.svg
  svgs/tesla.svg
  svgs/tradingview.svg
  svgs/transcriber_for_whatsapp.svg
  svgs/triunfo_seguros.svg
  svgs/turbo_vpn.svg
  svgs/uts.svg
  svgs/vakifbank.svg
  svgs/vidalink.svg
  svgs/video_downloader.svg
  svgs/voice_access.svg
  svgs/voll.svg
  svgs/voot.svg
  svgs/voter_helpline.svg
  svgs/vpn_pro.svg
  svgs/wallow.svg
  svgs/weawow.svg
  svgs/xda_one.svg
  svgs/ykb.svg
  svgs/yota.svg
  svgs/zalo.svg
  svgs/zalopay.svg
  svgs/zdrowe_zakupy.svg
  svgs/zee5.svg
  svgs/zhihu.svg
  svgs/zip.svg
Labels: icons

#2681 Temporary description
  README.md
Labels: docs

#2682 QA
  svgs/airdroid.svg
  svgs/allocine.svg
  svgs/alza.svg
  svgs/ant_plus_plugins_service.svg
  svgs/aperitif.svg
  svgs/app_ops.svg
  svgs/asus_gallery.svg
  svgs/atomas.svg
  svgs/autotagger.svg
  svgs/autotools.svg
  svgs/autovoice.svg
  svgs/bancoposta.svg
  svgs/bbdaily.svg
  svgs/beautyplus.svg
  svgs/beautyxt.svg
  svgs/best_knots.svg
  svgs/bewakoof.svg
  svgs/bigpay.svg
  svgs/bkash.svg
  svgs/bper_banca.svg
  svgs/brakar_billett.svg
  svgs/bring.svg
  svgs/call_filter.svg
  svgs/carteira_de_trabalho_digital.svg
  svgs/cast_to_tv.svg
  svgs/castbox.svg
  svgs/church_tools.svg
  svgs/coinsnap.svg
  svgs/color_grab.svg
  svgs/cyclers.svg
  svgs/denizbank.svg
  svgs/diya.svg
  svgs/doable.svg
  svgs/e_devlet.svg
  svgs/enabiz.svg
  svgs/focusmeter.svg
  svgs/folder_widget.svg
  svgs/gms_flags.svg
  svgs/ioma.svg
  svgs/joyn.svg
  svgs/junes_journey.svg
  svgs/knip.svg
  svgs/ola_electric.svg
  svgs/popup_widget.svg
  svgs/sdui.svg
  svgs/tp_link_deco.svg
  svgs/up_money.svg
  svgs/upstox.svg
  svgs/vr_securego_plus.svg
  svgs/woocommerce.svg
Labels: icons

#2693 +5 links
  app/assets/appfilter.xml
Labels: icons

#2694 [iteration 2, clean] Lawnicons design guidelines update
  CONTRIBUTING.md
  docs/images/creating-icons-1-artboard.png
  docs/images/creating-icons-2-foundation.png
  docs/images/creating-icons-3-balance.png
  docs/images/creating-icons-3-detail.png
  docs/images/creating-icons-4-maintaining-visual-balance.png
  docs/images/creating-icons-4-outline.png
  docs/images/creating-icons-6-sample-icons.png
  docs/images/fundamentals-1-canvas.png
  docs/images/fundamentals-2-abstract-icons.png
  docs/images/fundamentals-3-square-icons.png
  docs/images/fundamentals-4-color.png
  docs/images/fundamentals-5-stroke-weights.png
  docs/images/fundamentals-6-start-and-end-caps-joints.png
  docs/images/fundamentals-7-corner-radius.png
  docs/images/quality-1-consistency.png
  docs/images/quality-2-visual-balance.png
  docs/images/quality-3-black-spots.png
  docs/images/quality-4-excessive-density.png
  docs/images/quality-5-alignment.png
  docs/images/quality-6-text-icons.png
  docs/images/quality-7-complex-icons.png
  docs/images/quality-8-minimal-icons.png
Labels: docs

#2695 Various copyediting
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/icon_redesign.yml
  .github/PULL_REQUEST_TEMPLATE/general_change.md
  .github/PULL_REQUEST_TEMPLATE/icon_addition.md
  .github/icon_checklist.md
  README.md
Labels: docs

#2697 +4 icons, +6 links
  app/assets/appfilter.xml
  svgs/australis_icons.svg
  svgs/dicttango.svg
  svgs/open_in_whatsapp.svg
  svgs/osym.svg
Labels: icons

#2698 Various copyediting
  CONTRIBUTING.md
  README.md
  docs/icontool_guide.md
Labels: docs

#2702 +10 icons, +45 links
  app/assets/appfilter.xml
  svgs/antisplit_m.svg
  svgs/byedpi.svg
  svgs/fall_guys.svg
  svgs/kernelsu_next.svg
  svgs/magis.svg
  svgs/mybca.svg
  svgs/pixel_launcher_mods.svg
  svgs/ryanair.svg
  svgs/thunderbird.svg
  svgs/thunderbird_beta.svg
Labels: icons

#2705 +1 icon, +2 links
  app/assets/appfilter.xml
  svgs/liscenes.svg
Labels: icons

#2706 +2 icons, +1 link, QA
  app/assets/appfilter.xml
  svgs/adventure_capitalist.svg
  svgs/banesco.svg
  svgs/bgram.svg
  svgs/byebyedpi.svg
  svgs/confirmtkt.svg
  svgs/doodle_jump.svg
  svgs/doodle_jump_2.svg
  svgs/f1.svg
  svgs/gisetze_io.svg
  svgs/hbo_max.svg
  svgs/linex_black_icons.svg
  svgs/linex_white_icons.svg
  svgs/maya.svg
  svgs/obb_tickets.svg
Labels: icons

#2712 +1 link
  app/assets/appfilter.xml
Labels: icons

#2713 +1 Link
  app/assets/appfilter.xml
Labels: icons

#2715 +1 icon, +96 links
  app/assets/appfilter.xml
  svgs/cimb.svg
  svgs/disney_plus.svg
  svgs/o2.svg
  svgs/orange.svg
  svgs/screenshot_tile.svg
  svgs/unicredit.svg
Labels: icons

#2719 +140 links, QA
  app/assets/appfilter.xml
  svgs/_0h_h1.svg
  svgs/_20_minuten.svg
  svgs/_2fa_authenticator_2fas.svg
  svgs/adguard_vpn.svg
  svgs/adobe_acrobat_reader.svg
  svgs/adobe_fill_and_sign.svg
  svgs/code_studio.svg
  svgs/flixbus.svg
  svgs/generic_braces.svg
  svgs/generic_rotation.svg
  svgs/global_player.svg
  svgs/google_wallpapers.svg
  svgs/hey.svg
  svgs/insa_d_ticket.svg
  svgs/lineageos_music_12.svg
  svgs/max_stream_hbo.svg
  svgs/mytnb.svg
  svgs/nfc_tools.svg
  svgs/rotation.svg
Labels: icons

#2725 +16 links, 2 changed links
  app/assets/appfilter.xml
Labels: icons

#2726 QA
  app/assets/appfilter.xml
  svgs/clipious.svg
  svgs/compress_image_size.svg
  svgs/one_click_lock_screen.svg
  svgs/unapp.svg
Labels: icons
