Repository LawnchairLauncher/lawnicons, pull requests merged in 2025-03, with the labels that each got.

#2567 Link Iconify FOSS to Iconify icon
  app/assets/appfilter.xml
Labels: icons

#2577 +19 links
  app/assets/appfilter.xml
Labels: icons

#2581 +33 icons, +34 links
  app/assets/appfilter.xml
  svgs/_90_fps_plus_120_fps.svg
  svgs/albion.svg
  svgs/alien_invasion.svg
  svgs/applist_detector.svg
  svgs/au_support.svg
  svgs/bolt_icons.svg
  svgs/clime.svg
  svgs/cloudflare_one_agent.svg
  svgs/crystal.svg
  svgs/d_and_d_beyond.svg
  svgs/deepseek.svg
  svgs/dismail.svg
  svgs/does_not_commute.svg
  svgs/drivee.svg
  svgs/evolve_kwgt.svg
  svgs/express_plus_centrelink.svg
  svgs/familia.svg
  svgs/indistract.svg
  svgs/material_pixel_launcher_lock.svg
  svgs/nomachine.svg
  svgs/nyon_material_you_icons.svg
  svgs/pixelix.svg
  svgs/presto_e_tickets.svg
  svgs/privacy_com.svg
  svgs/pycode.svg
  svgs/racify.svg
  svgs/rejsebillet.svg
  svgs/sprouts.svg
  svgs/storyshots.svg
  svgs/vale_saude_sempre.svg
  svgs/volumee.svg
  svgs/wohin_du_willst.svg
  svgs/xume.svg
Labels: icons

#2582 Minor copyediting
  README.md
Labels: docs

#2583 +10 links
  app/assets/appfilter.xml
Labels: icons

#2572 +5 icons
  app/assets/appfilter.xml
  svgs/beatronome.svg
  svgs/bookshelf.svg
  svgs/bunpo.svg
  svgs/oreilly.svg
Labels: rework, icons

#2590 Avoid unnecessary svg-processor re-runs
  app/build.gradle.kts
  svg-processor/build.gradle.kts
  svg-processor/src/main/kotlin/app/lawnchair/lawnicons/helper/Main.kt
Labels: code

#2593 Minor copyediting
  README.md
Labels: docs

#2594 +1 update
  svgs/whatsapp_business.svg
Labels: icons

#2587 +1 icon, +1 link
  app/assets/appfilter.xml
  svgs/notvpn.svg
Labels: icons

#2600 +1 Link
  app/assets/appfilter.xml
Labels: icons

#2601 +35 icons, +19 links
  app/assets/appfilter.xml
  svgs/_100_plus_offline_games.svg
  svgs/_50_tiny_room_escape.svg
  svgs/abc_iview.svg
  svgs/ada.svg
  svgs/appdash.svg
  svgs/arena_of_valor.svg
  svgs/au_pay.svg
  svgs/audio_editor.svg
  svgs/beatstar.svg
  svgs/bettersleep.svg
  svgs/brimo.svg
  svgs/chestny_znak.svg
  svgs/cloudmoon.svg
  svgs/edenred_wallet.svg
  svgs/eparaksts.svg
  svgs/eromodo.svg
  svgs/gallery_by_photozen.svg
  svgs/hotels_com.svg
  svgs/hryfine.svg
  svgs/il_takecare.svg
  svgs/ile_de_france.svg
  svgs/keepsolid_vpn.svg
  svgs/manavision.svg
  svgs/mts_music.svg
  svgs/my_diary.svg
  svgs/notifications_archive.svg
  svgs/octopus.svg
  svgs/oex.svg
  svgs/pcm_recorder.svg
  svgs/pixlr_ai.svg
  svgs/spond.svg
  svgs/total_launcher.svg
  svgs/uco.svg
  svgs/video_player_all_format.svg
  svgs/watchmaker.svg
  svgs/weblio.svg
Labels: icons
