Repository LawnchairLauncher/lawnicons, pull requests merged in 2025-09, with the labels that each got.

#3003 Small link fix
  README.md
Labels: docs

#3006 Small editing for the Lawnicons design guidelines
  CONTRIBUTING.md
  docs/images/fundamentals-6-caps-and-joints.png
Labels: docs

#3007 Minor copyediting to Lawnicons design guidelines
  CONTRIBUTING.md
Labels: docs

#3014 +7 icon, +1 link
  app/assets/appfilter.xml
  svgs/_55688.svg
  svgs/google_journal.svg
  svgs/neko_atsume.svg
  svgs/neko_atsume_2.svg
  svgs/pure_writer.svg
  svgs/survivalcraft.svg
  svgs/survivalcraft_2.svg
Labels: rework, code, icons

#3017 Shortened naming guidelines
  CONTRIBUTING.md
Labels: docs

#3032 Minor description change
  README.md
Labels: docs

#3033 Review schedule hint
  .github/icon_checklist.md
  docs/images/common-issues-to-fix.png
Labels: docs

#3039 Remove description from icon addition PR template
  .github/PULL_REQUEST_TEMPLATE/icon_addition.md
Labels: docs

#3041 [SBC] +26 icons
  app/assets/appfilter.xml
  svgs/bristol.svg
  svgs/clubcard_tesco.svg
  svgs/colors_ai.svg
  svgs/corporate_benefits.svg
  svgs/dumpert.svg
  svgs/farmacias_del_ahorro.svg
  svgs/finanzblick.svg
  svgs/flash.svg
  svgs/franceinfo.svg
  svgs/immobiliare_it_indomio.svg
  svgs/inwi.svg
  svgs/island_is.svg
  svgs/links.svg
  svgs/lower_brightness.svg
  svgs/nextjoy.svg
  svgs/nova_iceland.svg
  svgs/real.svg
  svgs/recarga_megared.svg
  svgs/stock_events.svg
  svgs/sunlight.svg
  svgs/tandem.svg
  svgs/thematica.svg
  svgs/ukrposhta.svg
  svgs/wiso_steuer.svg
  svgs/yay_moments.svg
  svgs/yelum_seguradora.svg
Labels: icons, match

#3043 Minor changes to the Lawnicons guidelines
  CONTRIBUTING.md
Labels: docs

#3044 +2 icons
  app/assets/appfilter.xml
  svgs/freeview.svg
  svgs/squeeze_client.svg
Labels: code, icons

#3040 Fix labeler.yml
  .github/labeler.yml
Labels: enhancement
