Repository LawnchairLauncher/lawnicons, pull requests merged in 2025-01, with the labels that each got.

#2488 +1 icon
  app/assets/appfilter.xml
  svgs/_5ber_esim.svg
Labels: rework, icons

#2510 fix: Request form and Discord link
  .github/ISSUE_TEMPLATE/config.yml
  CONTRIBUTING.md
  README.md
Labels: docs

#2512 Tweak Ktlint rules
  .editorconfig
  app/src/main/kotlin/app/lawnchair/lawnicons/api/GithubApiModule.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/api/WebsiteApiModule.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/model/IconInfo.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/repository/PreferenceManager.kt
  app/src/main/kotlin/app/lawnchair/lawnicons/util/GetSystemPackageList.kt
  build.gradle.kts
  svg-processor/src/main/kotlin/app/lawnchair/lawnicons/helper/AppfilterDiffCreator.kt
  svg-processor/src/main/kotlin/app/lawnchair/lawnicons/helper/XmlUtil.kt
Labels: code

#2503 Update appfilter.xml
  app/assets/appfilter.xml
Labels: icons

#2490 Add 6 new icons
  app/assets/appfilter.xml
  svgs/ace_racer.svg
  svgs/action_notch.svg
  svgs/blue.svg
  svgs/cfr_calatori.svg
  svgs/myemc.svg
  svgs/recorderro.svg
Labels: rework, icons

#2518 Relink Gemini and Rumble
  app/assets/appfilter.xml
Labels: icons

#2524 [B10] +50 icons: Argos, Hi Translate, Listonic
  app/assets/appfilter.xml
  svgs/acko_insurance.svg
  svgs/aim_lab.svg
  svgs/antistress.svg
  svgs/argos.svg
  svgs/aura_icons.svg
  svgs/blink.svg
  svgs/blink_eye.svg
  svgs/camera_pro.svg
  svgs/facemoji.svg
  svgs/foursquare_swarm.svg
  svgs/glasswire.svg
  svgs/google_pay_for_business.svg
  svgs/gotube.svg
  svgs/groovepad.svg
  svgs/hi_translate.svg
  svgs/honor_email.svg
  svgs/honor_music_player.svg
  svgs/honor_ride_mode.svg
  svgs/huawei_books.svg
  svgs/huawei_files.svg
  svgs/huawei_fm_radio.svg
  svgs/huawei_gamecenter.svg
  svgs/huawei_member_center.svg
  svgs/huawei_notepad.svg
  svgs/huawei_petal_search.svg
  svgs/huawei_tips.svg
  svgs/huawei_wallet.svg
  svgs/hyperos_feedback.svg
  svgs/indah_water.svg
  svgs/jazzcash.svg
  svgs/lg_game_launcher.svg
  svgs/listonic.svg
  svgs/loli_snatcher.svg
  svgs/me_plus_lifestyle_routine.svg
  svgs/nanoleaf.svg
  svgs/naplarm.svg
  svgs/omi.svg
  svgs/oppo_account.svg
  svgs/samsung_assistant.svg
  svgs/samsung_edgelighting.svg
  svgs/samsung_interpreter.svg
  svgs/samsung_visual_voicemail.svg
  svgs/score_hero.svg
  svgs/shadow_fight_4_arena.svg
  svgs/soliclub.svg
  svgs/stickman_party.svg
  svgs/verizon_cloud.svg
  svgs/viu.svg
  svgs/vivo_game_space.svg
  svgs/vivo_kids_mode.svg
  svgs/yahoo_japan.svg
Labels: icons

#2525 +3 updates, +36 links
  app/assets/appfilter.xml
  svgs/chai.svg
  svgs/lydia.svg
  svgs/medium.svg
  svgs/sumeria.svg
Labels: icons

#2530 +1 icon, +30 links
  app/assets/appfilter.xml
  svgs/drops_icons.svg
  svgs/zip.svg
Labels: icons

#2521 Added 2 new icons
  app/assets/appfilter.xml
  svgs/brac_bank_astha.svg
  svgs/flut_renamer.svg
Labels: rework, icons

#2526 +1 Link
  app/assets/appfilter.xml
Labels: icons

#2541 +3 updates, +9 links
  app/assets/appfilter.xml
  svgs/bose.svg
  svgs/bose_music.svg
  svgs/microsoft_365.svg
  svgs/microsoft_365_copilot.svg
  svgs/nexo.svg
Labels: icons

#2542 Minor copyediting
  .github/ISSUE_TEMPLATE/icon_rebrand.yml
  README.md
Labels: docs
