Repository LawnchairLauncher/lawnicons, pull requests merged in 2025-06, with the labels that each got.

#2728 +30 updates
  app/assets/appfilter.xml
  svgs/animefy.svg
  svgs/arena_kuota.svg
  svgs/bolt_driver.svg
  svgs/bolt_merchant.svg
  svgs/bolt_restaurant.svg
  svgs/boss_wallah.svg
  svgs/capturesposed.svg
  svgs/chaton.svg
  svgs/chordify.svg
  svgs/comfort_by_mitsubishi_electric.svg
  svgs/custom_uploader.svg
  svgs/deutschlandcard.svg
  svgs/device_care.svg
  svgs/faceshow.svg
  svgs/ffreedom.svg
  svgs/gkd.svg
  svgs/jiohome.svg
  svgs/journie_rewards.svg
  svgs/kumo_cloud.svg
  svgs/labcoat.svg
  svgs/lifesum.svg
  svgs/macsposed.svg
  svgs/microsoft_msn.svg
  svgs/microsoft_start.svg
  svgs/mood_tracker.svg
  svgs/moto_interactive_wallpaper.svg
  svgs/mpaisa.svg
  svgs/mytherapy.svg
  svgs/mytherapy_pill_reminder.svg
  svgs/naukri.svg
  svgs/one_ui_dark_icons.svg
  svgs/one_ui_icons.svg
  svgs/onoff.svg
  svgs/onoff_numbers.svg
  svgs/packmate.svg
  svgs/paisa.svg
  svgs/paysafecard.svg
  svgs/pixelfed.svg
  svgs/pixels_journaling.svg
  svgs/samsung_device_care.svg
  svgs/verizon_cloud.svg
Labels: icons

#2745 +17 updates
  app/assets/appfilter.xml
  svgs/bookipi.svg
  svgs/cakeresume.svg
  svgs/chatbot_ai_4o.svg
  svgs/evrixa.svg
  svgs/fennec.svg
  svgs/gov_pt.svg
  svgs/id_gov_pt.svg
  svgs/invoice_maker_and_estimate.svg
  svgs/livechartme.svg
  svgs/mail_de.svg
  svgs/mobilede.svg
  svgs/moto_note.svg
  svgs/oppo_photos.svg
  svgs/orange_money.svg
  svgs/ready_for.svg
  svgs/samsung_wallet.svg
  svgs/share_now.svg
  svgs/sleep_tracker.svg
  svgs/sleeptracker.svg
  svgs/stock_widget.svg
  svgs/table_habit.svg
  svgs/termux_x11.svg
  svgs/untrackme.svg
  svgs/zero.svg
Labels: icons

#2747 +10 updates
  app/assets/appfilter.xml
  svgs/bitget_wallet.svg
  svgs/dhizuku.svg
  svgs/dynamic_spot.svg
  svgs/dynamicspot.svg
  svgs/eventbrite.svg
  svgs/fun_print.svg
  svgs/jiohotstar.svg
  svgs/laz_guarda.svg
  svgs/mailim.svg
  svgs/mupdf.svg
  svgs/sound_frequency_generator.svg
  svgs/zanichelli_guarda.svg
Labels: icons

#2751 Minor copyediting to improve the guides clarity
  CONTRIBUTING.md
Labels: docs

#2755 +8 updates
  app/assets/appfilter.xml
  svgs/badoo.svg
  svgs/celcomdigi.svg
  svgs/o_key.svg
  svgs/okey.svg
  svgs/one_alkalmazas.svg
  svgs/ovo.svg
  svgs/pexels.svg
  svgs/rostics.svg
  svgs/tokopedia.svg
  svgs/yoodo.svg
Labels: icons

#2757 +9 links, +5 updates
  app/assets/appfilter.xml
  svgs/coverscreen_os.svg
  svgs/hoyolab.svg
  svgs/koho.svg
  svgs/magic_poser.svg
  svgs/mygovid.svg
  svgs/myid.svg
Labels: icons

#2758 Small fix to the common issues list
  docs/images/common-issues-to-fix.png
Labels: docs

#2760 +76 links
  app/assets/appfilter.xml
  svgs/orlen.svg
Labels: icons

#2761 Clean up trailing spaces
  app/assets/appfilter.xml
Labels: icons

#2762 +1 icon, +2 links
  app/assets/appfilter.xml
  svgs/postfinance.svg
Labels: icons

#2763 Bigger numbers for common issues
  docs/images/common-issues-to-fix.png
Labels: docs

#2765 Link to common issues in the Lawnicons guidelines
  CONTRIBUTING.md
Labels: docs

#2766 +21 icons, +3 links
  app/assets/appfilter.xml
  svgs/apple_tv.svg
  svgs/besoccer.svg
  svgs/callapp.svg
  svgs/coupang.svg
  svgs/document_reader.svg
  svgs/fake_chat_by_playfake.svg
  svgs/gfx_tool.svg
  svgs/hideu.svg
  svgs/hindi_news.svg
  svgs/house_flipper.svg
  svgs/mp3_video_converter.svg
  svgs/oitube.svg
  svgs/photodirector.svg
  svgs/pooking_billiards_city.svg
  svgs/rave.svg
  svgs/real_drum.svg
  svgs/samsung_daily_board.svg
  svgs/sharekaro.svg
  svgs/slide.svg
  svgs/truebalance.svg
  svgs/viki.svg
  svgs/xpark.svg
Labels: icons

#2767 +1 icon
  app/assets/appfilter.xml
  svgs/izzyondroid.svg
Labels: icons

#2770 +7 links
  app/assets/appfilter.xml
  svgs/hideu.svg
Labels: icons

#2772 +19 links, 1 changed link, QA
  app/assets/appfilter.xml
Labels: icons

#2782 Update my profile
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/destination/About.kt
Labels: code

#2783 +18 icons, +3 links
  app/assets/appfilter.xml
  svgs/bubble_shooter.svg
  svgs/cashem_all.svg
  svgs/chamet.svg
  svgs/cryptomania.svg
  svgs/dancing_road_color_ball_run.svg
  svgs/dramabox.svg
  svgs/dream_piano.svg
  svgs/eyecon.svg
  svgs/findmykids.svg
  svgs/fixplus.svg
  svgs/free_vpn_super.svg
  svgs/glow_hockey.svg
  svgs/iq_option.svg
  svgs/j_and_t.svg
  svgs/josh.svg
  svgs/melon.svg
  svgs/nba_live.svg
  svgs/newspoint.svg
Labels: icons

#2788 +192 links
  app/assets/appfilter.xml
  svgs/caelus_icons.svg
  svgs/chatsmock.svg
Labels: icons

#2789 +183 links
  app/assets/appfilter.xml
  svgs/costco.svg
  svgs/godot.svg
Labels: icons

#2792 +1 link
  app/assets/appfilter.xml
Labels: icons

#2800 +1 link
  app/assets/appfilter.xml
Labels: icons

#2801 Moto Feedback fix
  app/assets/appfilter.xml
  svgs/moto_feedback.svg
Labels: icons

#2807 Add link for China Mobile Zhejiang
  app/assets/appfilter.xml
Labels: icons

#2806 Add icon for Rune
  app/assets/appfilter.xml
  svgs/rune.svg
Labels: icons

#2810 +15 icons
  app/assets/appfilter.xml
  svgs/air_hockey_challenge.svg
  svgs/amaze.svg
  svgs/applock_pro.svg
  svgs/applock_pro_by_apps360.svg
  svgs/asus_themes.svg
  svgs/asus_webstorage.svg
  svgs/badminton_league.svg
  svgs/blend_it_3d.svg
  svgs/callbreak_com.svg
  svgs/color_page_asmr.svg
  svgs/dominoes.svg
  svgs/dumpster.svg
  svgs/eyes.svg
  svgs/limeroad.svg
  svgs/mobizen.svg
  svgs/monster_legends.svg
Labels: icons

#2803 +5 icons, +1 link
  app/assets/appfilter.xml
  svgs/_1v1_lol.svg
  svgs/clone_hero.svg
  svgs/echo.svg
  svgs/narrow_arrow.svg
  svgs/parkrun_virtual_volunteer.svg
Labels: rework, icons

#2817 +1 Link
  app/assets/appfilter.xml
Labels: icons

#2821 +19 links, 2 changed links, QA
  app/assets/appfilter.xml
  svgs/rizline_cn.svg
Labels: icons

#2825 +1 icon, QA
  app/assets/appfilter.xml
  svgs/adblock.svg
  svgs/akulaku.svg
  svgs/altt.svg
  svgs/bunq.svg
  svgs/cut_the_rope.svg
  svgs/dailymotion.svg
  svgs/dineout.svg
  svgs/flow_free.svg
  svgs/focus_video.svg
  svgs/gaia_gps.svg
  svgs/gosusligi_culture.svg
  svgs/gotyme_bank.svg
  svgs/http_injector.svg
  svgs/magalu.svg
  svgs/mojietu.svg
  svgs/my_oldboy.svg
  svgs/nvidia_geforce_now.svg
  svgs/tsavaari.svg
Labels: icons

#2827 + 3 icons, + 1 link
  app/assets/appfilter.xml
  svgs/eqfy_equalizer_for_spotify.svg
  svgs/shortx_plus.svg
  svgs/wikireader.svg
Labels: icons

#2831 Fix the warning for use-site for @DrawableRes
  app/src/main/kotlin/app/lawnchair/lawnicons/ui/util/ExternalLink.kt
Labels: code

#2832 +1 link
  app/assets/appfilter.xml
Labels: icons
